<h1 class="mb-xs-10 text-xs-center">Done!</h1>
<div class="p-xs-30">
	<div class="text-xs-center pl-xs-50 pr-xs-50">
    <p>We versturen nu een mail met de activatiecode naar de client. Let op dat de senior de juiste instructies krijgt, misschien kan je hem/haar noh helpen met het opstarten?</p>
    <p>Wil je de activatiecode vesturen naar: <br> <a href="#!">elaha@diodesign.pl</a></p>
	</div>
	<div class="btn-panel row middle-xs center-xs mt-xs-50">
		<div class="ml-xs-10 mr-xs-10">
			<a href="#!">cancel</a>
    </div>
    <div class="ml-xs-10 mr-xs-10">
			<a (click)="closeParentModal()" class="btn btn-secondary">Stuur email</a>
		</div>
	</div>
</div>