<ion-content no-bounce>
    <div class="content-details">
      <ion-slides loop="true" pager="true">
        <ion-slide>
          <div class="img-slide col-xs-auto">
            <img src="assets/img/sliders/tour02.png" />
          </div>
          <div class="text-slide">
            <div class="container">
              <h3>How it works</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus magni, soluta enim voluptas beatae aspernatur consequuntur atque provident tempora assumenda aperiam optio ipsam repudiandae eaque cum quasi, molestiae ipsum blanditiis.</p>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="img-slide col-xs-auto">
            <img src="assets/img/sliders/tour02.png" />
          </div>
          <div class="text-slide">
            <div class="container">
              <h3>How it works</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus magni, soluta enim voluptas beatae aspernatur consequuntur atque provident tempora assumenda aperiam optio ipsam repudiandae eaque cum quasi, molestiae ipsum blanditiis.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dolor reiciendis, molestias beatae magni, impedit quos hic unde, cumque modi omnis a iure, quas laudantium. Assumenda nulla deserunt impedit nihil.</p>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="img-slide col-xs-auto">
            <img src="assets/img/sliders/tour02.png" />
          </div>
          <div class="text-slide">
            <div class="container">
              <h3>How it works</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus magni, soluta enim voluptas beatae aspernatur consequuntur atque provident tempora assumenda aperiam optio ipsam repudiandae eaque cum quasi, molestiae ipsum blanditiis.</p>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
      <div class="slider-navigator row middle-xs between-xs">
        <a (click)="skipPage()">Skip</a>
        <div>
          <button (click)="slideNext()" class="btn btn-secondary">Next</button>
        </div>
      </div>
    </div>
  </ion-content>
  