page-tour-senior {
	ion-slides {
		height: calc( 100vh - 60px );

		.swiper-container {
			.slide-zoom {
				height: 100%;
				display: -webkit-box;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				        flex-direction: column;
				-webkit-flex-wrap: wrap;
				-ms-flex-wrap: wrap;
				        flex-wrap: wrap;

				.img-slide {
					display: -webkit-box;
					display: -webkit-flex;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: end;
					-webkit-align-items: flex-end;
					-ms-flex-align: end;
					        align-items: flex-end;
					-webkit-box-pack: center;
					-webkit-justify-content: center;
					-ms-flex-pack: center;
					        justify-content: center;
					-webkit-flex-wrap: wrap;
					-ms-flex-wrap: wrap;
					        flex-wrap: wrap;
				}

				.text-slide {
					background: #fff;
					text-align: left;
					padding: 20px 0;

					.container {
						max-width: 750px;
						margin: 0 auto;
					}
				}
			}

			.swiper-pagination {
				bottom: 0;

				.swiper-pagination-bullet-active {
					background: $secondary;
				}
			}
		}
	}

	.slider-navigator {
		background: #fff;
		padding: 0 20px 20px;
	}
}
