<ion-content no-bounce>
	<div class="content-details">
		<div class="row">
			<side-menu></side-menu>
			<div class="right-content bg-white col-xs-auto">
				<div class="top-title row middle-xs between-xs">
					<h1>Notifications</h1>
				</div> <!-- end of .top-title -->
				<div class="notifications-list">
					<div class="notification-item active">
						<div class="row">
							<div class="profile-picture small square" style="background-image: url( 'assets/img/profile-pictures/sample01.jpg' );"></div>
							<div class="details">
								<div><strong>Laura de Groot</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit...</div>
								<div class="notif-date row middle-xs">
									<div class="icon"><i class="icon-time"></i></div>
									<div class="text">28 Aug 2017</div>
								</div>
							</div>
						</div>
					</div>
					<div class="notification-item active">
						<div class="row">
							<div class="profile-picture small square" style="background-image: url( 'assets/img/profile-pictures/sample01.jpg' );"></div>
							<div class="details">
								<div><strong>Laura de Groot</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit...</div>
								<div class="notif-date row middle-xs">
									<div class="icon"><i class="icon-time"></i></div>
									<div class="text">28 Aug 2017</div>
								</div>
							</div>
						</div>
					</div>
					<div class="notification-item active">
						<div class="row">
							<div class="profile-picture small square" style="background-image: url( 'assets/img/profile-pictures/sample01.jpg' );"></div>
							<div class="details">
								<div><strong>Laura de Groot</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit...</div>
								<div class="notif-date row middle-xs">
									<div class="icon"><i class="icon-time"></i></div>
									<div class="text">28 Aug 2017</div>
								</div>
							</div>
						</div>
					</div>
					<div class="notification-item active">
						<div class="row">
							<div class="profile-picture small square" style="background-image: url( 'assets/img/profile-pictures/sample01.jpg' );"></div>
							<div class="details">
								<div><strong>Laura de Groot</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit...</div>
								<div class="notif-date row middle-xs">
									<div class="icon"><i class="icon-time"></i></div>
									<div class="text">28 Aug 2017</div>
								</div>
							</div>
						</div>
					</div>
					<div class="notification-item">
						<div class="row">
							<div class="profile-picture small square" style="background-image: url( 'assets/img/profile-pictures/sample01.jpg' );"></div>
							<div class="details">
								<div><strong>Laura de Groot</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit...</div>
								<div class="notif-date row middle-xs">
									<div class="icon"><i class="icon-time"></i></div>
									<div class="text">28 Aug 2017</div>
								</div>
							</div>
						</div>
					</div>
					<div class="notification-item">
						<div class="row">
							<div class="profile-picture small square" style="background-image: url( 'assets/img/profile-pictures/sample01.jpg' );"></div>
							<div class="details">
								<div><strong>Laura de Groot</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit...</div>
								<div class="notif-date row middle-xs">
									<div class="icon"><i class="icon-time"></i></div>
									<div class="text">28 Aug 2017</div>
								</div>
							</div>
						</div>
					</div>
					<div class="notification-item">
						<div class="row">
							<div class="profile-picture small square" style="background-image: url( 'assets/img/profile-pictures/sample01.jpg' );"></div>
							<div class="details">
								<div><strong>Laura de Groot</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit...</div>
								<div class="notif-date row middle-xs">
									<div class="icon"><i class="icon-time"></i></div>
									<div class="text">28 Aug 2017</div>
								</div>
							</div>
						</div>
					</div>
					<div class="notification-item">
						<div class="row">
							<div class="profile-picture small square" style="background-image: url( 'assets/img/profile-pictures/sample01.jpg' );"></div>
							<div class="details">
								<div><strong>Laura de Groot</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit...</div>
								<div class="notif-date row middle-xs">
									<div class="icon"><i class="icon-time"></i></div>
									<div class="text">28 Aug 2017</div>
								</div>
							</div>
						</div>
					</div>
					<div class="notification-item">
						<div class="row">
							<div class="profile-picture small square" style="background-image: url( 'assets/img/profile-pictures/sample01.jpg' );"></div>
							<div class="details">
								<div><strong>Laura de Groot</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit...</div>
								<div class="notif-date row middle-xs">
									<div class="icon"><i class="icon-time"></i></div>
									<div class="text">28 Aug 2017</div>
								</div>
							</div>
						</div>
					</div>
					<div class="notification-item">
						<div class="row">
							<div class="profile-picture small square" style="background-image: url( 'assets/img/profile-pictures/sample01.jpg' );"></div>
							<div class="details">
								<div><strong>Laura de Groot</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit...</div>
								<div class="notif-date row middle-xs">
									<div class="icon"><i class="icon-time"></i></div>
									<div class="text">28 Aug 2017</div>
								</div>
							</div>
						</div>
					</div>
					<div class="notification-item">
						<div class="row">
							<div class="profile-picture small square" style="background-image: url( 'assets/img/profile-pictures/sample01.jpg' );"></div>
							<div class="details">
								<div><strong>Laura de Groot</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit...</div>
								<div class="notif-date row middle-xs">
									<div class="icon"><i class="icon-time"></i></div>
									<div class="text">28 Aug 2017</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ion-content>