page-notifications {
	.notifications-list {
		height: calc( 100vh - 75px );
		overflow-y: auto;
		
		.notification-item {
			padding: 15px 20px;
			border-bottom: 1px solid #f1f1f1;

			.profile-picture {
				margin: 0 15px 0 0;
			}

			.notif-date {
				color: $primary;
				font: 0.857em/1.45 $baseFont;

				.icon {
					margin: 0 5px 0 0;
				}
			}

			&.active {
				background: #f0f7fb;
			}
		}
	}
}
