<ion-content no-bounce>
	<div class="signInWelcome-page">
		<div class="content-details row middle-xs center-xs">
			<div class="signInWelcome-details pt-xs-30 pb-xs-30 pl-xs-50 pr-xs-50">
				<h1 class="text-xs-center">Welcome Meneer Janssen,</h1>
				<div class="row center-xs">
					<div class="icon-welcome"></div>
				</div>
				<p class="text-xs-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum ex, deserunt. Ut, neque! Doloribus atque quod sunt itaque, officia quaerat esse similique doloremque quasi ex soluta adipisci illo ea quas? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident repellat inventore, ab perspiciatis neque architecto rerum expedita commodi ipsam rem dolores, quas at dicta voluptas error vero ullam quam perferendis.</p>
				<div class="btn-panel row middle-xs center-xs mt-xs-50">
					<div class="mr-xs-10">
						<a (click)="goInstallPass()">Go back</a>
					</div>
					<div class="ml-xs-10">
						<a (click)="signinPersonalInfo()" class="btn btn-secondary">Continue</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</ion-content>