page-signin-welcome {
	.signInWelcome-page {
		.content-details {
			.signInWelcome-details {
				background: #fff;
				width: 100%;
				max-width: 600px;
				margin: 0 auto;
				box-shadow: 0 0 10px -4px #000;
				border-radius: 5px;

				.icon-welcome {
					color: #e4e9ec;
					font: 7.143em/1.45 'Fontello';
				}

				p {
					color: #808080;
				}
			}
		}
	}
}
