<div class="row center-xs middle-xs form-navigator mb-xs-30">
	<div class="form-navigator-line">
		<div class="form-navigator-progress" style="width: 50%;"></div>
	</div>
	<div class="col-xs-4 navigator-item row direction-column-xs center-xs middle-xs">
		<div class="icon-container icon-primary"><i class="icon-check"></i></div>
		<div class="text">Personal Info</div>
	</div>
	<div class="col-xs-4 navigator-item row direction-column-xs center-xs middle-xs">
		<div class="icon-container icon-border-primary"><i class="icon-check"></i></div>
		<div class="text">Program</div>
	</div>
	<div class="col-xs-4 navigator-item row direction-column-xs center-xs middle-xs">
		<div class="icon-container icon-border-primary"><i class="icon-check"></i></div>
		<div class="text">Personal Info</div>
	</div>
</div>
<h1 class="mb-xs-10 text-xs-center">Personal Information</h1>
<div class="bg-gray p-xs-30">
	<div class="form-group">
		<div class="row">
			<div class="col-xs-4">
				<label for="personal_goal"><strong>Personal Goal</strong></label>
			</div>
			<div class="col-xs-auto">
				<textarea></textarea>
			</div>
		</div>
	</div> <!-- end of .form-group -->
	<div class="form-group">
		<div class="row">
			<div class="col-xs-4">
				<label for="choose_picture"><strong>Choose Picture</strong></label>
			</div>
			<div class="col-xs-auto">
				<div class="pictures-list row middle-xs">
					<div class="picture-item small" style="background-image: url( 'assets/img/backgrounds/main.jpg' );"></div>
					<div class="picture-item small" style="background-image: url( 'assets/img/backgrounds/main.jpg' );"></div>
					<div class="picture-item small" style="background-image: url( 'assets/img/backgrounds/main.jpg' );"></div>
				</div>
				<div class="btn-panel row middle-xs">
					<div>
						<div class="btn-photo-folder">
							<input type="file" />
							<label for="photo_folder">Open photo folder</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="btn-panel row middle-xs center-xs mt-xs-30">
	<div>
		<a (click)="chooseProgram()" class="btn btn-secondary">Next</a>
	</div>
</div>
