page-activate-code {
	.activation-page {
		.content-details {
			.activation-form {
				background: #fff;
				width: 100%;
				max-width: 410px;
				margin: 0 auto;
				box-shadow: 0 0 10px -4px #000;
				border-radius: 5px;

				.codes {
					.code-item {
						width: 60px;
						margin: 0 5px;

						input[type=text] {
							width: 100%;
							height: 70px;
							text-align: center;
							font: 1.714em/1.45 $baseFontBlack;
						}
					}
				}
			}

			.have-account {
				a {
					font: 1.286em/1.45 $baseFont;
					color: #fff;
				}
			}
		}
	}
}
