<ion-content no-bounce>
	<div class="activation-page">
		<div class="content-details row middle-xs center-xs direction-column-xs">
			<div class="activation-form p-xs-30">
				<h1 class="text-xs-center">Activation Code</h1>
				<p class="text-xs-center">You will receive an activation code via your physiotherapist.</p>
				<div class="codes row center-xs middle-xs mt-xs-30 mb-xs-30">
					<div class="code-item form-group">
						<input type="text" maxlength="1" />
					</div>
					<div class="code-item form-group">
						<input type="text" maxlength="1" />
					</div>
					<div class="code-item form-group">
						<input type="text" maxlength="1" />
					</div>
					<div class="code-item form-group">
						<input type="text" maxlength="1" />
					</div>
				</div> <!-- end of .codes -->
				<div class="btn-panel row middle-xs center-xs">
					<div>
						<button (click)="installPass()" class="btn btn-secondary">Send</button>
					</div>
				</div>
			</div> <!-- end of .activation-form -->
			<div class="have-account mt-xs-20">
				<a (click)="loginPage()">I already have an account</a>
			</div>
		</div>
	</div>
</ion-content>