<ion-content no-bounce>
	<div class="content-details">
		<div class="row">
			<side-menu></side-menu>
			<div class="right-content bg-white col-xs-auto">
				<div class="top-title row middle-xs between-xs">
					<div class="logo-container">
						<img src="assets/img/logos/otago-next.png" />
					</div>
				</div> <!-- end of .top-title -->
				<div class="p-xs-50">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium esse minus cupiditate amet corrupti laudantium natus soluta dolorem qui nisi porro, hic. Quidem temporibus, sed omnis excepturi, 
					error distinctio tenetur?</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis sed, praesentium impedit sint cupiditate laboriosam quod, adipisci harum inventore quo animi delectus ducimus! Excepturi repellendus officia, itaque, reprehenderit deleniti aliquam!</p>
					<div class="bg-grayDarker more-about mt-xs-50 p-xs-20">
						<h3 class="mb-xs-10">More About</h3>
						<ul>
							<li>
								<a href="#!">Link 1</a>
							</li>
							<li>
								<a href="#!">Link 2</a>
							</li>
							<li>
								<a href="#!">Link 3</a>
							</li>
							<li>
								<a href="#!">Link 4</a>
							</li>
							<li>
								<a href="#!">Link 5</a>
							</li>
							<li>
								<a href="#!">Link 6</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</ion-content>