<ion-content no-bounce>
	<div class="content-details">
		<div class="row">
			<side-menu-senior></side-menu-senior>
			<div class="right-content col-xs-auto row direction-column-xs">
				<div class="greetings col-xs-auto row middle-xs center-xs pr-xs-50 pl-xs-50">
					<div>
						<h1 class="text-white text-xs-center mb-xs-30">"To be able to take a walks with my<br/>grandchildren again"</h1>
						<div class="btn-panel row middle-xs center-xs">
							<a (click)="goSchedule()" class="btn btn-secondary"><span class="icon"><i class="icon-start"></i></span>Start Now</a>
						</div>
					</div>
				</div>
				<div class="accordion-training pt-xs-20 pb-xs-20 pl-xs-30 pr-xs-30">
					<!-- <div class="pt-xs-20 pb-xs-50">
						<h2 class="mb-xs-20">Aww too bad u skipped this assignment. Do you want to bring it back.</h2>
						<a href="#!">Restart assignment</a>
					</div> -->
					<ion-slides loop="true" spaceBetween=10>
						<ion-slide>
							<div class="row end-xs">
								<button class="btn-favorite">
									<span class="text"><strong>save</strong></span>
									<span class="icon"><i class="icon-favorite"></i></span>
								</button>
							</div>
							<div class="row middle-xs">
								<div class="slider-details col-xs-auto">
									<div class="training-title row middle-xs mb-xs-10">
										<h2 class="day text-xs-left">Day 1</h2>
										<h2 class="title">Convince Someone</h2>
									</div>
									<p class="text-xs-left">When you are asked to convince someone else to use the OTAGO program, what would you say to convince the other person?</p>
									<div class="form-group">
										<input type="text" />
									</div>
									<div class="btn-panel row middle-xs mb-xs-20">
										<div class="mr-xs-10"><button class="btn btn-secondary">Confirm</button></div>
										<a href="#!">Skip</a>
									</div>
									<div class="row middle-xs mb-xs-20">
										<div class="mr-xs-30">
											<h3>You can do this!</h3>
										</div>
										<a href="#!">fill in again</a>
									</div>
								</div>
								<div (click)="slideNext()" class="next-slide"><i class="icon-arrow2"></i></div>
							</div>
						</ion-slide>
						<ion-slide>
							<div class="row end-xs">
								<button class="btn-favorite">
									<span class="text"><strong>save</strong></span>
									<span class="icon"><i class="icon-favorite"></i></span>
								</button>
							</div>
							<div class="row middle-xs">
								<div (click)="slidePrev()" class="prev-slide"><i class="icon-arrow2"></i></div>
								<div class="slider-details col-xs-auto">
									<div class="training-title row middle-xs mb-xs-10">
										<h2 class="day text-xs-left">Day 2</h2>
										<h2 class="title">What if you fall?</h2>
									</div>
									<p class="text-xs-left">When you are asked to convince someone else to use the OTAGO program, what would you say to convince the other person?</p>
									<div class="btn-panel row middle-xs mb-xs-20">
										<div class="mr-xs-20">
											<button class="btn btn-secondary">Get up</button>
										</div>
										<div class="mr-xs-20">
											<button class="btn btn-secondary">Stay down</button>
										</div>
										<div class="mr-xs-10">
											<button class="btn btn-secondary">Call someone</button>
										</div>
										<a href="#!">Skip</a>
									</div>
								</div>
								<div (click)="slideNext()" class="next-slide"><i class="icon-arrow2"></i></div>
							</div>
						</ion-slide>
						<ion-slide>
							<div class="row end-xs">
								<button class="btn-favorite">
									<span class="text"><strong>save</strong></span>
									<span class="icon"><i class="icon-favorite"></i></span>
								</button>
							</div>
							<div class="row middle-xs">
								<div (click)="slidePrev()" class="prev-slide"><i class="icon-arrow2"></i></div>
								<div class="slider-details col-xs-auto">
									<div class="training-title row middle-xs mb-xs-10">
										<h2 class="day text-xs-left">Day 2</h2>
										<h2 class="title">Very good!</h2>
									</div>
									<p class="text-xs-left">When you are asked to convince someone else to use the OTAGO program, what would you say to convince the other person?</p>
									<div class="btn-panel row middle-xs mb-xs-20">
										<div class="mr-xs-20">
											<button class="btn btn-secondary" (click)="explanation()">Explanation</button>
										</div>
									</div>
								</div>
								<div (click)="slideNext()" class="next-slide"><i class="icon-arrow2"></i></div>
							</div>
						</ion-slide>
						<ion-slide>
							<div class="row end-xs">
								<button class="btn-favorite">
									<span class="text"><strong>save</strong></span>
									<span class="icon"><i class="icon-favorite"></i></span>
								</button>
							</div>
							<div class="row middle-xs">
								<div (click)="slidePrev()" class="prev-slide"><i class="icon-arrow2"></i></div>
								<div class="slider-details col-xs-auto">
									<div class="training-title row middle-xs mb-xs-10">
										<h2 class="day text-xs-left">Day 3</h2>
										<h2 class="title">Motivatie</h2>
									</div>
									<p class="text-xs-left">When you are asked to convince someone else to use the OTAGO program, what would you say to convince the other person?</p>
									<div class="range mb-xs-20">
										<ion-range color="primary" pin="false"></ion-range>
										<div class="row middle-xs between-xs pl-xs-20 pr-xs-20">
											<p><strong>Niet gemotiveerd</strong></p>
											<p><strong>Heel gemotiveerd</strong></p>
										</div>
									</div>
									<div class="btn-panel row middle-xs mb-xs-20">
										<div class="mr-xs-20">
											<button class="btn btn-secondary">
												<span class="icon"><i class="icon-send"></i></span>
												<span class="text">Send</span>
											</button>
										</div>
										<a href="#!">Skip</a>
									</div>
								</div>
								<div (click)="slideNext()" class="next-slide"><i class="icon-arrow2"></i></div>
							</div>
						</ion-slide>
						<ion-slide>
							<div class="row end-xs">
								<button class="btn-favorite">
									<span class="text"><strong>save</strong></span>
									<span class="icon"><i class="icon-favorite"></i></span>
								</button>
							</div>
							<div (click)="slidePrev()" class="prev-slide"><i class="icon-arrow2"></i></div>
							<div class="slider-details col-xs-auto">
								<div class="training-title row middle-xs mb-xs-10">
									<h2 class="day text-xs-left">Day 4</h2>
									<h2 class="title">Inspiratie nodig</h2>
								</div>
								<p class="text-xs-left">When you are asked to convince someone else to use the OTAGO program, what would you say to convince the other person?</p>
								<div class="btn-panel row middle-xs mb-xs-20">
									<div class="mr-xs-20">
										<button class="btn btn-secondary">
											<span class="icon"><i class="icon-start"></i></span>
											<span class="text">bekijk video</span>
										</button>
									</div>
								</div>
							</div>
							<div (click)="slideNext()" class="next-slide"><i class="icon-arrow2"></i></div>
						</ion-slide>
						<ion-slide>
							<div class="row end-xs">
								<button class="btn-favorite">
									<span class="text"><strong>save</strong></span>
									<span class="icon"><i class="icon-favorite"></i></span>
								</button>
							</div>
							<div (click)="slidePrev()" class="prev-slide"><i class="icon-arrow2"></i></div>
							<div class="slider-details col-xs-auto">
								<div class="training-title row middle-xs mb-xs-10">
									<h2 class="day text-xs-left">Day 5</h2>
									<h2 class="title">De mooie dingen</h2>
								</div>
								<p class="text-xs-left">When you are asked to convince someone else to use the OTAGO program, what would you say to convince the other person?</p>
								<div class="repeater mb-xs-20">
									<div class="repeat-item row middle-xs">
										<ion-item>
											<ion-input placeholder="Lorem Ipsum"></ion-input>
										</ion-item>
									</div>
									<div class="repeat-item row middle-xs">
										<ion-item>
											<ion-input placeholder="Lorem Ipsum"></ion-input>
										</ion-item>
										<div class="remove-item"><i class="icon-close"></i></div>
									</div>
								</div>
								<div class="btn-panel row middle-xs mb-xs-20">
									<div class="mr-xs-20">
										<button class="btn btn-secondary">
											<span class="icon"><i class="icon-send"></i></span>
											<span class="text">Send</span>
										</button>
									</div>
									<a href="#!">Skip</a>
								</div>
							</div>
							<div (click)="slideNext()" class="next-slide"><i class="icon-arrow2"></i></div>
						</ion-slide>
					</ion-slides>
					<a (click)="allChallenges()" class="row middle-xs center-xs assignments">
						<span class="icon"><i class="icon-arrow2"></i></span>
						<span class="text">All assignments</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</ion-content>