page-home {
	.right-content {
		height: 100vh;
		overflow-y: auto;

		.accordion-training {
			background: #fff;

			.btn-favorite {
				background: transparent;
				appearance: none;
				border-radius: 0;
			}

			.training-title {
				.day {
					width: 110px;
				}
			}

			.assignments {
				.icon {
					transform: rotate( -90deg );
					margin: 0 10px 0 0;
				}
			}

			.slide-zoom {
				position: relative;

				.slider-details {
					padding: 0 80px;
				}

				.prev-slide {
					font-size: 1.714em;
					transform: rotate( 180deg );
					position: absolute;
					top: 100px;
					left: -10px;
				}

				.next-slide {
					font-size: 1.714em;
					position: absolute;
					top: 100px;
					right: -10px;
				}
			}

			.range {
				.range {
					padding: 0 20px;
				}
			}

			.btn {
				display: flex;
				align-items: center;

				.icon {
					margin: 0 10px 0 0;
				}
			}

			.repeater {
				counter-reset: repeater;

				.repeat-item {
					counter-increment: repeater;
					margin: 0 0 15px;

					&:before {
						content: counter( repeater );
						font-weight: bold;
					}

					.item-input {
						padding: 0;
						width: calc( 100% - 100px );
						margin: 0 30px;
					}

					.remove-item {
						width: 25px;
						height: 25px;
						border-radius: 50%;
						background: #000;
						color: #fff;
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 0.571em;
					}
				}
			}
		}
	}
}
