page-training {
	.bg-slant {
		background: #fff;
		width: 95%;
		height: 95%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		z-index: 1;
		transform: rotate( 2deg );
	}

	.modal-area {
		width: 95%;
		height: 95%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		z-index: 2;

		.content-modal {
			border-radius: 0;

			.ion-page {
				.training-details {
					height: 100%;
					position: relative;

					.form-navigator {
						position: relative;

						.navigator-item {
							color: $primary;
							position: relative;
							z-index: 2;

							.icon-container {
								margin: 0 0 5px;
							}
						}

						.form-navigator-line {
							background: #eff3f3;
							height: 3px;
							width: 85%;
							position: absolute;
							top: 15px;
							left: 0;
							right: 0;
							margin: 0 auto;
							z-index: 2;

							.form-navigator-progress {
								background: $primary;
								height: 3px;
							}
						}
					}

					.bg-gray {
						margin: 0 -30px;
					}

					.experiences-list {
						.experience-item {
							.icon {
								font: 3.571em/1.45 'Fontello';
							}
						}
					}

					.info-details {
						position: absolute;
						bottom: -5px;
						left: -15px;
					}
				}
			}
		}
	}
}
