<div class="bg-slant"></div>
<div class="modal-area no-radius row center-xs middle-xs" (customevent)="modalClose()">
	<div class="content-modal">
		<div class="close-modal row middle-xs" (click)="modalClose()">
			<div class="text">Close</div>
			<div class="icon"><i class="icon-close"></i></div>
		</div> <!-- end of .close-modal -->
		<ion-nav [root]="rootModal"></ion-nav>
	</div> <!-- end of .content-modal -->
</div>