<div class="sidebar row direction-column-xs between-xs">
  <div class="menu-navigation">
    <a class="nav-links mb-xs-30 active" (click)="goClientPage()">
      <span class="icon row middle-xs center-xs"><i class="icon-menu_clients"></i></span>
      <span class="text">Clients</span>
    </a>
    <a class="nav-links mb-xs-30" (click)="goProfilePage()">
      <span class="icon row middle-xs center-xs"><i class="icon-menu_profile"></i></span>
      <span class="text">Profile</span>
    </a>
    <a class="nav-links mb-xs-30" (click)="goAboutPage()">
      <span class="icon row middle-xs center-xs"><i class="icon-information"></i></span>
      <span class="text">About<br/>Otago</span>
    </a>
    <a class="nav-links mb-xs-30">
      <span class="icon row middle-xs center-xs"><i class="icon-menu_chat"></i></span>
      <span class="text">Chat</span>
    </a>
  </div>
  <div class="notification">
    <div class="nav-links mb-xs-10" (click)="goNotifPage()">
      <div class="icon row middle-xs center-xs">
        <div class="notif-count row middle-xs center-xs">5</div>
        <i class="icon-notification"></i>
      </div>
      <div class="text">Notifications</div>
    </div>
  </div>
</div> <!-- end of .sidebar -->