page-senior-profile {
  .plans-list {
		background: #fff;
		box-shadow: 0 1px 10px -6px #000;

		.plan-item {
			padding: 10px 20px;
			border-bottom: 1px solid #f8f8f8;
			color: #686868;

			.training-title, .date {
				margin: 0 100px 0 0;
			}
		}
	}
}
