<ion-content no-bounce>
	<div class="content-details">
		<div class="row">
			<side-menu-senior></side-menu-senior>
			<div class="left-content pt-xs-30 pb-xs-30 row between-xs direction-column-xs">
				<div class="pl-xs-20 pr-xs-20">
					<div class="row middle-xs center-xs">
						<div class="profile-picture large" style="background-image: url( 'assets/img/profile-pictures/sample01.jpg' );"></div>
					</div>
					<h3 class="mt-xs-30 text-xs-center">Truus de Groot</h3>
					<p class="text-xs-center mt-xs-10">"To be able to take walks with my grandchilren again."</p>
				</div>
				<div class="pr-xs-20 pl-xs-20">
					<a (click)="editProfile()" class="edit-profile btn btn-block">Edit Profile</a>
				</div>
			</div> <!-- end of .left-content -->
			<div class="right-content bg-gray col-xs-auto">
				<div class="top-title row middle-xs between-xs">
					<h3>Profile</h3>
					<div>
						<button class="btn btn-secondary" (click)="logout()">
							<span class="icon"><i class="icon-logout"></i></span>
							<span class="text">Log out</span>
						</button>
					</div>
				</div> <!-- end of .top-title -->
				<div class="p-xs-50">
					<h2 class="mb-xs-10">Planning</h2>
					<div class="plans-list">
						<div class="plan-item">
							<div class="row middle-xs">
								<div class="date text-xs-center">
									<h2>22</h2>
									<div class="month">June</div>
								</div>
								<div class="time col-xs-auto">
									<div>12:00</div>
									<h3>Meeting with Janssen</h3>
								</div>
							</div>
						</div>
						<div class="plan-item">
							<div class="row middle-xs">
								<div class="date text-xs-center">
									<h2>22</h2>
									<div class="month">June</div>
								</div>
								<div class="time col-xs-auto">
									<div>12:00</div>
									<h3>Meeting with Janssen</h3>
								</div>
							</div>
						</div>
					</div>
        </div>
        <div class="p-xs-50">
					<h2 class="mb-xs-10">Training</h2>
					<div class="plans-list">
						<div class="plan-item">
							<div class="row middle-xs">
								<div class="training-title text-xs-center">
                  <div class="icon-container icon-border-primary">
                    <i class="icon-walk"></i>
                  </div>
								</div>
								<div class="col-xs-auto">
									<h3>Walk Program</h3>
                </div>
                <div class="col-xs-auto">
									<div><i class="icon-time"></i> 2x per week, 30 min</div>
                </div>
                <div><i class="icon-arrow2"></i></div>
							</div>
            </div>
            
            <div class="plan-item">
							<div class="row middle-xs">
								<div class="training-title text-xs-center">
                  <div class="icon-container icon-border-primary">
                    <i class="icon-strenght"></i>
                  </div>
								</div>
								<div class="col-xs-auto">
									<h3>Otago Training</h3>
                </div>
                <div class="col-xs-auto">
									<div><i class="icon-time"></i> 3x per week, 30min</div>
                </div>
                <div><i class="icon-arrow2"></i></div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- end of .right-content -->
		</div>
	</div>
</ion-content>
