<div class="training-details row direction-column-xs between-xs">
	<div>
		<h1 class="text-xs-center mb-xs-30">Before we start!</h1>
		<p class="text-xs-center mb-xs-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, beatae temporibus atque deleniti voluptas quidem illo exercitationem corporis ullam, ad a unde veniam necessitatibus tenetur. Pariatur reprehenderit ullam dicta accusamus.</p>
		<div class="bg-gray pt-xs-30 pb-xs-30 pr-xs-50 pl-xs-50">
			<h3 class="text-xs-center mb-xs-50">Contact your doctor or your therapist if you<br/>experience the following during an exercise.</h3>
			<div class="experiences-list col-xs-12 row center-xs">
				<div class="experience-item col-xs-4 text-xs-center">
					<div class="icon"><i class="icon-dizzy"></i></div>
					<div class="text">Dizziness</div>
				</div>
				<div class="experience-item col-xs-4 text-xs-center">
					<div class="icon"><i class="icon-pain"></i></div>
					<div class="text">Pain in the chest</div>
				</div>
				<div class="experience-item col-xs-4 text-xs-center">
					<div class="icon"><i class="icon-breath"></i></div>
					<div class="text">Shortness of breath</div>
				</div>
			</div>
		</div>
	</div>
	<div class="btn-panel row middle-xs center-xs">
		<div>
			<a (click)="goCheckin()" class="btn btn-secondary">Start</a>
		</div>
	</div>
</div>