<ion-content no-bounce>
	<div class="signInPersonalInfo-page">
		<div class="content-details row middle-xs center-xs">
			<div class="senior-signin-content pt-xs-30 pb-xs-30 pl-xs-50 pr-xs-50">
				<div class="row center-xs middle-xs form-navigator mb-xs-30">
                  <div class="form-navigator-line">
                    <div class="form-navigator-progress" style="width: 50%;"></div>
                  </div>
                  <div class="col-xs-4 navigator-item row direction-column-xs center-xs middle-xs">
                    <div class="icon-container icon-primary"><i class="icon-check"></i></div>
                    <div class="text">Personal Info</div>
                  </div>
                  <div class="col-xs-4 navigator-item row direction-column-xs center-xs middle-xs">
                    <div class="icon-container icon-primary"><i class="icon-check"></i></div>
                    <div class="text">Planning</div>
                  </div>
                  <div class="col-xs-4 navigator-item row direction-column-xs center-xs middle-xs">
                    <div class="icon-container icon-border-primary"><i class="icon-check"></i></div>
                    <div class="text">Check</div>
                  </div>
                </div>
                <h1 class="text-xs-center">Planning</h1>
                <p class="text-xs-center mb-xs-50">According to the advice of your physiotherapist, it is best if you take walks at least twice a week and</p>
                <div class="training-days">
                    <div class="training-item row middle-xs">
                        <div class="label row middle-xs">
                            <div class="icon-container icon-border-primary mr-xs-10"><i class="icon-strenght"></i></div>
                            <div class="text">Training(3x)</div>
                        </div>
                        <div class="days row middle-xs between-xs col-xs-auto">
                            <div class="day">Mo</div>
                            <div class="day active">Tu</div>
                            <div class="day">We</div>
                            <div class="day active">Th</div>
                            <div class="day">Fr</div>
                            <div class="day">Sa</div>
                            <div class="day">Su</div>
                        </div>
                    </div> <!-- end of .training-item -->
                    <div class="training-item row middle-xs">
                        <div class="label row middle-xs">
                            <div class="icon-container icon-border-primary mr-xs-10"><i class="icon-walk"></i></div>
                            <div class="text">Walks(2x)</div>
                        </div>
                        <div class="days row middle-xs between-xs col-xs-auto">
                            <div class="day active">Mo</div>
                            <div class="day">Tu</div>
                            <div class="day">We</div>
                            <div class="day">Th</div>
                            <div class="day active">Fr</div>
                            <div class="day">Sa</div>
                            <div class="day">Su</div>
                        </div>
                    </div> <!-- end of .training-item -->
                </div> <!-- end of .training-days -->
                <div class="btn-panel row middle-xs center-xs mt-xs-50">
                    <div class="mr-xs-10">
                        <a (click)="goSigninPersonalInfo()">Go back</a>
                    </div>
                    <div class="ml-xs-10">
                        <a (click)="goSigninCompleted()" class="btn btn-secondary">Continue</a>
                    </div>
                </div>
			</div>
		</div>
	</div>
</ion-content>