page-signin-planning {
	.form-navigator {
		position: relative;

		.navigator-item {
			color: $primary;
			position: relative;
			z-index: 2;

			.icon-container {
				margin: 0 0 5px;
			}
		}

		.form-navigator-line {
			background: #eff3f3;
			height: 3px;
			width: 65%;
			position: absolute;
			top: 15px;
			left: 0;
			right: 0;
			margin: 0 auto;
			z-index: 2;

			.form-navigator-progress {
				background: $primary;
				height: 3px;
			}
		}
	}

	.training-days {
		.training-item {
			margin: 0 0 30px;

			.label {
				width: 200px;
			}

			.days {
				.day {
					width: 40px;
					height: 30px;
					border-radius: 3px;
					border: 1px solid #dcdcdc;
					display: -webkit-box;
					display: -webkit-flex;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-webkit-align-items: center;
					-ms-flex-align: center;
					        align-items: center;
					-webkit-box-pack: center;
					-webkit-justify-content: center;
					-ms-flex-pack: center;
					        justify-content: center;
					text-transform: uppercase;
					font: 0.714em/1.45 $baseFont;

					&.active {
						background: $primary;
						border-color: $primary;
						color: #fff;
					}
				}
			}
		}
	}
}
