page-explanation-modal {
	.top-bar {
		background: #494949;
		padding: 15px 20px;
		color: #fff;

		.btn-favorite {
			background: transparent;
			appearance: none;
			border-radius: 0;
			color: #fff;
		}
	}

	.content-details {
		background: #fff;

		.left-col {
			padding: 20px 50px;

			.select-method {
				min-width: 150px;
				margin: 0;
			}

			.explanations-list {
				.explanation-item {
					margin: 0 0 30px;

					.icon {
						font-size: 5.000em;
						width: 120px;
					}

					.details {
						width: calc( 100% - 120px );

						ul {
							li {
								position: relative;
								padding: 0 0 0 20px;

								&:before {
									content: '';
									position: absolute;
									top: 5px;
									left: 0;
									display: block;
									width: 8px;
									height: 8px;
									border-radius: 100%;
									background: #000;
								}
							}
						}
					}
				}
			}
		}

		.right-col {
			padding: 20px 0;

			.contact {
				.icon {
					font-size: 1.714em;
				}
			}

			.explanationIcons-list {
				.explanationIcon-item {
					margin: 0 0 30px;

					.icon {
						font-size: 5.000em;
					}
				}
			}
		}
	}
}