<ion-header>
	<div class="top-bar">
		<div class="row middle-xs between-xs">
			<div class="close-modal row middle-xs" (click)="modalClose()">
				<div class="icon mr-xs-10"><i class="icon-close"></i></div>
				<div class="text">Close</div>
			</div> <!-- end of .close-modal -->
			<button class="btn-favorite">
				<span class="text"><strong>save</strong></span>
				<span class="icon"><i class="icon-favorite"></i></span>
			</button>
		</div>
	</div> <!-- end of .top-bar -->
</ion-header>
<ion-content no-bounce>
	<div class="content-details pb-xs-30">
		<div class="row">
			<div class="col-xs-9 left-col">
				<div class="row middle-xs between-xs mb-xs-10">
					<h3>Gevallen, wat nu?</h3>
					<div class="form-group select-method">
						<div class="dropdown">
							<select>
								<option value="method_1">Method 1</option>
								<option value="method_2">Method 2</option>
							</select>
						</div>
					</div>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente excepturi, ipsum. Quod assumenda cumque expedita, enim nam sit neque deserunt, pariatur nobis quidem quas, fugiat omnis natus adipisci repudiandae optio! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, debitis tempora vero quis architecto in quam aliquam voluptatibus fuga cupiditate, veniam saepe earum id! Nihil rem dolorum obcaecati! Adipisci, nam?</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente excepturi, ipsum. Quod assumenda cumque expedita, enim nam sit neque deserunt, pariatur nobis quidem quas, fugiat omnis natus adipisci repudiandae optio! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, debitis tempora vero quis architecto in quam aliquam voluptatibus fuga cupiditate, veniam saepe earum id! Nihil rem dolorum obcaecati! Adipisci, nam?</p>
				<div class="explanations-list">
					<div class="explanation-item row">
						<div class="icon"><i class="icon-falling_forward"></i></div>
						<div class="details">
							<h3 class="mb-xs-10">Wat doet u als u op uw buik ligt:</h3>
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quam similique, consequatur quibusdam officia consequuntur ullam. Amet praesentium esse, ab nostrum deleniti nesciunt velit provident, quo error pariatur, eius earum?</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quam similique, consequatur quibusdam officia consequuntur ullam. Amet praesentium esse, ab nostrum deleniti nesciunt velit provident, quo error pariatur, eius earum?</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quam similique, consequatur quibusdam officia consequuntur ullam. Amet praesentium esse, ab nostrum deleniti nesciunt velit provident, quo error pariatur, eius earum?</li>
							</ul>
						</div>
					</div> <!-- end of .explanation-item -->
					<div class="explanation-item row">
						<div class="icon"><i class="icon-falling_backward"></i></div>
						<div class="details">
							<h3 class="mb-xs-10">Wat doet u als u op uw buik ligt:</h3>
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quam similique, consequatur quibusdam officia consequuntur ullam. Amet praesentium esse, ab nostrum deleniti nesciunt velit provident, quo error pariatur, eius earum?</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quam similique, consequatur quibusdam officia consequuntur ullam. Amet praesentium esse, ab nostrum deleniti nesciunt velit provident, quo error pariatur, eius earum?</li>
								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quam similique, consequatur quibusdam officia consequuntur ullam. Amet praesentium esse, ab nostrum deleniti nesciunt velit provident, quo error pariatur, eius earum?</li>
							</ul>
						</div>
					</div> <!-- end of .explanation-item -->
				</div>
			</div>
			<div class="col-xs-3 right-col text-xs-center">
				<div class="contact">
					<div class="icon text-warning">
						<i class="icon-caution"></i>
					</div>
					<p><strong>Zoek contact met je</strong></p>
					<p><strong>fysiotherapeut als:</strong></p>
					<div class="explanationIcons-list">
						<div class="explanationIcon-item">
							<div class="icon"><i class="icon-pain"></i></div>
							<p>Pain in the chest</p>
						</div>
						<div class="explanationIcon-item">
							<div class="icon"><i class="icon-breath"></i></div>
							<p>Shortness of breath</p>
						</div>
						<div class="explanationIcon-item">
							<div class="icon"><i class="icon-dizzy"></i></div>
							<p>Dizziness</p>
						</div>
					</div> <!-- end of .explanationIcons-list -->
					<div class="btn-panel row middle-xs center-xs">
						<button class="btn btn-secondary">
							<span class="icon"><i class="icon-chat"></i></span>
							<span class="text">Chat met fysio</span>
						</button>
					</div>
				</div> <!-- end of .contact -->
			</div>
		</div>
	</div>
</ion-content>