<ion-content no-bounce>
	<div class="content-details">
		<div class="row">
			<side-menu></side-menu>
			<div class="left-content pt-xs-30 pb-xs-30 row between-xs direction-column-xs">
				<div class="pl-xs-20 pr-xs-20">
					<div class="row middle-xs center-xs">
						<div class="profile-picture large" style="background-image: url( 'assets/img/profile-pictures/sample01.jpg' );"></div>
					</div>
					<h3 class="mt-xs-30 text-xs-center">Anneke Van Vliet</h3>
					<p class="text-xs-center mt-xs-10">"This program can help you achieve great things."</p>
					<div class="contact mt-xs-30">
						<p><strong>Contact</strong></p>
						<div class="details">
							<div class="phone row middle-xs">
								<div class="icon"><i class="icon-call"></i></div>
								<div class="text">+316 123 456 77</div>
							</div>
							<div class="email row middle-xs">
								<div class="icon"><i class="icon-email"></i></div>
								<div class="text">anneke@fysio.nl</div>
							</div>
						</div>
					</div>
				</div>
				<div class="pr-xs-20 pl-xs-20">
					<a (click)="editProfile()" class="edit-profile btn btn-block">Edit Profile</a>
				</div>
			</div> <!-- end of .left-content -->
			<div class="right-content bg-gray col-xs-auto">
				<div class="top-title row middle-xs between-xs">
					<h3>Profile</h3>
					<div>
						<button class="btn btn-secondary" (click)="logout()">
							<span class="icon"><i class="icon-logout"></i></span>
							<span class="text">Log out</span>
						</button>
					</div>
				</div> <!-- end of .top-title -->
				<div class="p-xs-50">
					<h2 class="mb-xs-10">Planning</h2>
					<div class="plans-list">
						<div class="plan-item">
							<div class="row middle-xs">
								<div class="date text-xs-center">
									<h2>22</h2>
									<div class="month">June</div>
								</div>
								<div class="time col-xs-auto">
									<div>12:00</div>
									<h3>Meeting with Janssen</h3>
								</div>
							</div>
						</div>
						<div class="plan-item">
							<div class="row middle-xs">
								<div class="date text-xs-center">
									<h2>22</h2>
									<div class="month">June</div>
								</div>
								<div class="time col-xs-auto">
									<div>12:00</div>
									<h3>Meeting with Janssen</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- end of .right-content -->
		</div>
	</div>
</ion-content>
