<ion-content no-bounce>
	<div class="content-details">
		<div class="row">
			<side-menu></side-menu>
			<div class="left-content row direction-column-xs between-xs pt-xs-10 pb-xs-30">
				<div class="pr-xs-20 pl-xs-20">
					<div class="go-back row middle-xs">
						<div class="icon"><i class="icon-arrow2"></i></div>
						<div class="text">All Clients</div>
					</div>
					<div class="row middle-xs center-xs direction-column-xs">
						<div class="profile-picture mb-xs-10" style="background-image: url( 'assets/img/profile-pictures/sample01.jpg' );"></div>
						<h3>Jan Klaver</h3>
						<p>74 jaar</p>
					</div>
					<div class="notes mt-xs-50">
						<p><strong>Notes</strong></p>
						<div class="details">
							<p>COPD Patient</p>
							<p>Irritante Partner</p>
						</div>
					</div>
				</div>
				<div class="pr-xs-20 pl-xs-20">
					<div class="appointment-time">
						<p><strong>Volgende afspraak</strong></p>
						<div class="details">
							<div class="row">
								<div class="text-xs-center mr-xs-30">
									<h3>24</h3>
									<p>april</p>
								</div>
								<div class="col-xs-auto">
									<p>14:00</p>
									<h3>Huisbezoek</h3>
								</div>
							</div>
						</div>
					</div>
					<div class="btn-panel mt-xs-10 mb-xs-30 row middle-xs center-xs">
						<div>
							<div (click)="addAppointment()" class="btn-primary row middle-xs center-xs">+ appointment</div>
						</div>
					</div>
					<div>
						<a (click)="editProfile()" class="edit-profile btn btn-block">Edit Profile</a>
					</div>
				</div>
			</div>
			<div class="right-content bg-white col-xs-auto">
				<div class="top-title row middle-xs between-xs">
					<div></div>
					<div class="row middle-xs end-xs">
						<div>
							<button class="btn btn-secondary">
								<span class="icon"><i class="icon-call"></i></span>
								<span class="text">Bellen</span>
							</button>
						</div>
						<div class="ml-xs-10">
							<button class="btn btn-secondary">
								<span class="icon"><i class="icon-message"></i></span>
								<span class="text">Chatten</span>
							</button>
						</div>
					</div>
				</div> <!-- end of .top-title -->
				<div class="p-xs-50">
					<div class="legend row middle-xs between-xs mb-xs-20">
						<div class="row middle-xs">
							<div class="icon-container icon-disable mr-xs-10">
								<i class="icon-strenght"></i>
							</div>
							<div class="text"><strong>Exercises</strong></div>
						</div>
						<div class="row middle-xs">
							<div class="icon-container icon-disable mr-xs-10">
								<i class="icon-walk"></i>
							</div>
							<div class="text"><strong>Walks</strong></div>
						</div>
						<div class="row middle-xs">
							<div class="icon-circle finished"></div>
							<div class="text">Finished</div>
						</div>
						<div class="row middle-xs">
							<div class="icon-circle unfinished"></div>
							<div class="text">Unfinished</div>
						</div>
						<div class="row middle-xs">
							<div class="icon-circle not-done"></div>
							<div class="text">Not done yet</div>
						</div>
					</div> <!-- end of .legend -->
					<div class="overview-table">
						<div class="overview-header">
							<div class="days row middle-xs">
								<div class="day col-xs-auto text-xs-center text-xs-uppercase">MA</div>
								<div class="day col-xs-auto text-xs-center text-xs-uppercase">DI</div>
								<div class="day col-xs-auto text-xs-center text-xs-uppercase">WO</div>
								<div class="day col-xs-auto text-xs-center text-xs-uppercase">DO</div>
								<div class="day col-xs-auto text-xs-center text-xs-uppercase">VR</div>
								<div class="day col-xs-auto text-xs-center text-xs-uppercase">ZA</div>
								<div class="day col-xs-auto text-xs-center text-xs-uppercase">ZO</div>
							</div>
						</div>
						<div class="overview-content">
							<div class="exercises row middle-xs">
								<div class="exercise col-xs-auto row middle-xs center-xs">
									<div class="icon-container icon-secondary">
										<div class="notif row middle-xs center-xs">7</div>
										<i class="icon-walk"></i>
									</div>
								</div>
								<div class="exercise col-xs-auto row middle-xs center-xs">
									<div class="icon-container icon-secondary">
										<div class="notif row middle-xs center-xs">7</div>
										<i class="icon-walk"></i>
									</div>
								</div>
								<div class="exercise col-xs-auto row middle-xs center-xs">
									<div class="icon-container icon-secondary">
										<div class="notif row middle-xs center-xs">7</div>
										<i class="icon-walk"></i>
									</div>
								</div>
								<div class="exercise col-xs-auto row middle-xs center-xs">
									<div class="icon-container icon-secondary">
										<div class="notif row middle-xs center-xs">7</div>
										<i class="icon-walk"></i>
									</div>
								</div>
								<div class="exercise col-xs-auto row middle-xs center-xs">
									<div class="icon-container icon-secondary">
										<i class="icon-walk"></i>
									</div>
								</div>
								<div class="exercise col-xs-auto row middle-xs center-xs">
									<div class="icon-container icon-secondary">
										<div class="notif row middle-xs center-xs">7</div>
										<i class="icon-walk"></i>
									</div>
								</div>
								<div class="exercise col-xs-auto row middle-xs center-xs">
									<div class="icon-container icon-secondary">
										<div class="notif row middle-xs center-xs">7</div>
										<i class="icon-walk"></i>
									</div>
								</div>
							</div>
							<div class="exercises row middle-xs">
								<div class="exercise col-xs-auto row middle-xs center-xs">
									<div class="icon-container icon-warning">
										<div class="notif row middle-xs center-xs">7</div>
										<i class="icon-walk"></i>
									</div>
								</div>
								<div class="exercise col-xs-auto row middle-xs center-xs">
									<div class="icon-container icon-warning">
										<div class="notif row middle-xs center-xs">7</div>
										<i class="icon-walk"></i>
									</div>
								</div>
								<div class="exercise col-xs-auto row middle-xs center-xs">
									<div class="icon-container icon-warning">
										<div class="notif row middle-xs center-xs">7</div>
										<i class="icon-walk"></i>
									</div>
								</div>
								<div class="exercise col-xs-auto row middle-xs center-xs">
									<div class="icon-container icon-warning">
										<div class="notif row middle-xs center-xs">7</div>
										<i class="icon-walk"></i>
									</div>
								</div>
								<div class="exercise col-xs-auto row middle-xs center-xs">
									<div class="icon-container icon-warning">
										<div class="notif row middle-xs center-xs">7</div>
										<i class="icon-walk"></i>
									</div>
								</div>
								<div class="exercise col-xs-auto row middle-xs center-xs">
									<div class="icon-container icon-warning">
										<div class="notif row middle-xs center-xs">7</div>
										<i class="icon-walk"></i>
									</div>
								</div>
								<div class="exercise col-xs-auto row middle-xs center-xs">
									<div class="icon-container icon-warning">
										<div class="notif row middle-xs center-xs">7</div>
										<i class="icon-walk"></i>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- end of .overview-table -->
					<div class="row middle-xs end-xs">
						<a href="#!">
							<span class="text">Overview</span>
							<span class="icon"><i class="icon-arrow2"></i></span>
						</a>
					</div>
					<div class="row mt-xs-50">
						<div class="col-xs-6 pr-xs-10">
							<div class="row middle-xs between-xs mb-xs-10">
								<h3>Goal</h3>
								<a href="#!">New Goal</a>
							</div>
							<div class="box box-goal row middle-xs">
								<div class="profile-picture mr-xs-20" style="background-image: url( 'assets/img/backgrounds/main.jpg' );"></div>
								<div class="details col-xs-auto">
									<div class="time">3 - 6 months</div>
									<div class="goal">"To be able to take walks with my grandchildren again."</div>
								</div>
							</div>
						</div>
						<div class="col-xs-6 pl-xs-10">
							<h3 class="mb-xs-10">Training</h3>
							<div class="box box-training">
								<div class="training-item" (click)="changeWalkProgram()">
									<div class="row middle-xs between-xs">
										<div class="row middle-xs">
											<div class="icon-container icon-border-primary">
												<i class="icon-walk"></i>
											</div>
											<div class="title ml-xs-10">Walk Program</div>
										</div>
										<div class="next">
											<i class="icon-arrow2"></i>
										</div>
									</div>
								</div> <!-- end of .training-item -->
								<div class="training-item" (click)="changeProgram()">
									<div class="row middle-xs between-xs">
										<div class="row middle-xs">
											<div class="icon-container icon-border-primary">
												<i class="icon-strenght"></i>
											</div>
											<div class="title ml-xs-10">Otago training</div>
										</div>
										<div class="next">
											<i class="icon-arrow2"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ion-content>