page-client-detail {
	.legend {
		.icon-circle {
			width: 10px;
			height: 10px;
			border-radius: 50%;
			margin: 0 10px 0 0px;

			&.finished {
				background: $secondary;
			}

			&.unfinished {
				background: $warning;
			}

			&.not-done {
				background: #dcdcdc;
			}
		}
	}

	.overview-table {
		min-height: 135px;
		background: #fafbfb;
		margin: 0 0 20px;

		.overview-header {
			border-bottom: 1px solid #f6f7f7;
			padding: 5px 0;
		}

		.overview-content {
			.exercises {
				.exercise {
					padding: 10px 0;
				}
			}
		}
	}

	.box {
		border: 1px solid #e9e9e9;
		border-radius: 5px;

		&.box-goal {
			padding: 10px 15px;
			min-height: 103px;

			.time {
				margin: 0 0 5px;
				color: #000;
				font: 1em/1.45 $baseFontBold;
			}

			.details {
				color: #999;
			}
		}

		&.box-training {
			.training-item {
				padding: 10px 15px;
				border-bottom: 1px solid #e9e9e9;

				&:last-child {
					border: 0;
				}

				.title {
					font: 1em/1.45 $baseFontBold;
				}
			}
		}
	}
}
