page-personal-info {
	.personal-info {
		border-radius: 10px;
		max-width: 700px;
		margin: 0 auto;
		width: 100%;

		.upload-photo {
			background: $secondary;
			border-radius: 50%;
			width: 60px;
			height: 60px;
			margin: 20px auto 10px;
			color: #fff;
			font-size: 24px;
		}
	}
}
