<ion-content no-bounce>
	<div class="content-details row middle-xs center-xs">
		<div class="personal-info bg-white pt-xs-30 pb-xs-30">
			<h1 class="text-xs-center">Your personal information</h1>
			<p class="text-xs-center">Lorem ipsum dolor sit amet.</p>
			<div class="upload-photo row middle-xs center-xs">
				<i class="icon-plus"></i>
			</div>
			<p class="text-xs-center"><strong>Choose profile picture</strong></p>
			<div class="bg-gray pt-xs-20 pb-xs-20 pl-xs-50 pr-xs-50 mt-xs-20 mb-xs-30">
				<div class="form-group">
					<div class="row middle-xs">
						<div class="col-xs-5">
							<label for="name"><strong>Name</strong></label>
						</div>
						<div class="col-xs-7">
							<input type="text" placeholder="First Name" />
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row middle-xs">
						<div class="col-xs-5">
							<label for="date_of_birth"><strong>Date of Birth</strong></label>
						</div>
						<div class="col-xs-7">
							<div class="row">
								<div class="col-xs-3">
									<div class="dropdown">
										<select>
											<option value="01">01</option>
											<option value="02">02</option>
											<option value="03">03</option>
											<option value="04">04</option>
											<option value="05">05</option>
										</select>
									</div>
								</div>
								<div class="col-xs-auto pl-xs-10">
									<div class="dropdown">
										<select>
											<option value="january">January</option>
											<option value="february">February</option>
										</select>
									</div>
								</div>
								<div class="col-xs-auto pl-xs-10">
									<div class="dropdown">
										<select>
											<option value="2000">2000</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row middle-xs">
						<div class="col-xs-5">
							<label for="telephone"><strong>Telephone</strong></label>
						</div>
						<div class="col-xs-7">
							<input type="tel" placeholder="01 234 567" />
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row middle-xs">
						<div class="col-xs-5">
							<label for="about"><strong>About</strong></label>
						</div>
						<div class="col-xs-7">
							<input type="text" placeholder="Tell us about yourself" />
						</div>
					</div>
				</div>
			</div>
			<div class="btn-panel row middle-xs center-xs">
				<div class="mr-xs-10">
					<a (click)="loginPage()">Go Back</a>
				</div>
				<div class="ml-xs-10">
					<button class="btn btn-secondary" (click)="continue()">Continue</button>
				</div>
			</div>
		</div>
	</div>
</ion-content>