<ion-content no-bounce>
	<div class="signInPersonalInfo-page">
		<div class="content-details row middle-xs center-xs">
			<div class="senior-signin-content pt-xs-30 pb-xs-30 pl-xs-50 pr-xs-50">
				<div class="row center-xs middle-xs form-navigator mb-xs-30">
                  <div class="form-navigator-line">
                    <div class="form-navigator-progress" style="width: 0%;"></div>
                  </div>
                  <div class="col-xs-4 navigator-item row direction-column-xs center-xs middle-xs">
                    <div class="icon-container icon-primary"><i class="icon-check"></i></div>
                    <div class="text">Personal Info</div>
                  </div>
                  <div class="col-xs-4 navigator-item row direction-column-xs center-xs middle-xs">
                    <div class="icon-container icon-border-primary"><i class="icon-check"></i></div>
                    <div class="text">Planning</div>
                  </div>
                  <div class="col-xs-4 navigator-item row direction-column-xs center-xs middle-xs">
                    <div class="icon-container icon-border-primary"><i class="icon-check"></i></div>
                    <div class="text">Check</div>
                  </div>
                </div>
                <h1 class="text-xs-center">Your Personal Information</h1>
                <p class="text-xs-center mb-xs-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quod molestias fugit aliquid provident autem cupiditate maiores, nam doloribus, iure atque ipsum! Molestiae, quae quos beatae ullam ex reiciendis blanditiis.</p>
                <div class="bg-gray pt-xs-20 pb-xs-20 pl-xs-50 pr-xs-50 mt-xs-20 mb-xs-30">
                    <div class="form-group">
                        <div class="row middle-xs">
                            <div class="col-xs-5">
                                <label for="name"><strong>Name</strong></label>
                            </div>
                            <div class="col-xs-7">
                                <input type="text" placeholder="Name" value="Jan" />
                            </div>
                        </div>
                    </div> <!-- end of .form-group -->
                    <div class="form-group">
                        <div class="row middle-xs">
                            <div class="col-xs-5">
                                <label for="email"><strong>Email</strong></label>
                            </div>
                            <div class="col-xs-7">
                                <input type="email" placeholder="Email" value="jan@hotmail.com" />
                            </div>
                        </div>
                    </div> <!-- end of .form-group -->
                    <div class="form-group">
                        <div class="row middle-xs">
                            <div class="col-xs-5">
                                <label for="phone_number"><strong>Phone number</strong></label>
                            </div>
                            <div class="col-xs-7">
                                <input type="tel" placeholder="01 234 567" value="+3110 377 826 82" />
                            </div>
                        </div>
                    </div> <!-- end of .form-group -->
                    <div class="form-group">
                        <div class="row middle-xs">
                            <div class="col-xs-5">
                                <label for="date_of_birth"><strong>Date of Birth</strong></label>
                            </div>
                            <div class="col-xs-7">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="dropdown">
                                            <select>
                                                <option value="01">01</option>
                                                <option value="02">02</option>
                                                <option value="03">03</option>
                                                <option value="04">04</option>
                                                <option value="05">05</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-auto pl-xs-10">
                                        <div class="dropdown">
                                            <select>
                                                <option value="january">January</option>
                                                <option value="february">February</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-auto pl-xs-10">
                                        <div class="dropdown">
                                            <select>
                                                <option value="2000">2000</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end of .form-group -->
                </div> <!-- end of .bg-gray -->
                <div class="btn-panel row middle-xs center-xs mt-xs-50">
                    <div class="mr-xs-10">
                        <a (click)="goSigninWelcome()">Go back</a>
                    </div>
                    <div class="ml-xs-10">
                        <a (click)="goSigninPersonalTwo()" class="btn btn-secondary">Continue</a>
                    </div>
                </div>
			</div>
		</div>
	</div>
</ion-content>