<div class="modal-area row center-xs middle-xs">
	<div class="content-modal medium">
		<div class="close-modal row middle-xs" (click)="modalClose()">
			<div class="text">Close</div>
			<div class="icon"><i class="icon-close"></i></div>
		</div> <!-- end of .close-modal -->
		<h1 class="text-xs-center mb-xs-30">Add Appointment</h1>
		<div class="form-group">
			<label for="description"><strong>Description</strong></label>
			<textarea></textarea>
		</div>
		<div class="form-group">
			<div class="row middle-xs between-xs">
				<label for="date"><strong>Date</strong></label>
				<div class="col-xs-4">
					<div class="dropdown">
						<select>
							<option value="28/04/17">28 April 17</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="row middle-xs between-xs">
				<label for="time"><strong>Time</strong></label>
				<div class="col-xs-4">
					<div class="dropdown">
						<select>
							<option value="0800">08:00</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="btn-panel mt-xs-50 row middle-xs center-xs">
			<div class="mr-xs-10">
				<a href="#!">Cancel</a>
			</div>
			<div class="ml-xs-10">
				<a href="#!" class="btn btn-secondary">Save</a>
			</div>
		</div>
	</div>
</div>