<ion-content no-bounce>
	<div class="content-details">
		<div class="row">
			<side-menu></side-menu>
			<div class="left-content">
				<div class="filter-section">
					<input type="search" placeholder="Search" />
				</div> <!-- end of .filter-section -->
				<div class="chat-list">
					<div class="chat-item active">
						Jan Klaver
					</div>
					<div class="chat-item">
						Maria Verhoef
						<div class="msg-notif row middle-xs center-xs">999</div></div>
					<div class="chat-item">
						Henk Jan
						<div class="msg-notif row middle-xs center-xs">9</div>
					</div>
					<div class="chat-item">
						Henk Jan
					</div>
					<div class="chat-item">
						Henk Jan
					</div>
					<div class="chat-item">
						Henk Jan
					</div>
					<div class="chat-item">
						Henk Jan
					</div>
					<div class="chat-item">
						Henk Jan
					</div>
					<div class="chat-item">
						Henk Jan
					</div>
					<div class="chat-item">
						Henk Jan
					</div>
					<div class="chat-item">
						Henk Jan
					</div>
					<div class="chat-item">
						Henk Jan
					</div>
					<div class="chat-item">
						Henk Jan
					</div>
					<div class="chat-item">
						Henk Jan
					</div>
					<div class="chat-item">
						Henk Jan
					</div>
					<div class="chat-item">
						Henk Jan
					</div>
				</div>
			</div> <!-- end of .left-content -->
			<div class="right-content bg-white col-xs-auto">
				<div class="chat-box">
					<div class="chat-header">
						<div class="row middle-xs between-xs">
							<h3>Chat with Jan Klaver</h3>
							<div>
								<button class="btn-primary btn-oblong">View Profile</button>
							</div>
						</div>
					</div> <!-- end of .chat-header -->
					<div class="chat-section">
						<div class="row end-xs">
							<div class="sender">
								<div class="bubble-message">
									<div class="message-header">
										<div class="row middle-xs between-xs">
											<div class="bubble-avatar" style="background-image: url( 'assets/img/profile-pictures/sample01.jpg' );"></div>
											<div class="comments">Comments at exercises:<br/>Lorem ipsum dolor sit amet</div>
											<button><i class="icon-arrow2"></i></button>
										</div>
									</div> <!-- end of .message-header -->
									<div class="message-content">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</div>
								</div>
								<div class="seen-status">11:57 <i class="icon-check"></i></div>
							</div> <!-- end of .sender -->
						</div>
						<div class="row">
							<div class="receiver">
								<div class="row middle-xs between-xs">
									<div class="bubble-avatar" style="background-image: url( 'assets/img/profile-pictures/sample01.jpg' );"></div>
									<div class="bubble-message">Lorem ipsum dolor sit amet</div>
								</div>
								<div class="row end-xs">
									<div class="seen-status">11:57 <i class="icon-check"></i></div>
								</div>
							</div> <!-- end of .receiver -->
						</div>
					</div> <!-- end of .chat-section -->
					<div class="chat-footer">
						<div class="row">
							<div class="chat-input col-xs-auto">
								<input type="text" placeholder="Type a message..." />
							</div>
							<button><i class="icon-send"></i></button>
						</div>
					</div> <!-- end of .chat-footer -->
				</div>
			</div>
		</div>
	</div>
</ion-content>