page-chat {
	.content-details {
		.left-content {
			.filter-section {
				background: #f8f8f7;

				input[type=search] {
					background: transparent;
					border: 1px solid #dfdfdf;
					height: 26px;
					border-radius: 13px;
				}

				::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: #000;
				}
				::-moz-placeholder { /* Firefox 19+ */
				  color: #000;
				}
				:-ms-input-placeholder { /* IE 10+ */
				  color: #000;
				}
				:-moz-placeholder { /* Firefox 18- */
				  color: #000;
				}
			}

			.chat-list {
				padding-top: 61px;
				height: 100vh;
				overflow-y: auto;

				.chat-item {
					border-top: 1px dashed #dfdfdf;
					font-family: $baseFontBold;
					padding: 20px 15px 30px;
					cursor: pointer;
					position: relative;

					&.active {
						background: #efefef;
					}

					.msg-notif {
						position: absolute;
						top: 17px;
						right: 15px;
						background: #0180d0;
						color: #fff;
						font-size: 0.714em;
						width: 25px;
						height: 25px;
						border-radius: 50%;
					}
				}
			}
		}

		.right-content {
			.chat-box {
				.chat-header {
					padding: 20px 30px;
					border-bottom: 1px solid #f2f2f2;
				}

				.chat-section {
					height: calc( 100vh - 112px );
					overflow-y: auto;
					padding: 20px 30px;

					.sender {
						display: inline-block;
						width: 100%;
						max-width: 300px;
						margin-bottom: 20px;

						.bubble-message {
							position: relative;
							background: #fff;
							border: 1px solid #f2f2f2;
							width: 100%;
							max-width: 300px;
							margin-bottom: 5px;

							&:after {
								left: 100%;
								top: 50%;
								border: solid transparent;
								content: " ";
								height: 0;
								width: 0;
								position: absolute;
								pointer-events: none;
								border-color: rgba(255, 255, 255, 0);
								border-left-color: #ffffff;
								border-width: 10px;
								margin-top: -10px;
							}

							&:before {
								left: 100%;
								top: 50%;
								border: solid transparent;
								content: " ";
								height: 0;
								width: 0;
								position: absolute;
								pointer-events: none;
								border-color: rgba(242, 242, 242, 0);
								border-left-color: #f2f2f2f2;
								border-width: 11px;
								margin-top: -11px;
							}

							.message-header {
								padding: 5px 15px;
								border-bottom: 1px solid #f2f2f2;

								.bubble-avatar {
									width: 35px;
									height: 35px;
									border-radius: 50%;
									background-repeat: no-repeat;
									background-size: cover;
									background-position: center;
								}

								button {
									background: transparent;
									border: 0;
									appearance: none;
								}
							}

							.message-content {
								padding: 10px 15px;
								font-size: 0.857em;
							}
						}

						.seen-status {
							font-size: 0.714em;

							i {
								color: $secondary;
								font-size: 0.800em;
							}
						}
					}

					.receiver {
						display: inline-block;
						width: 100%;
						max-width: 360px;
						margin-bottom: 20px;
						
						.bubble-avatar {
							width: 35px;
							height: 35px;
							border-radius: 50%;
							background-repeat: no-repeat;
							background-size: cover;
							background-position: center;
							margin-bottom: 5px;
						}

						.bubble-message {
							position: relative;
							background: #fff;
							border-radius: 3px;
							padding: 10px 15px;
							border: 1px solid #f2f2f2;
							width: 100%;
							max-width: 300px;
							margin-left: 20px;
							margin-bottom: 5px;
							font-size: 0.857em;

							&:after {
								right: 100%;
								top: 50%;
								border: solid transparent;
								content: " ";
								height: 0;
								width: 0;
								position: absolute;
								pointer-events: none;
								border-color: rgba(255, 255, 255, 0);
								border-right-color: #ffffff;
								border-width: 10px;
								margin-top: -10px;
							}

							&:before {
								right: 100%;
								top: 50%;
								border: solid transparent;
								content: " ";
								height: 0;
								width: 0;
								position: absolute;
								pointer-events: none;
								border-color: rgba(242, 242, 242, 0);
								border-right-color: #f2f2f2;
								border-width: 11px;
								margin-top: -11px;
							}
						}

						.seen-status {
							font-size: 0.714em;

							i {
								color: $secondary;
								font-size: 0.800em;
							}
						}
					}
				}

				.chat-footer {
					border-top: 1px solid #f2f2f2;
					padding: 0 20px;

					.chat-input {
						padding-right: 20px;

						input[type=text] {
							width: 100%;
							font-size: 1em;
							font-family: inherit;
							padding: 10px 0;
						}
					}

					button {
						background: transparent;
						border: 0;
						appearance: none;
						color: $primary;
					}
				}
			}
		}
	}
}
