<ion-content no-bounce>
	<div class="content-details">
		<div class="row">
			<side-menu-senior></side-menu-senior>
			<div class="left-content">
				<div class="go-back row middle-xs" (click)="goBack()">
					<div class="icon"><i class="icon-arrow2"></i></div>
					<div class="text">Go Back</div>
				</div> <!-- end of .go-back -->
				<div class="days-list">
					<a class="day-item">
						<div class="row middle-xs between-xs">
							<div class="date text-xs-center">
								<div class="day">01</div>
								<div class="month text-xs-uppercase">Feb</div>
							</div> <!-- end of .date -->
							<div class="col-xs-auto pl-xs-30">
								<div class="row middle-xs">
									<div class="icon-container icon-secondary">
										<div class="notif row middle-xs center-xs">7</div>
										<i class="icon-walk"></i>
									</div>
								</div>
							</div>
						</div>
					</a> <!-- end of .day-item -->
					<div class="day-item">
						<div class="row middle-xs between-xs">
							<div class="date text-xs-center">
								<div class="day">02</div>
								<div class="month text-xs-uppercase">Feb</div>
							</div> <!-- end of .date -->
							<div class="col-xs-auto pl-xs-30">
								<div class="row middle-xs">
									<div class="icon-container icon-secondary">
										<i class="icon-walk"></i>
									</div>
									<div class="icon-container icon-warning">
										<i class="icon-strenght"></i>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- end of .day-item -->
					<div class="day-item" (click)="restday()">
						<div class="row middle-xs between-xs">
							<div class="date text-xs-center">
								<div class="day">03</div>
								<div class="month text-xs-uppercase">Feb</div>
							</div> <!-- end of .date -->
							<div class="col-xs-auto pl-xs-30">
								<div class="row middle-xs">
									<div class="icon-container icon-disable">
										<i class="icon-walk"></i>
									</div>
									<div class="icon-container icon-disable">
										<i class="icon-strenght"></i>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- end of .day-item -->
					<div class="day-item">
						<div class="row middle-xs between-xs">
							<div class="date text-xs-center">
								<div class="day">02</div>
								<div class="month text-xs-uppercase">Feb</div>
							</div> <!-- end of .date -->
							<div class="col-xs-auto pl-xs-30">
								<div class="row middle-xs">
									<div class="icon-container icon-disable">
										<i class="icon-walk"></i>
									</div>
									<div class="icon-container icon-disable">
										<i class="icon-strenght"></i>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- end of .day-item -->
					<div class="day-item">
						<div class="row middle-xs between-xs">
							<div class="date text-xs-center">
								<div class="day">02</div>
								<div class="month text-xs-uppercase">Feb</div>
							</div> <!-- end of .date -->
							<div class="col-xs-auto pl-xs-30">
								<div class="row middle-xs">
									<div class="icon-container icon-disable">
										<i class="icon-walk"></i>
									</div>
									<div class="icon-container icon-disable">
										<i class="icon-strenght"></i>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- end of .day-item -->
					<div class="day-item">
						<div class="row middle-xs between-xs">
							<div class="date text-xs-center">
								<div class="day">02</div>
								<div class="month text-xs-uppercase">Feb</div>
							</div> <!-- end of .date -->
							<div class="col-xs-auto pl-xs-30">
								<div class="row middle-xs">
									<div class="icon-container icon-disable">
										<i class="icon-walk"></i>
									</div>
									<div class="icon-container icon-disable">
										<i class="icon-strenght"></i>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- end of .day-item -->
					<div class="day-item">
						<div class="row middle-xs between-xs">
							<div class="date text-xs-center">
								<div class="day">02</div>
								<div class="month text-xs-uppercase">Feb</div>
							</div> <!-- end of .date -->
							<div class="col-xs-auto pl-xs-30">
								<div class="row middle-xs">
									<div class="icon-container icon-disable">
										<i class="icon-walk"></i>
									</div>
									<div class="icon-container icon-disable">
										<i class="icon-strenght"></i>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- end of .day-item -->
					<div class="day-item">
						<div class="row middle-xs between-xs">
							<div class="date text-xs-center">
								<div class="day">02</div>
								<div class="month text-xs-uppercase">Feb</div>
							</div> <!-- end of .date -->
							<div class="col-xs-auto pl-xs-30">
								<div class="row middle-xs">
									<div class="icon-container icon-disable">
										<i class="icon-walk"></i>
									</div>
									<div class="icon-container icon-disable">
										<i class="icon-strenght"></i>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- end of .day-item -->
					<div class="day-item">
						<div class="row middle-xs between-xs">
							<div class="date text-xs-center">
								<div class="day">02</div>
								<div class="month text-xs-uppercase">Feb</div>
							</div> <!-- end of .date -->
							<div class="col-xs-auto pl-xs-30">
								<div class="row middle-xs">
									<div class="icon-container icon-disable">
										<i class="icon-walk"></i>
									</div>
									<div class="icon-container icon-disable">
										<i class="icon-strenght"></i>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- end of .day-item -->
					<div class="day-item">
						<div class="row middle-xs between-xs">
							<div class="date text-xs-center">
								<div class="day">02</div>
								<div class="month text-xs-uppercase">Feb</div>
							</div> <!-- end of .date -->
							<div class="col-xs-auto pl-xs-30">
								<div class="row middle-xs">
									<div class="icon-container icon-disable">
										<i class="icon-walk"></i>
									</div>
									<div class="icon-container icon-disable">
										<i class="icon-strenght"></i>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- end of .day-item -->
					<div class="day-item">
						<div class="row middle-xs between-xs">
							<div class="date text-xs-center">
								<div class="day">02</div>
								<div class="month text-xs-uppercase">Feb</div>
							</div> <!-- end of .date -->
							<div class="col-xs-auto pl-xs-30">
								<div class="row middle-xs">
									<div class="icon-container icon-disable">
										<i class="icon-walk"></i>
									</div>
									<div class="icon-container icon-disable">
										<i class="icon-strenght"></i>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- end of .day-item -->
					<div class="day-item">
						<div class="row middle-xs between-xs">
							<div class="date text-xs-center">
								<div class="day">02</div>
								<div class="month text-xs-uppercase">Feb</div>
							</div> <!-- end of .date -->
							<div class="col-xs-auto pl-xs-30">
								<div class="row middle-xs">
									<div class="icon-container icon-disable">
										<i class="icon-walk"></i>
									</div>
									<div class="icon-container icon-disable">
										<i class="icon-strenght"></i>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- end of .day-item -->
					<div class="day-item">
						<div class="row middle-xs between-xs">
							<div class="date text-xs-center">
								<div class="day">02</div>
								<div class="month text-xs-uppercase">Feb</div>
							</div> <!-- end of .date -->
							<div class="col-xs-auto pl-xs-30">
								<div class="row middle-xs">
									<div class="icon-container icon-disable">
										<i class="icon-walk"></i>
									</div>
									<div class="icon-container icon-disable">
										<i class="icon-strenght"></i>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- end of .day-item -->
				</div>
			</div> <!-- end of .left-content -->
			<div class="right-content bg-white col-xs-auto">
				<div class="top-title row middle-xs between-xs">
					<h3>Activities</h3>
					<div>
						<a href="#!" class="btn btn-secondary">
							<span class="icon">+</span>
							<span class="text">Activity</span>
						</a>
					</div>
				</div> <!-- end of .top-title -->
				<div class="p-xs-50">
					<div class="bg-gray">
						<div class="training-header row between-xs pr-xs-30 pl-xs-30 pb-xs-20 pt-xs-20">
							<div>
								<h3>Otago next training</h3>
								<div class="time">08:00</div>
							</div>
							<div>
								<a (click)="startTraining()" class="btn-primary row middle-xs center-xs">
									<span class="icon"><i class="icon-start"></i></span>
									<span class="text">Start training</span>
								</a>
							</div>
						</div> <!-- end of .training-header -->
						<div class="training-details pr-xs-30 pl-xs-30 pt-xs-20 pb-xs-20">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus dolores explicabo similique ipsam atque ducimus repellat vero blanditiis porro ullam, eos accusamus consectetur neque sunt quod voluptatum omnis, consequuntur ad.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ion-content>