<div class="modal-area row center-xs middle-xs">
	<div class="content-modal medium">
		<div class="close-modal row middle-xs" (click)="modalClose()">
			<div class="text">Close</div>
			<div class="icon"><i class="icon-close"></i></div>
		</div> <!-- end of .close-modal -->
		<div class="row middle-xs between-xs mb-xs-50">
			<div></div>
			<h1>Change Exercise</h1>
			<div class="delete">
				<i class="icon-bin"></i>
			</div>
		</div>
		<div class="details mb-xs-20">
			<div class="row middle-xs">
				<div class="img-container" style="background-image: url( 'assets/img/programs/sample01.png' );"></div>
				<div class="col-xs-auto pl-xs-30">
					<h3>Knee bending</h3>
					<div class="row middle-xs">
						<div class="repeat mr-xs-20">3x repeat</div>
						<div class="time">10 minutes</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bg-gray pl-xs-30 pr-xs-30 pt-xs-20 pb-xs-20">
			<label class="mb-xs-30">
				<input type="checkbox" />
				<span>With weights</span>
			</label>
			<div class="form-group">
				<div class="row">
					<div class="col-xs-4 pr-xs-10">
						<div class="dropdown">
							<select>
								<option value="">seconds</option>
							</select>
						</div>
					</div>
					<div class="col-xs-4 pl-xs-10 pr-xs-10">
						<div class="dropdown">
							<select>
								<option value="">sets</option>
							</select>
						</div>
					</div>
					<div class="col-xs-4 pl-xs-10">
						<div class="dropdown">
							<select>
								<option value="">repetition</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="comment">
			<h3 class="mb-xs-10">Add Comment</h3>
			<div class="form-group">
				<textarea placeholder="Description..."></textarea>
			</div>
		</div>
		<div class="btn-panel row middle-xs center-xs mt-xs-50">
			<div class="mr-xs-10">
				<a href="#!">Cancel</a>
			</div>
			<div class="ml-xs-10">
				<a href="#!" class="btn btn-secondary">Save</a>
			</div>
		</div>
	</div> <!-- end of .content-modal -->
</div>