page-change-exercise {
	.delete {
		font: 2.00em/1.45 'Fontello';
		color: $warning;
	}

	.details {
		.img-container {
			width: 100px;
			height: 70px;
			background-size: cover;
			background-position: center;
			border-radius: 3px;
		}

		.repeat {
			font: 0.857em/1.45 $baseFontBold;
			color: #d0cfcf;
		}

		.time {
			font: 0.857em/1.45 $baseFontBold;
			color: #d0cfcf;
		}
	}

	.bg-gray {
		margin: 0 -30px 30px;

		label {
			position: relative;
			display: block;

			input[type=checkbox] {
				position: absolute;
				top: 0;
				left: 0;
				width: 20px;
				height: 20px;
				z-index: 2;
				opacity: 0;

				&:checked {
					+ span {

						&:before {
							content: '\e80e';
							background: $primary;
							border-color: $primary;
						}
					}
				}
			}

			span {
				font: 1.143em/1.45 $baseFontBlack;
				display: block;
				padding: 0 0 0 30px;

				&:before {
					transition: .3s;
					width: 20px;
					height: 20px;
					border: 1px solid #ededed;
					border-radius: 3px;
					content: '';
					position: absolute;
					top: 1px;
					left: 0;
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					justify-content: center;
					color: #fff;
					font: 0.714em/1.45 'Fontello';
				}
			}
		}
	}
}
