<div class="modal-area row middle-xs center-xs">
	<div class="content-modal small height-auto">
		<div class="close-modal row middle-xs" (click)="modalClose()">
			<div class="text">Close</div>
			<div class="icon"><i class="icon-close"></i></div>
		</div> <!-- end of .close-modal -->
		<h1 class="text-xs-center mb-xs-50">Walk program</h1>
		<div class="form-group">
			<div class="row middle-xs between-xs">
				<div class="col-xs-6 pr-xs-30">
					<h3>Amount of days a week</h3>
				</div>
				<div class="col-xs-6">
					<div class="dropdown">
						<select>
							<option value="2_times">2 times</option>
						</select>
					</div>
				</div>
			</div>
		</div> <!-- end of .form-group -->
		<div class="form-group bg-gray">
			<div class="row middle-xs between-xs">
				<div class="col-xs-6 pr-xs-30">
					<h3>Distance</h3>
				</div>
				<div class="col-xs-6">
					<div class="increment-container row middle-xs center-xs">
						<div class="increment-number">
							<input type="text" value="3.0" class="increment-input" />
							<div class="text">km</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="btn-panel mt-xs-50 row middle-xs center-xs">
			<div class="mr-xs-10">
				<a href="#!">Cancel</a>
			</div>
			<div class="ml-xs-10">
				<a href="#!" class="btn btn-secondary">Save</a>
			</div>
		</div>
	</div>
</div>