page-edit-goal {
	.goals-list {
		.goal-item {
			width: 100%;
			max-width: 250px;
			border-radius: 5px;
			border: 1px solid #f1f1f1;
			padding: 15px;
			background: #fff;

			.img-container {
				border-radius: 50%;
				background-size: cover;
				background-position: center;
				width: 50px;
				height: 50px;
				margin: 0 20px 0 0;
			}

			.details {
				.time {
					font: 0.857em/1.45 $baseFontBold;
					color: #000;
					margin: 0 0 5px;
				}

				.goal {
					font: 0.857em/1.45 $baseFontBold;
					color: #999;
				}
			}
		}
	}
}
