<ion-content no-bounce>
    <div class="content-details">
        <div class="row">
            <side-menu></side-menu>
            <div class="left-content">
                <div class="go-back row middle-xs" (click)="goBack()">
                <div class="icon"><i class="icon-arrow2"></i></div>
                <div class="text">Go Back</div>
                </div>
            </div> <!-- end of .left-content -->
            <div class="right-content bg-gray col-xs-auto">
                <div class="top-title row middle-xs between-xs">
                    <h3>Goal <small class="ml-xs-10">3 - 6 months </small></h3>
                </div> <!-- end of .top-title -->
                <div class="form-group-inline row middle-xs between-xs">
                    <div class="col-xs-auto">
                        <div>"To be able to take walks with my grandchildren again."</div>
                    </div>
                    <div>
                        <a href="#!">Edit</a>
                    </div>
                </div> <!-- end of .form-group-inline -->
                <div class="p-xs-50">
                    <div class="goals-list row middle-xs center-xs">
                        <div class="goal-item row middle-xs between-xs">
                            <div class="img-container" style="background-image: url( 'assets/img/backgrounds/main.jpg' );"></div>
                            <div class="details col-xs-auto">
                                <div class="time">3-6 months</div>
                                <div class="goal">"To be able to take walks with my grandchildren again."</div>
                            </div>
                        </div> <!-- end of .goal-item -->
                    </div> <!-- end of .goals-list -->
                </div>
            </div>
        </div> <!-- end of .row -->
    </div> <!-- end of .content-details -->
</ion-content>
  