<ion-content no-bounce>
	<div class="content-details">
		<div class="row">
				<side-menu></side-menu>
			<div class="left-content">
				<div class="go-back row middle-xs" (click)="profilePage()">
					<div class="icon"><i class="icon-arrow2"></i></div>
					<div class="text">Go Back</div>
				</div>
			</div> <!-- end of .left-content -->
			<div class="right-content bg-gray col-xs-auto">
				<div class="top-title row middle-xs between-xs">
					<h2>Client wijzigen</h2>
				</div> <!-- end of .top-title -->
				<div class="section-title">Client details</div>
				<div class="form-group-inline row middle-xs">
					<div class="col-xs-6">
						<label for="name" class="row middle-xs">
							<span class="icon"><i class="icon-name"></i></span>
							<span class="text">Name</span>
						</label>
					</div>
					<div class="col-xs-6">
						<input type="text" value="Anneke Van Vliet" />
					</div>
				</div> <!-- end of .form-group-inline -->
				<div class="form-group-inline row middle-xs">
					<div class="col-xs-6">
						<label for="email" class="row middle-xs">
							<span class="icon"><i class="icon-email"></i></span>
							<span class="text">Email</span>
						</label>
					</div>
					<div class="col-xs-6">
						<input type="email" value="anneke@fysio.nl" />
					</div>
				</div> <!-- end of .form-group-inline -->
				<div class="form-group-inline row middle-xs">
					<div class="col-xs-6">
						<label for="password" class="row middle-xs">
							<span class="icon"><i class="icon-birthday"></i></span>
							<span class="text">Birthdate</span>
						</label>
					</div>
					<div class="col-xs-6">
						<ion-item>
							<ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="birthdate"></ion-datetime>
						</ion-item>
					</div>
				</div> <!-- end of .form-group-inline -->
				<div class="form-group-inline row middle-xs">
					<div class="col-xs-6">
						<label for="phone_number" class="row middle-xs">
							<span class="icon"><i class="icon-phone"></i></span>
							<span class="text">Gender</span>
						</label>
					</div>
					<div class="col-xs-6">
						<ion-item>
							<ion-label>Gender</ion-label>
							<ion-select [(ngModel)]="gender">
								<ion-option value="f">Female</ion-option>
								<ion-option value="m">Male</ion-option>
							</ion-select>
						</ion-item>
					</div>
				</div> <!-- end of .form-group-inline -->
				<div class="section-title">About</div>
				<a class="form-group-inline row middle-xs" (click)="editGoal()">
					<div class="col-xs-6">
						<label for="goal">Goal</label>
					</div>
					<div class="col-xs-6 row end-xs">
						<i class="icon-arrow2"></i>
					</div>
				</a>
				<a class="form-group-inline row middle-xs">
					<div class="col-xs-6">
						<label for="notes">Notes</label>
					</div>
					<div class="col-xs-6 row end-xs">
						<i class="icon-arrow2"></i>
					</div>
				</a>
				<div class="section-title">Settings</div>
				<div class="form-group-inline row middle-xs">
					<div class="col-xs-6">
						<label for="chat_with_me" class="row middle-xs">
							<span class="text">Chat with me</span>
						</label>
					</div>
					<div class="col-xs-6 row end-xs">
						<ion-toggle checked="true" color="secondary"></ion-toggle>
					</div>
				</div> <!-- end of .form-group-inline -->
				<div class="form-group-inline row middle-xs">
					<div class="col-xs-6">
						<label for="call_with_me" class="row middle-xs">
							<span class="text">Call with me</span>
						</label>
					</div>
					<div class="col-xs-6 row end-xs">
						<ion-toggle checked="true" color="secondary"></ion-toggle>
					</div>
				</div>
				<div class="section-title">&nbsp;</div>
				<div class="form-group-inline row middle-xs center-xs">
					<div>
						<a (click)="sampleError()" class="link-warning">Delete client</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</ion-content>
