<div class="training-details row between-xs direction-column-xs">
	<div>
		<div class="form-navigator row middle-xs between-xs mb-xs-20">
			<div class="form-navigator-line">
				<div class="form-navigator-progress" style="width: 0%;"></div>
			</div>
			<div class="col-xs-2 navigator-item row direction-column-xs center-xs middle-xs">
				<div class="icon-container icon-primary"><i class="icon-check"></i></div>
				<div class="text">Check In</div>
			</div>
			<div class="col-xs-2 navigator-item row direction-column-xs center-xs middle-xs">
				<div class="icon-container icon-border-primary"><i class="icon-warming_up"></i></div>
				<div class="text">Warming-up</div>
			</div>
			<div class="col-xs-2 navigator-item row direction-column-xs center-xs middle-xs">
				<div class="icon-container icon-border-primary"><i class="icon-balance"></i></div>
				<div class="text">Balance</div>
			</div>
			<div class="col-xs-2 navigator-item row direction-column-xs center-xs middle-xs">
				<div class="icon-container icon-border-primary"><i class="icon-strenght"></i></div>
				<div class="text">Strength</div>
			</div>
			<div class="col-xs-2 navigator-item row direction-column-xs center-xs middle-xs">
				<div class="icon-container icon-border-primary"><i class="icon-cooldown"></i></div>
				<div class="text">Cooldown</div>
			</div>
			<div class="col-xs-2 navigator-item row direction-column-xs center-xs middle-xs">
				<div class="icon-container icon-border-primary"><i class="icon-check"></i></div>
				<div class="text">Check Out</div>
			</div>
		</div> <!-- end of .form-navigator -->
		<h1 class="text-xs-center mb-xs-10">How are you doing?</h1>
		<p class="text-xs-center mb-xs-20">Before we start with the training, we want to know how you're doing.</p>
		<div class="feelings-list row center-xs">
			<div class="feeling-item text-xs-center m-xs-30">
				<div class="icon"><i class="icon-excited"></i></div>
				<div class="text">
					<h3>Excited</h3>
				</div>
			</div>
			<div class="feeling-item text-xs-center m-xs-30 selected">
				<div class="icon"><i class="icon-not_looking_forward"></i></div>
				<div class="text">
					<h3>Not looking<br/>forward to it...</h3>
				</div>
			</div>
			<div class="feeling-item text-xs-center m-xs-30">
				<div class="icon"><i class="icon-not_excited"></i></div>
				<div class="text">
					<h3>Not excited at<br/>all.</h3>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="btn-panel row middle-xs center-xs">
			<div>
				<a (click)="goWarmpup()" class="btn btn-secondary-inactive">Next</a>
			</div>
		</div>
	</div>
	<div class="info-details">
		<div class="icon-container icon-warning"><i class="icon-information"></i></div>
	</div>
</div>