<ion-content no-bounce>
	<div class="content-details">
		<div class="row">
			<side-menu-senior></side-menu-senior>
			<div class="right-content bg-white col-xs-auto pt-xs-20 pb-xs-20">
				<a (click)="closeAllChallenges()" class="row middle-xs center-xs close-assignments">
					<span class="icon"><i class="icon-arrow2"></i></span>
					<span class="text">Close</span>
				</a>
				<div class="row middle-xs between-xs pt-xs-30 pb-xs-10 pl-xs-50 pr-xs-50">
					<h1>All challenges</h1>
					<div class="row middle-xs">
						<a href="#!" class="mr-xs-30"><strong>all</strong></a>
						<a href="#!"><strong>saved</strong></a>
					</div>
				</div>
				<div class="challenges-list">
					<div class="challenge-item row middle-xs">
						<div class="day row middle-xs">
							<div class="icon"><i class="icon-check"></i></div>
							<h2>Day 1</h2>
						</div>
						<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores molestias...</div>
						<div class="actions row middle-xs">
							<button class="mr-xs-20"><i class="icon-favorite"></i></button>
							<a href="#!"><i class="icon-arrow1"></i></a>
						</div>
					</div>
					<div class="challenge-item row middle-xs">
						<div class="day row middle-xs">
							<div class="icon"><i class="icon-check"></i></div>
							<h2>Day 1</h2>
						</div>
						<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cum nihil minus quis accusamus rem temporibus quasi expedita nobis, obcaecati placeat deleniti, quam aspernatur deserunt. Doloremque veniam, cupiditate perferendis consequatur.</div>
						<div class="actions row middle-xs end-xs">
							<a href="#!" class="opened"><i class="icon-arrow1"></i></a>
						</div>
						<div class="save-challenge col-xs-12">
							<div class="form-group">
								<input type="text" />
							</div>
							<div class="row middle-xs between-xs">
								<div class="row middle-xs">
									<div class="mr-xs-20">
										<button class="btn btn-secondary">
											<span class="icon"><i class="icon-send"></i></span>
											<span class="text">Send</span>
										</button>
									</div>
									<a href="#!">Skip</a>
								</div>
								<div>
									<button class="btn-save">
										<span class="text"><strong>Save</strong></span>
										<span class="icon"><i class="icon-favorite"></i></span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ion-content>