page-all-challenges {
	.right-content {
		.close-assignments {
			.icon {
				transform: rotate( 90deg );
				margin: 0 10px 0 0;
			}
		}

		.challenges-list {
			.challenge-item {
				border-top: 1px solid #000;
				padding: 20px 50px;

				.day {
					.icon {
						width: 30px;

						.icon-check {
							color: $secondary;
						}

						.icon-minus {
							color: $warning;
						}
					}

					h2 {
						width: 80px;
					}
				}

				.description {
					width: calc( 100% - 190px );
					padding: 0 20px 0 0;
				}

				.actions {
					width: 80px;

					button {
						background: transparent;
						border-radius: 0;
						appearance: none;
						font-size: 1.286em;
					}

					.opened {
						transform: rotate(90deg);
						margin-top: -15px;
					}
				}

				.save-challenge {
					margin: 20px 0 0;

					.btn-save {
						background: transparent;
						border-radius: 0;
						appearance: none;
						
						.icon {
							font-size: 1.286em;
						}
					}
				}
			}
		}
	}
}
