<div class="training-details row between-xs direction-column-xs">
	<div>
		<div class="form-navigator row middle-xs between-xs mb-xs-20">
			<div class="form-navigator-line">
				<div class="form-navigator-progress" style="width: 20%;"></div>
			</div>
			<div class="col-xs-2 navigator-item row direction-column-xs center-xs middle-xs">
				<div class="icon-container icon-primary"><i class="icon-check"></i></div>
				<div class="text">Check In</div>
			</div>
			<div class="col-xs-2 navigator-item row direction-column-xs center-xs middle-xs">
				<div class="icon-container icon-primary"><i class="icon-warming_up"></i></div>
				<div class="text">Warming-up</div>
			</div>
			<div class="col-xs-2 navigator-item row direction-column-xs center-xs middle-xs">
				<div class="icon-container icon-border-primary"><i class="icon-balance"></i></div>
				<div class="text">Balance</div>
			</div>
			<div class="col-xs-2 navigator-item row direction-column-xs center-xs middle-xs">
				<div class="icon-container icon-border-primary"><i class="icon-strenght"></i></div>
				<div class="text">Strength</div>
			</div>
			<div class="col-xs-2 navigator-item row direction-column-xs center-xs middle-xs">
				<div class="icon-container icon-border-primary"><i class="icon-cooldown"></i></div>
				<div class="text">Cooldown</div>
			</div>
			<div class="col-xs-2 navigator-item row direction-column-xs center-xs middle-xs">
				<div class="icon-container icon-border-primary"><i class="icon-check"></i></div>
				<div class="text">Check Out</div>
			</div>
		</div> <!-- end of .form-navigator -->
		<h1 class="text-xs-center mb-xs-30">Warming up</h1>
		<p class="text-xs-center mb-xs-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas ullam voluptate nulla, sapiente, soluta perspiciatis aperiam sit deserunt eum dignissimos quo quam rerum numquam quos impedit esse at optio. Impedit.</p>
		<div class="bg-gray pl-xs-50 pr-xs-50 pt-xs-20 pb-xs-20">
			<div class="warmings-list row">
				<div class="warming-item text-xs-center">
					<h3>Attention! Safety first!</h3>
					<div class="icon"><i class="icon-caution"></i></div>
					<div class="warning">Be careful during the<br/>transition of exercises.</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div class="btn-panel row middle-xs center-xs">
			<div>
				<a (click)="goBalance()" class="btn btn-secondary">Start</a>
			</div>
		</div>
	</div>
	<div class="info-details">
		<div class="icon-container icon-warning"><i class="icon-information"></i></div>
	</div>
</div>