
.icon-add:before { content: '\e800'; } /* '' */
.icon-arrow1:before { content: '\e801'; } /* '' */
.icon-arrow2:before { content: '\e802'; } /* '' */
.icon-audio:before { content: '\e803'; } /* '' */
.icon-balance:before { content: '\e804'; } /* '' */
.icon-bed:before { content: '\e805'; } /* '' */
.icon-bike:before { content: '\e806'; } /* '' */
.icon-bin:before { content: '\e807'; } /* '' */
.icon-birthday:before { content: '\e808'; } /* '' */
.icon-breath:before { content: '\e809'; } /* '' */
.icon-brushing_teeth:before { content: '\e80a'; } /* '' */
.icon-call:before { content: '\e80b'; } /* '' */
.icon-caution:before { content: '\e80c'; } /* '' */
.icon-chat:before { content: '\e80d'; } /* '' */
.icon-check:before { content: '\e80e'; } /* '' */
.icon-close:before { content: '\e80f'; } /* '' */
.icon-coffee:before { content: '\e810'; } /* '' */
.icon-cooking:before { content: '\e811'; } /* '' */
.icon-cooldown:before { content: '\e812'; } /* '' */
.icon-days:before { content: '\e813'; } /* '' */
.icon-distance:before { content: '\e814'; } /* '' */
.icon-dizzy:before { content: '\e815'; } /* '' */
.icon-done:before { content: '\e816'; } /* '' */
.icon-dropdown_arrow:before { content: '\e817'; } /* '' */
.icon-email:before { content: '\e818'; } /* '' */
.icon-excited:before { content: '\e819'; } /* '' */
.icon-falling_back:before { content: '\e81a'; } /* '' */
.icon-falling_forward:before { content: '\e81b'; } /* '' */
.icon-falling:before { content: '\e81c'; } /* '' */
.icon-favorite:before { content: '\e81d'; } /* '' */
.icon-gardening:before { content: '\e81e'; } /* '' */
.icon-gym:before { content: '\e81f'; } /* '' */
.icon-information:before { content: '\e820'; } /* '' */
.icon-menu_chat:before { content: '\e821'; } /* '' */
.icon-menu_clients:before { content: '\e822'; } /* '' */
.icon-menu_home:before { content: '\e823'; } /* '' */
.icon-menu_planning:before { content: '\e824'; } /* '' */
.icon-menu_profile:before { content: '\e825'; } /* '' */
.icon-menu_schedule:before { content: '\e826'; } /* '' */
.icon-message:before { content: '\e827'; } /* '' */
.icon-minus:before { content: '\e828'; } /* '' */
.icon-name:before { content: '\e829'; } /* '' */
.icon-no_comment:before { content: '\e82a'; } /* '' */
.icon-not_excited:before { content: '\e82b'; } /* '' */
.icon-not_looking_forward:before { content: '\e82c'; } /* '' */
.icon-okay:before { content: '\e82d'; } /* '' */
.icon-pain:before { content: '\e82e'; } /* '' */
.icon-password:before { content: '\e82f'; } /* '' */
.icon-pause:before { content: '\e830'; } /* '' */
.icon-phone:before { content: '\e831'; } /* '' */
.icon-plus:before { content: '\e832'; } /* '' */
.icon-rest_day:before { content: '\e833'; } /* '' */
.icon-restart:before { content: '\e834'; } /* '' */
.icon-running:before { content: '\e835'; } /* '' */
.icon-notification:before { content: '\e836'; } /* '' */
.icon-start:before { content: '\e837'; } /* '' */
.icon-strenght:before { content: '\e838'; } /* '' */
.icon-strong:before { content: '\e839'; } /* '' */
.icon-swim:before { content: '\e83a'; } /* '' */
.icon-time:before { content: '\e83b'; } /* '' */
.icon-tv:before { content: '\e83c'; } /* '' */
.icon-walk:before { content: '\e83d'; } /* '' */
.icon-warming_up:before { content: '\e83e'; } /* '' */
.icon-welcome:before { content: '\e83f'; } /* '' */
.icon-yoga:before { content: '\e840'; } /* '' */
.icon-send:before { content: '\e841'; } /* '' */
.icon-logout:before { content: '\e842'; } /* '' */