* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
body {
  font: 14px/1.45 'sans-serif';
}
aside,
article,
footer,
header,
nav,
section,
div,
main,
figcaption,
figure,
details,
menu,
ul,
li {
  display: block;
}
h1 {
  font: 1.85em/1.45 'sans-serif';
  margin: 0 0 10px;
}
h2 {
  font: 1.57em/1.45 'sans-serif';
  margin: 0 0 10px;
}
h3 {
  font: 1.29em/1.45 'sans-serif';
  margin: 0 0 10px;
}
p {
  margin: 0 0 10px;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.start-xs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.center-xs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.end-xs {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.between-xs {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.top-xs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.middle-xs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.bottom-xs {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.self-top-xs {
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
.self-middle-xs {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.self-bottom-xs {
  -ms-flex-item-align: end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
}
.direction-row-xs {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.direction-row-reverse-xs {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.direction-column-xs {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.direction-column-reverse-xs {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.col-xs-auto {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  width: auto;
  -ms-flex-preferred-size: 0;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  max-width: 100%;
}
.col-xs-1 {
  width: 8.33333333333%;
}
.col-xs-2 {
  width: 16.6666666667%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-4 {
  width: 33.3333333333%;
}
.col-xs-5 {
  width: 41.6666666667%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-7 {
  width: 58.3333333333%;
}
.col-xs-8 {
  width: 66.6666666667%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-10 {
  width: 83.3333333333%;
}
.col-xs-11 {
  width: 91.6666666667%;
}
.col-xs-12 {
  width: 100%;
}
.order-xs-1 {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}
.order-xs-2 {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}
.order-xs-3 {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
}
.order-xs-4 {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  -webkit-order: 4;
  order: 4;
}
.order-xs-5 {
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  -webkit-order: 5;
  order: 5;
}
.order-xs-6 {
  -webkit-box-ordinal-group: 7;
  -ms-flex-order: 6;
  -webkit-order: 6;
  order: 6;
}
.order-xs-7 {
  -webkit-box-ordinal-group: 8;
  -ms-flex-order: 7;
  -webkit-order: 7;
  order: 7;
}
.order-xs-8 {
  -webkit-box-ordinal-group: 9;
  -ms-flex-order: 8;
  -webkit-order: 8;
  order: 8;
}
.order-xs-9 {
  -webkit-box-ordinal-group: 10;
  -ms-flex-order: 9;
  -webkit-order: 9;
  order: 9;
}
.order-xs-10 {
  -webkit-box-ordinal-group: 11;
  -ms-flex-order: 10;
  -webkit-order: 10;
  order: 10;
}
.order-xs-11 {
  -webkit-box-ordinal-group: 12;
  -ms-flex-order: 11;
  -webkit-order: 11;
  order: 11;
}
.order-xs-12 {
  -webkit-box-ordinal-group: 13;
  -ms-flex-order: 12;
  -webkit-order: 12;
  order: 12;
}
.text-xs-left {
  text-align: left;
}
.text-xs-center {
  text-align: center;
}
.text-xs-right {
  text-align: right;
}
.text-xs-justify {
  text-align: justify;
}
.text-xs-lowercase {
  text-transform: lowercase;
}
.text-xs-uppercase {
  text-transform: uppercase;
}
.text-xs-capitalize {
  text-transform: capitalize;
}
@media screen and (min-width: 544px) {
  .start-sm {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .center-sm {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .end-sm {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
  .between-sm {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .top-sm {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  .middle-sm {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .bottom-sm {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
  }
  .self-top-sm {
    -ms-flex-item-align: start;
    -webkit-align-self: flex-start;
    align-self: flex-start;
  }
  .self-middle-sm {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    -webkit-align-self: center;
    align-self: center;
  }
  .self-bottom-sm {
    -ms-flex-item-align: end;
    -webkit-align-self: flex-end;
    align-self: flex-end;
  }
  .direction-row-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  .direction-row-reverse-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .direction-column-sm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .direction-column-reverse-sm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .col-sm-auto {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    width: auto;
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-sm-1 {
    width: 8.33333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .order-sm-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .order-sm-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .order-sm-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .order-sm-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  .order-sm-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  .order-sm-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  .order-sm-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  .order-sm-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  .order-sm-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  .order-sm-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  .order-sm-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  .order-sm-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  .text-sm-left {
    text-align: left;
  }
  .text-sm-center {
    text-align: center;
  }
  .text-sm-right {
    text-align: right;
  }
  .text-sm-justify {
    text-align: justify;
  }
  .text-sm-lowercase {
    text-transform: lowercase;
  }
  .text-sm-uppercase {
    text-transform: uppercase;
  }
  .text-sm-capitalize {
    text-transform: capitalize;
  }
}
@media screen and (min-width: 768px) {
  .start-md {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .center-md {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .end-md {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
  .between-md {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .top-md {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  .middle-md {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .bottom-md {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
  }
  .self-top-md {
    -ms-flex-item-align: start;
    -webkit-align-self: flex-start;
    align-self: flex-start;
  }
  .self-middle-md {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    -webkit-align-self: center;
    align-self: center;
  }
  .self-bottom-md {
    -ms-flex-item-align: end;
    -webkit-align-self: flex-end;
    align-self: flex-end;
  }
  .direction-row-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  .direction-row-reverse-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .direction-column-md {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .direction-column-reverse-md {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .col-md-auto {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    width: auto;
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-md-1 {
    width: 8.33333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .order-md-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .order-md-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .order-md-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .order-md-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  .order-md-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  .order-md-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  .order-md-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  .order-md-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  .order-md-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  .order-md-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  .order-md-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  .order-md-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  .text-md-left {
    text-align: left;
  }
  .text-md-center {
    text-align: center;
  }
  .text-md-right {
    text-align: right;
  }
  .text-md-justify {
    text-align: justify;
  }
  .text-md-lowercase {
    text-transform: lowercase;
  }
  .text-md-uppercase {
    text-transform: uppercase;
  }
  .text-md-capitalize {
    text-transform: capitalize;
  }
}
@media screen and (min-width: 992px) {
  .start-lg {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .center-lg {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .end-lg {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
  .between-lg {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .top-lg {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  .middle-lg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .bottom-lg {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
  }
  .self-top-lg {
    -ms-flex-item-align: start;
    -webkit-align-self: flex-start;
    align-self: flex-start;
  }
  .self-middle-lg {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    -webkit-align-self: center;
    align-self: center;
  }
  .self-bottom-lg {
    -ms-flex-item-align: end;
    -webkit-align-self: flex-end;
    align-self: flex-end;
  }
  .direction-row-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  .direction-row-reverse-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .direction-column-lg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .direction-column-reverse-lg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .col-lg-auto {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    width: auto;
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-lg-1 {
    width: 8.33333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .order-lg-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .order-lg-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .order-lg-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .order-lg-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  .order-lg-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  .order-lg-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  .order-lg-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  .order-lg-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  .order-lg-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  .order-lg-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  .order-lg-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  .order-lg-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  .text-lg-left {
    text-align: left;
  }
  .text-lg-center {
    text-align: center;
  }
  .text-lg-right {
    text-align: right;
  }
  .text-lg-justify {
    text-align: justify;
  }
  .text-lg-lowercase {
    text-transform: lowercase;
  }
  .text-lg-uppercase {
    text-transform: uppercase;
  }
  .text-lg-capitalize {
    text-transform: capitalize;
  }
}
@media screen and (min-width: 1200px) {
  .start-xl {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .center-xl {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .end-xl {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
  .between-xl {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .top-xl {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  .middle-xl {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .bottom-xl {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
  }
  .self-top-xl {
    -ms-flex-item-align: start;
    -webkit-align-self: flex-start;
    align-self: flex-start;
  }
  .self-middle-xl {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    -webkit-align-self: center;
    align-self: center;
  }
  .self-bottom-xl {
    -ms-flex-item-align: end;
    -webkit-align-self: flex-end;
    align-self: flex-end;
  }
  .direction-row-xl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  .direction-row-reverse-xl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .direction-column-xl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .direction-column-reverse-xl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .col-xl-auto {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    width: auto;
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-xl-1 {
    width: 8.33333333333%;
  }
  .col-xl-2 {
    width: 16.6666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333333333%;
  }
  .col-xl-5 {
    width: 41.6666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333333333%;
  }
  .col-xl-8 {
    width: 66.6666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333333333%;
  }
  .col-xl-11 {
    width: 91.6666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
  .order-xl-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .order-xl-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .order-xl-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .order-xl-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  .order-xl-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  .order-xl-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  .order-xl-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  .order-xl-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  .order-xl-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  .order-xl-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  .order-xl-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  .order-xl-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  .text-xl-left {
    text-align: left;
  }
  .text-xl-center {
    text-align: center;
  }
  .text-xl-right {
    text-align: right;
  }
  .text-xl-justify {
    text-align: justify;
  }
  .text-xl-lowercase {
    text-transform: lowercase;
  }
  .text-xl-uppercase {
    text-transform: uppercase;
  }
  .text-xl-capitalize {
    text-transform: capitalize;
  }
}
/* ===== table styles ===== */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
table thead tr th {
  font: 700 1em/1.45 'sans-serif';
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #e6e6e6;
}
table tbody tr td {
  padding: 10px;
}
table.has-border thead tr th {
  border-bottom: 2px solid #e6e6e6;
}
table.has-border tbody tr:last-child td {
  border: 0;
}
table.has-border tbody tr td {
  border-bottom: 1px solid #e6e6e6;
}
table.striped tbody tr:nth-child( odd ) td {
  background: transparent;
}
table.striped tbody tr:nth-child( even ) td {
  background: #e6e6e6;
}
table.highlight tbody tr:hover td {
  background: #e6e6e6;
}
@media screen and (max-width: 767px) {
  table.responsive thead {
    display: none;
  }
  table.responsive tbody tr {
    display: block;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0;
  }
  table.responsive tbody tr:last-child {
    border: 0;
  }
  table.responsive tbody tr td {
    padding: 3px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  table.responsive tbody tr td:before {
    content: attr(data-th) ':';
    font: 700 1em/1.45 'sans-serif';
    margin: 0 5px 0 0;
  }
}
/* ===== form styles ===== */
.form-group {
  margin: 0 0 10px;
}
/* ===== paddings and margins ===== */
.p {
  /* ----- by 10s ----- */
  /* ----- by 15s ----- */
  /* ----- by 20s ----- */
  /* ----- by 30s ----- */
  /* ----- by 40s ----- */
  /* ----- by 50s ----- */
}
.p-xs-10 {
  padding: 10px;
}
.pt-xs-10 {
  padding-top: 10px;
}
.pb-xs-10 {
  padding-bottom: 10px;
}
.pl-xs-10 {
  padding-left: 10px;
}
.pr-xs-10 {
  padding-right: 10px;
}
.p-xs-15 {
  padding: 15px;
}
.pt-xs-15 {
  padding-top: 15px;
}
.pb-xs-15 {
  padding-bottom: 15px;
}
.pl-xs-15 {
  padding-left: 15px;
}
.pr-xs-15 {
  padding-right: 15px;
}
.p-xs-20 {
  padding: 20px;
}
.pt-xs-20 {
  padding-top: 20px;
}
.pb-xs-20 {
  padding-bottom: 20px;
}
.pl-xs-20 {
  padding-left: 20px;
}
.pr-xs-20 {
  padding-right: 20px;
}
.p-xs-30 {
  padding: 30px;
}
.pt-xs-30 {
  padding-top: 30px;
}
.pb-xs-30 {
  padding-bottom: 30px;
}
.pl-xs-30 {
  padding-left: 30px;
}
.pr-xs-30 {
  padding-right: 30px;
}
.p-xs-40 {
  padding: 40px;
}
.pt-xs-40 {
  padding-top: 40px;
}
.pb-xs-40 {
  padding-bottom: 40px;
}
.pl-xs-40 {
  padding-left: 40px;
}
.pr-xs-40 {
  padding-right: 40px;
}
.p-xs-50 {
  padding: 50px;
}
.pt-xs-50 {
  padding-top: 50px;
}
.pb-xs-50 {
  padding-bottom: 50px;
}
.pl-xs-50 {
  padding-left: 50px;
}
.pr-xs-50 {
  padding-right: 50px;
}
.m {
  /* ----- by 10s ----- */
  /* ----- by 15s ----- */
  /* ----- by 20s ----- */
  /* ----- by 30s ----- */
  /* ----- by 40s ----- */
  /* ----- by 50s ----- */
}
.m-xs-10 {
  margin: 10px;
}
.mt-xs-10 {
  margin-top: 10px;
}
.mb-xs-10 {
  margin-bottom: 10px;
}
.ml-xs-10 {
  margin-left: 10px;
}
.mr-xs-10 {
  margin-right: 10px;
}
.m-xs-15 {
  margin: 15px;
}
.mt-xs-15 {
  margin-top: 15px;
}
.mb-xs-15 {
  margin-bottom: 15px;
}
.ml-xs-15 {
  margin-left: 15px;
}
.mr-xs-15 {
  margin-right: 15px;
}
.m-xs-20 {
  margin: 20px;
}
.mt-xs-20 {
  margin-top: 20px;
}
.mb-xs-20 {
  margin-bottom: 20px;
}
.ml-xs-20 {
  margin-left: 20px;
}
.mr-xs-20 {
  margin-right: 20px;
}
.m-xs-30 {
  margin: 30px;
}
.mt-xs-30 {
  margin-top: 30px;
}
.mb-xs-30 {
  margin-bottom: 30px;
}
.ml-xs-30 {
  margin-left: 30px;
}
.mr-xs-30 {
  margin-right: 30px;
}
.m-xs-40 {
  margin: 40px;
}
.mt-xs-40 {
  margin-top: 40px;
}
.mb-xs-40 {
  margin-bottom: 40px;
}
.ml-xs-40 {
  margin-left: 40px;
}
.mr-xs-40 {
  margin-right: 40px;
}
.m-xs-50 {
  margin: 50px;
}
.mt-xs-50 {
  margin-top: 50px;
}
.mb-xs-50 {
  margin-bottom: 50px;
}
.ml-xs-50 {
  margin-left: 50px;
}
.mr-xs-50 {
  margin-right: 50px;
}
@media screen and (min-width: 544px) {
  .p {
    /* ----- by 10s ----- */
    /* ----- by 15s ----- */
    /* ----- by 20s ----- */
    /* ----- by 30s ----- */
    /* ----- by 40s ----- */
    /* ----- by 50s ----- */
  }
  .p-sm-10 {
    padding: 10px;
  }
  .pt-sm-10 {
    padding-top: 10px;
  }
  .pb-sm-10 {
    padding-bottom: 10px;
  }
  .pl-sm-10 {
    padding-left: 10px;
  }
  .pr-sm-10 {
    padding-right: 10px;
  }
  .p-sm-15 {
    padding: 15px;
  }
  .pt-sm-15 {
    padding-top: 15px;
  }
  .pb-sm-15 {
    padding-bottom: 15px;
  }
  .pl-sm-15 {
    padding-left: 15px;
  }
  .pr-sm-15 {
    padding-right: 15px;
  }
  .p-sm-20 {
    padding: 20px;
  }
  .pt-sm-20 {
    padding-top: 20px;
  }
  .pb-sm-20 {
    padding-bottom: 20px;
  }
  .pl-sm-20 {
    padding-left: 20px;
  }
  .pr-sm-20 {
    padding-right: 20px;
  }
  .p-sm-30 {
    padding: 30px;
  }
  .pt-sm-30 {
    padding-top: 30px;
  }
  .pb-sm-30 {
    padding-bottom: 30px;
  }
  .pl-sm-30 {
    padding-left: 30px;
  }
  .pr-sm-30 {
    padding-right: 30px;
  }
  .p-sm-40 {
    padding: 40px;
  }
  .pt-sm-40 {
    padding-top: 40px;
  }
  .pb-sm-40 {
    padding-bottom: 40px;
  }
  .pl-sm-40 {
    padding-left: 40px;
  }
  .pr-sm-40 {
    padding-right: 40px;
  }
  .p-sm-50 {
    padding: 50px;
  }
  .pt-sm-50 {
    padding-top: 50px;
  }
  .pb-sm-50 {
    padding-bottom: 50px;
  }
  .pl-sm-50 {
    padding-left: 50px;
  }
  .pr-sm-50 {
    padding-right: 50px;
  }
  .m {
    /* ----- by 10s ----- */
    /* ----- by 15s ----- */
    /* ----- by 20s ----- */
    /* ----- by 30s ----- */
    /* ----- by 40s ----- */
    /* ----- by 50s ----- */
  }
  .m-sm-10 {
    margin: 10px;
  }
  .mt-sm-10 {
    margin-top: 10px;
  }
  .mb-sm-10 {
    margin-bottom: 10px;
  }
  .ml-sm-10 {
    margin-left: 10px;
  }
  .mr-sm-10 {
    margin-right: 10px;
  }
  .m-sm-15 {
    margin: 15px;
  }
  .mt-sm-15 {
    margin-top: 15px;
  }
  .mb-sm-15 {
    margin-bottom: 15px;
  }
  .ml-sm-15 {
    margin-left: 15px;
  }
  .mr-sm-15 {
    margin-right: 15px;
  }
  .m-sm-20 {
    margin: 20px;
  }
  .mt-sm-20 {
    margin-top: 20px;
  }
  .mb-sm-20 {
    margin-bottom: 20px;
  }
  .ml-sm-20 {
    margin-left: 20px;
  }
  .mr-sm-20 {
    margin-right: 20px;
  }
  .m-sm-30 {
    margin: 30px;
  }
  .mt-sm-30 {
    margin-top: 30px;
  }
  .mb-sm-30 {
    margin-bottom: 30px;
  }
  .ml-sm-30 {
    margin-left: 30px;
  }
  .mr-sm-30 {
    margin-right: 30px;
  }
  .m-sm-40 {
    margin: 40px;
  }
  .mt-sm-40 {
    margin-top: 40px;
  }
  .mb-sm-40 {
    margin-bottom: 40px;
  }
  .ml-sm-40 {
    margin-left: 40px;
  }
  .mr-sm-40 {
    margin-right: 40px;
  }
  .m-sm-50 {
    margin: 50px;
  }
  .mt-sm-50 {
    margin-top: 50px;
  }
  .mb-sm-50 {
    margin-bottom: 50px;
  }
  .ml-sm-50 {
    margin-left: 50px;
  }
  .mr-sm-50 {
    margin-right: 50px;
  }
}
@media screen and (min-width: 768px) {
  .p {
    /* ----- by 10s ----- */
    /* ----- by 15s ----- */
    /* ----- by 20s ----- */
    /* ----- by 30s ----- */
    /* ----- by 40s ----- */
    /* ----- by 50s ----- */
  }
  .p-md-10 {
    padding: 10px;
  }
  .pt-md-10 {
    padding-top: 10px;
  }
  .pb-md-10 {
    padding-bottom: 10px;
  }
  .pl-md-10 {
    padding-left: 10px;
  }
  .pr-md-10 {
    padding-right: 10px;
  }
  .p-md-15 {
    padding: 15px;
  }
  .pt-md-15 {
    padding-top: 15px;
  }
  .pb-md-15 {
    padding-bottom: 15px;
  }
  .pl-md-15 {
    padding-left: 15px;
  }
  .pr-md-15 {
    padding-right: 15px;
  }
  .p-md-20 {
    padding: 20px;
  }
  .pt-md-20 {
    padding-top: 20px;
  }
  .pb-md-20 {
    padding-bottom: 20px;
  }
  .pl-md-20 {
    padding-left: 20px;
  }
  .pr-md-20 {
    padding-right: 20px;
  }
  .p-md-30 {
    padding: 30px;
  }
  .pt-md-30 {
    padding-top: 30px;
  }
  .pb-md-30 {
    padding-bottom: 30px;
  }
  .pl-md-30 {
    padding-left: 30px;
  }
  .pr-md-30 {
    padding-right: 30px;
  }
  .p-md-40 {
    padding: 40px;
  }
  .pt-md-40 {
    padding-top: 40px;
  }
  .pb-md-40 {
    padding-bottom: 40px;
  }
  .pl-md-40 {
    padding-left: 40px;
  }
  .pr-md-40 {
    padding-right: 40px;
  }
  .p-md-50 {
    padding: 50px;
  }
  .pt-md-50 {
    padding-top: 50px;
  }
  .pb-md-50 {
    padding-bottom: 50px;
  }
  .pl-md-50 {
    padding-left: 50px;
  }
  .pr-md-50 {
    padding-right: 50px;
  }
  .m {
    /* ----- by 10s ----- */
    /* ----- by 15s ----- */
    /* ----- by 20s ----- */
    /* ----- by 30s ----- */
    /* ----- by 40s ----- */
    /* ----- by 50s ----- */
  }
  .m-md-10 {
    margin: 10px;
  }
  .mt-md-10 {
    margin-top: 10px;
  }
  .mb-md-10 {
    margin-bottom: 10px;
  }
  .ml-md-10 {
    margin-left: 10px;
  }
  .mr-md-10 {
    margin-right: 10px;
  }
  .m-md-15 {
    margin: 15px;
  }
  .mt-md-15 {
    margin-top: 15px;
  }
  .mb-md-15 {
    margin-bottom: 15px;
  }
  .ml-md-15 {
    margin-left: 15px;
  }
  .mr-md-15 {
    margin-right: 15px;
  }
  .m-md-20 {
    margin: 20px;
  }
  .mt-md-20 {
    margin-top: 20px;
  }
  .mb-md-20 {
    margin-bottom: 20px;
  }
  .ml-md-20 {
    margin-left: 20px;
  }
  .mr-md-20 {
    margin-right: 20px;
  }
  .m-md-30 {
    margin: 30px;
  }
  .mt-md-30 {
    margin-top: 30px;
  }
  .mb-md-30 {
    margin-bottom: 30px;
  }
  .ml-md-30 {
    margin-left: 30px;
  }
  .mr-md-30 {
    margin-right: 30px;
  }
  .m-md-40 {
    margin: 40px;
  }
  .mt-md-40 {
    margin-top: 40px;
  }
  .mb-md-40 {
    margin-bottom: 40px;
  }
  .ml-md-40 {
    margin-left: 40px;
  }
  .mr-md-40 {
    margin-right: 40px;
  }
  .m-md-50 {
    margin: 50px;
  }
  .mt-md-50 {
    margin-top: 50px;
  }
  .mb-md-50 {
    margin-bottom: 50px;
  }
  .ml-md-50 {
    margin-left: 50px;
  }
  .mr-md-50 {
    margin-right: 50px;
  }
}
@media screen and (min-width: 992px) {
  .p {
    /* ----- by 10s ----- */
    /* ----- by 15s ----- */
    /* ----- by 20s ----- */
    /* ----- by 30s ----- */
    /* ----- by 40s ----- */
    /* ----- by 50s ----- */
  }
  .p-lg-10 {
    padding: 10px;
  }
  .pt-lg-10 {
    padding-top: 10px;
  }
  .pb-lg-10 {
    padding-bottom: 10px;
  }
  .pl-lg-10 {
    padding-left: 10px;
  }
  .pr-lg-10 {
    padding-right: 10px;
  }
  .p-lg-15 {
    padding: 15px;
  }
  .pt-lg-15 {
    padding-top: 15px;
  }
  .pb-lg-15 {
    padding-bottom: 15px;
  }
  .pl-lg-15 {
    padding-left: 15px;
  }
  .pr-lg-15 {
    padding-right: 15px;
  }
  .p-lg-20 {
    padding: 20px;
  }
  .pt-lg-20 {
    padding-top: 20px;
  }
  .pb-lg-20 {
    padding-bottom: 20px;
  }
  .pl-lg-20 {
    padding-left: 20px;
  }
  .pr-lg-20 {
    padding-right: 20px;
  }
  .p-lg-30 {
    padding: 30px;
  }
  .pt-lg-30 {
    padding-top: 30px;
  }
  .pb-lg-30 {
    padding-bottom: 30px;
  }
  .pl-lg-30 {
    padding-left: 30px;
  }
  .pr-lg-30 {
    padding-right: 30px;
  }
  .p-lg-40 {
    padding: 40px;
  }
  .pt-lg-40 {
    padding-top: 40px;
  }
  .pb-lg-40 {
    padding-bottom: 40px;
  }
  .pl-lg-40 {
    padding-left: 40px;
  }
  .pr-lg-40 {
    padding-right: 40px;
  }
  .p-lg-50 {
    padding: 50px;
  }
  .pt-lg-50 {
    padding-top: 50px;
  }
  .pb-lg-50 {
    padding-bottom: 50px;
  }
  .pl-lg-50 {
    padding-left: 50px;
  }
  .pr-lg-50 {
    padding-right: 50px;
  }
  .m {
    /* ----- by 10s ----- */
    /* ----- by 15s ----- */
    /* ----- by 20s ----- */
    /* ----- by 30s ----- */
    /* ----- by 40s ----- */
    /* ----- by 50s ----- */
  }
  .m-lg-10 {
    margin: 10px;
  }
  .mt-lg-10 {
    margin-top: 10px;
  }
  .mb-lg-10 {
    margin-bottom: 10px;
  }
  .ml-lg-10 {
    margin-left: 10px;
  }
  .mr-lg-10 {
    margin-right: 10px;
  }
  .m-lg-15 {
    margin: 15px;
  }
  .mt-lg-15 {
    margin-top: 15px;
  }
  .mb-lg-15 {
    margin-bottom: 15px;
  }
  .ml-lg-15 {
    margin-left: 15px;
  }
  .mr-lg-15 {
    margin-right: 15px;
  }
  .m-lg-20 {
    margin: 20px;
  }
  .mt-lg-20 {
    margin-top: 20px;
  }
  .mb-lg-20 {
    margin-bottom: 20px;
  }
  .ml-lg-20 {
    margin-left: 20px;
  }
  .mr-lg-20 {
    margin-right: 20px;
  }
  .m-lg-30 {
    margin: 30px;
  }
  .mt-lg-30 {
    margin-top: 30px;
  }
  .mb-lg-30 {
    margin-bottom: 30px;
  }
  .ml-lg-30 {
    margin-left: 30px;
  }
  .mr-lg-30 {
    margin-right: 30px;
  }
  .m-lg-40 {
    margin: 40px;
  }
  .mt-lg-40 {
    margin-top: 40px;
  }
  .mb-lg-40 {
    margin-bottom: 40px;
  }
  .ml-lg-40 {
    margin-left: 40px;
  }
  .mr-lg-40 {
    margin-right: 40px;
  }
  .m-lg-50 {
    margin: 50px;
  }
  .mt-lg-50 {
    margin-top: 50px;
  }
  .mb-lg-50 {
    margin-bottom: 50px;
  }
  .ml-lg-50 {
    margin-left: 50px;
  }
  .mr-lg-50 {
    margin-right: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .p {
    /* ----- by 10s ----- */
    /* ----- by 15s ----- */
    /* ----- by 20s ----- */
    /* ----- by 30s ----- */
    /* ----- by 40s ----- */
    /* ----- by 50s ----- */
  }
  .p-xl-10 {
    padding: 10px;
  }
  .pt-xl-10 {
    padding-top: 10px;
  }
  .pb-xl-10 {
    padding-bottom: 10px;
  }
  .pl-xl-10 {
    padding-left: 10px;
  }
  .pr-xl-10 {
    padding-right: 10px;
  }
  .p-xl-15 {
    padding: 15px;
  }
  .pt-xl-15 {
    padding-top: 15px;
  }
  .pb-xl-15 {
    padding-bottom: 15px;
  }
  .pl-xl-15 {
    padding-left: 15px;
  }
  .pr-xl-15 {
    padding-right: 15px;
  }
  .p-xl-20 {
    padding: 20px;
  }
  .pt-xl-20 {
    padding-top: 20px;
  }
  .pb-xl-20 {
    padding-bottom: 20px;
  }
  .pl-xl-20 {
    padding-left: 20px;
  }
  .pr-xl-20 {
    padding-right: 20px;
  }
  .p-xl-30 {
    padding: 30px;
  }
  .pt-xl-30 {
    padding-top: 30px;
  }
  .pb-xl-30 {
    padding-bottom: 30px;
  }
  .pl-xl-30 {
    padding-left: 30px;
  }
  .pr-xl-30 {
    padding-right: 30px;
  }
  .p-xl-40 {
    padding: 40px;
  }
  .pt-xl-40 {
    padding-top: 40px;
  }
  .pb-xl-40 {
    padding-bottom: 40px;
  }
  .pl-xl-40 {
    padding-left: 40px;
  }
  .pr-xl-40 {
    padding-right: 40px;
  }
  .p-xl-50 {
    padding: 50px;
  }
  .pt-xl-50 {
    padding-top: 50px;
  }
  .pb-xl-50 {
    padding-bottom: 50px;
  }
  .pl-xl-50 {
    padding-left: 50px;
  }
  .pr-xl-50 {
    padding-right: 50px;
  }
  .m {
    /* ----- by 10s ----- */
    /* ----- by 15s ----- */
    /* ----- by 20s ----- */
    /* ----- by 30s ----- */
    /* ----- by 40s ----- */
    /* ----- by 50s ----- */
  }
  .m-xl-10 {
    margin: 10px;
  }
  .mt-xl-10 {
    margin-top: 10px;
  }
  .mb-xl-10 {
    margin-bottom: 10px;
  }
  .ml-xl-10 {
    margin-left: 10px;
  }
  .mr-xl-10 {
    margin-right: 10px;
  }
  .m-xl-15 {
    margin: 15px;
  }
  .mt-xl-15 {
    margin-top: 15px;
  }
  .mb-xl-15 {
    margin-bottom: 15px;
  }
  .ml-xl-15 {
    margin-left: 15px;
  }
  .mr-xl-15 {
    margin-right: 15px;
  }
  .m-xl-20 {
    margin: 20px;
  }
  .mt-xl-20 {
    margin-top: 20px;
  }
  .mb-xl-20 {
    margin-bottom: 20px;
  }
  .ml-xl-20 {
    margin-left: 20px;
  }
  .mr-xl-20 {
    margin-right: 20px;
  }
  .m-xl-30 {
    margin: 30px;
  }
  .mt-xl-30 {
    margin-top: 30px;
  }
  .mb-xl-30 {
    margin-bottom: 30px;
  }
  .ml-xl-30 {
    margin-left: 30px;
  }
  .mr-xl-30 {
    margin-right: 30px;
  }
  .m-xl-40 {
    margin: 40px;
  }
  .mt-xl-40 {
    margin-top: 40px;
  }
  .mb-xl-40 {
    margin-bottom: 40px;
  }
  .ml-xl-40 {
    margin-left: 40px;
  }
  .mr-xl-40 {
    margin-right: 40px;
  }
  .m-xl-50 {
    margin: 50px;
  }
  .mt-xl-50 {
    margin-top: 50px;
  }
  .mb-xl-50 {
    margin-bottom: 50px;
  }
  .ml-xl-50 {
    margin-left: 50px;
  }
  .mr-xl-50 {
    margin-right: 50px;
  }
}
