<div class="row center-xs middle-xs form-navigator mb-xs-30">
	<div class="form-navigator-line">
		<div class="form-navigator-progress" style="width: 50%;"></div>
	</div>
	<div class="col-xs-4 navigator-item row direction-column-xs center-xs middle-xs">
		<div class="icon-container icon-primary"><i class="icon-check"></i></div>
		<div class="text">Personal Info</div>
	</div>
	<div class="col-xs-4 navigator-item row direction-column-xs center-xs middle-xs">
		<div class="icon-container icon-border-primary"><i class="icon-check"></i></div>
		<div class="text">Program</div>
	</div>
	<div class="col-xs-4 navigator-item row direction-column-xs center-xs middle-xs">
		<div class="icon-container icon-border-primary"><i class="icon-check"></i></div>
		<div class="text">Personal Info</div>
	</div>
</div>
<h1 class="mb-xs-10 text-xs-center mb-xs-50">Otago Walkprogram</h1>
<div class="row middle-xs center-xs mb-xs-30 pl-xs-50 pr-xs-50">
	<div class="col-xs-6">
		<h2>Amount of days a week</h2>
	</div>
	<div class="col-xs-6">
		<div class="form-group" style="margin: 0;">
			<div class="dropdown">
				<select>
					<option value="2x_a_week">2x a week</option>
					<option value="2x_a_week">2x a week</option>
					<option value="2x_a_week">2x a week</option>
				</select>
			</div>
		</div>
	</div>
</div>
<div class="bg-gray pl-xs-50 pr-xs-50 pt-xs-20 pb-xs-20">
	<div class="form-group">
		<div class="row">
			<div class="col-xs-6">
				<h3>Distance</h3>
			</div>
			<div class="col-xs-6">
				<div class="increment-container">
					<div class="icon-container icon-primary"><i class="icon-decrease">-</i></div>
					<div class="increment-number">
						<input type="text" value="3.0" class="increment-input" />
						<div class="text">km</div>
					</div>
					<div class="icon-container icon-primary"><i class="icon-plus"></i></div>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-xs-6">
				<h3>Time</h3>
			</div>
			<div class="col-xs-6">
				<div class="increment-container">
					<div class="icon-container icon-primary"><i class="icon-decrease">-</i></div>
					<div class="increment-number">
						<input type="text" value="3.0" class="increment-input" />
						<div class="text">km</div>
					</div>
					<div class="icon-container icon-primary"><i class="icon-plus"></i></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="btn-panel row middle-xs center-xs mt-xs-50">
	<div>
		<a (click)="controlProgram()" class="btn btn-secondary">Save</a>
	</div>
</div>