page-overview-training {
	.trainings-comment {
		.comment-item {
			padding: 10px 20px 0;
			border-bottom: 1px solid #f0f0f0;

			&:last-child {
				border: 0;
			}

			.label {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				width: 150px;
				margin: 0 0 10px;

				.icon-container {
					margin: 0 10px 0 0;
				}
			}

			.comments {
				display: flex;
				align-items: center;
				flex-wrap: wrap;

				.comment {
					background: #edf0f2;
					display: flex;
					align-items: center;
					padding: 5px 20px 5px 5px;
					border-radius: 15px;
					position: relative;
					margin: 0 15px 10px 0;

					&.no-comment {
						background: transparent;
						border-radius: 0;
						color: #d4d4d4;

						.icon-smiley {
							margin: -1px 3px 0 0;
						}
					}

					.icon-smiley {
						margin: 0 3px 0 0;

						&.warning {
							color: $warning;
						}

						.icon-close {
							font: 0.571em/1.45 'Fontello';
						}
					}

					.text {
						font: 0.857em/1.45 $baseFont;
					}

					.count {
						color: $secondary;
						position: absolute;
						top: -5px;
						right: -5px;

						.number {
							width: 15px;
							height: 15px;
							border-radius: 50%;
							color: #fff;
							font: 0.571em/1.45 $baseFont;
							position: absolute;
							top: -6px;
							right: -6px;
							background: $primary;
							display: flex;
							align-items: center;
							justify-content: center;
							flex-wrap: wrap;
						}
					}
				}
			}
		}
	}
}
