<ion-content no-bounce>
	<div class="content-details">
		<div class="row">
			<side-menu></side-menu>
			<div class="left-content">
				<div class="go-back row middle-xs" (click)="profilePage()">
					<div class="icon"><i class="icon-arrow2"></i></div>
					<div class="text">Go Back</div>
				</div> <!-- end of .go-back -->
				<div class="days-list">
					<a class="day-item">
						<div class="row middle-xs between-xs">
							<div class="date text-xs-center">
								<div class="day">01</div>
								<div class="month text-xs-uppercase">Feb</div>
							</div> <!-- end of .date -->
							<div class="col-xs-auto pl-xs-30">
								<div class="row middle-xs">
									<div class="icon-container icon-secondary">
										<div class="notif row middle-xs center-xs">7</div>
										<i class="icon-walk"></i>
									</div>
								</div>
							</div>
						</div>
					</a> <!-- end of .day-item -->
					<div class="day-item">
						<div class="row middle-xs between-xs">
							<div class="date text-xs-center">
								<div class="day">02</div>
								<div class="month text-xs-uppercase">Feb</div>
							</div> <!-- end of .date -->
							<div class="col-xs-auto pl-xs-30">
								<div class="row middle-xs">
									<div class="icon-container icon-secondary">
										<i class="icon-walk"></i>
									</div>
									<div class="icon-container icon-warning">
										<i class="icon-strenght"></i>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- end of .day-item -->
					<div class="day-item">
						<div class="row middle-xs between-xs">
							<div class="date text-xs-center">
								<div class="day">02</div>
								<div class="month text-xs-uppercase">Feb</div>
							</div> <!-- end of .date -->
							<div class="col-xs-auto pl-xs-30">
								<div class="row middle-xs">
									<div class="icon-container icon-disable">
										<i class="icon-walk"></i>
									</div>
									<div class="icon-container icon-disable">
										<i class="icon-strenght"></i>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- end of .day-item -->
					<div class="day-item">
						<div class="row middle-xs between-xs">
							<div class="date text-xs-center">
								<div class="day">02</div>
								<div class="month text-xs-uppercase">Feb</div>
							</div> <!-- end of .date -->
							<div class="col-xs-auto pl-xs-30">
								<div class="row middle-xs">
									<div class="icon-container icon-disable">
										<i class="icon-walk"></i>
									</div>
									<div class="icon-container icon-disable">
										<i class="icon-strenght"></i>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- end of .day-item -->
					<div class="day-item">
						<div class="row middle-xs between-xs">
							<div class="date text-xs-center">
								<div class="day">02</div>
								<div class="month text-xs-uppercase">Feb</div>
							</div> <!-- end of .date -->
							<div class="col-xs-auto pl-xs-30">
								<div class="row middle-xs">
									<div class="icon-container icon-disable">
										<i class="icon-walk"></i>
									</div>
									<div class="icon-container icon-disable">
										<i class="icon-strenght"></i>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- end of .day-item -->
					<div class="day-item">
						<div class="row middle-xs between-xs">
							<div class="date text-xs-center">
								<div class="day">02</div>
								<div class="month text-xs-uppercase">Feb</div>
							</div> <!-- end of .date -->
							<div class="col-xs-auto pl-xs-30">
								<div class="row middle-xs">
									<div class="icon-container icon-disable">
										<i class="icon-walk"></i>
									</div>
									<div class="icon-container icon-disable">
										<i class="icon-strenght"></i>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- end of .day-item -->
					<div class="day-item">
						<div class="row middle-xs between-xs">
							<div class="date text-xs-center">
								<div class="day">02</div>
								<div class="month text-xs-uppercase">Feb</div>
							</div> <!-- end of .date -->
							<div class="col-xs-auto pl-xs-30">
								<div class="row middle-xs">
									<div class="icon-container icon-disable">
										<i class="icon-walk"></i>
									</div>
									<div class="icon-container icon-disable">
										<i class="icon-strenght"></i>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- end of .day-item -->
					<div class="day-item">
						<div class="row middle-xs between-xs">
							<div class="date text-xs-center">
								<div class="day">02</div>
								<div class="month text-xs-uppercase">Feb</div>
							</div> <!-- end of .date -->
							<div class="col-xs-auto pl-xs-30">
								<div class="row middle-xs">
									<div class="icon-container icon-disable">
										<i class="icon-walk"></i>
									</div>
									<div class="icon-container icon-disable">
										<i class="icon-strenght"></i>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- end of .day-item -->
					<div class="day-item">
						<div class="row middle-xs between-xs">
							<div class="date text-xs-center">
								<div class="day">02</div>
								<div class="month text-xs-uppercase">Feb</div>
							</div> <!-- end of .date -->
							<div class="col-xs-auto pl-xs-30">
								<div class="row middle-xs">
									<div class="icon-container icon-disable">
										<i class="icon-walk"></i>
									</div>
									<div class="icon-container icon-disable">
										<i class="icon-strenght"></i>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- end of .day-item -->
					<div class="day-item">
						<div class="row middle-xs between-xs">
							<div class="date text-xs-center">
								<div class="day">02</div>
								<div class="month text-xs-uppercase">Feb</div>
							</div> <!-- end of .date -->
							<div class="col-xs-auto pl-xs-30">
								<div class="row middle-xs">
									<div class="icon-container icon-disable">
										<i class="icon-walk"></i>
									</div>
									<div class="icon-container icon-disable">
										<i class="icon-strenght"></i>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- end of .day-item -->
					<div class="day-item">
						<div class="row middle-xs between-xs">
							<div class="date text-xs-center">
								<div class="day">02</div>
								<div class="month text-xs-uppercase">Feb</div>
							</div> <!-- end of .date -->
							<div class="col-xs-auto pl-xs-30">
								<div class="row middle-xs">
									<div class="icon-container icon-disable">
										<i class="icon-walk"></i>
									</div>
									<div class="icon-container icon-disable">
										<i class="icon-strenght"></i>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- end of .day-item -->
					<div class="day-item">
						<div class="row middle-xs between-xs">
							<div class="date text-xs-center">
								<div class="day">02</div>
								<div class="month text-xs-uppercase">Feb</div>
							</div> <!-- end of .date -->
							<div class="col-xs-auto pl-xs-30">
								<div class="row middle-xs">
									<div class="icon-container icon-disable">
										<i class="icon-walk"></i>
									</div>
									<div class="icon-container icon-disable">
										<i class="icon-strenght"></i>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- end of .day-item -->
					<div class="day-item">
						<div class="row middle-xs between-xs">
							<div class="date text-xs-center">
								<div class="day">02</div>
								<div class="month text-xs-uppercase">Feb</div>
							</div> <!-- end of .date -->
							<div class="col-xs-auto pl-xs-30">
								<div class="row middle-xs">
									<div class="icon-container icon-disable">
										<i class="icon-walk"></i>
									</div>
									<div class="icon-container icon-disable">
										<i class="icon-strenght"></i>
									</div>
								</div>
							</div>
						</div>
					</div> <!-- end of .day-item -->
				</div>
			</div> <!-- end of .left-content -->
			<div class="right-content bg-white col-xs-auto">
				<div class="top-title row middle-xs between-xs">
					<h3>Maandag <span>06 February</span></h3>
					<div>
						<a href="#!" class="btn btn-secondary">
							<span class="icon"><i class="icon-message"></i></span>
							<span class="text">Chatten</span>
						</a>
					</div>
				</div> <!-- end of .top-title -->
				<div class="p-xs-50">
					<div class="bg-gray">
						<div class="trainings-comment">
							<div class="comment-item row middle-xs">
								<div class="label">
									<div class="icon-container"><i class="icon-warming_up"></i></div>
									<label><strong>Warm up</strong></label>
								</div> <!-- end of .label -->
								<div class="comments col-xs-auto">
									<div class="comment row middle-xs">
										<div class="icon-smiley"><i class="icon-excited"></i></div>
										<div class="text">Stretching back</div>
										<div class="count">
											<i class="icon-message"></i>
										</div>
									</div>
								</div>
							</div> <!-- end of .comment-item -->
							<div class="comment-item row middle-xs">
								<div class="label">
									<div class="icon-container"><i class="icon-balance"></i></div>
									<label><strong>Balance</strong></label>
								</div> <!-- end of .label -->
								<div class="comments col-xs-auto">
									<div class="comment no-comment row middle-xs">
										<div class="icon-smiley"><i class="icon-close"></i></div>
										<div class="text">No comments</div>
									</div>
								</div>
							</div> <!-- end of .comment-item -->
							<div class="comment-item row middle-xs">
								<div class="label">
									<div class="icon-container"><i class="icon-strenght"></i></div>
									<label><strong>Strength</strong></label>
								</div> <!-- end of .label -->
								<div class="comments col-xs-auto">
									<div class="comment row middle-xs">
										<div class="icon-smiley warning"><i class="icon-excited"></i></div>
										<div class="text">Stretching calf muscles</div>
										<div class="count">
											<div class="number">1</div>
											<i class="icon-message"></i>
										</div>
									</div>
								</div>
							</div> <!-- end of .comment-item -->
							<div class="comment-item row middle-xs">
								<div class="label">
									<div class="icon-container"><i class="icon-cooldown"></i></div>
									<label><strong>Cooldown</strong></label>
								</div> <!-- end of .label -->
								<div class="comments col-xs-auto">
									<div class="comment row middle-xs">
										<div class="icon-smiley warning"><i class="icon-excited"></i></div>
										<div class="text">Stretching calf muscles</div>
										<div class="count">
											<div class="number">1</div>
											<i class="icon-message"></i>
										</div>
									</div>
									<div class="comment row middle-xs">
										<div class="icon-smiley warning"><i class="icon-excited"></i></div>
										<div class="text">Stretching calf muscles</div>
										<div class="count">
											<div class="number">1</div>
											<i class="icon-message"></i>
										</div>
									</div>
									<div class="comment row middle-xs">
										<div class="icon-smiley warning"><i class="icon-excited"></i></div>
										<div class="text">Stretching calf muscles</div>
										<div class="count">
											<div class="number">1</div>
											<i class="icon-message"></i>
										</div>
									</div>
									<div class="comment row middle-xs">
										<div class="icon-smiley warning"><i class="icon-excited"></i></div>
										<div class="text">Stretching calf muscles</div>
										<div class="count">
											<div class="number">1</div>
											<i class="icon-message"></i>
										</div>
									</div>
								</div>
							</div> <!-- end of .comment-item -->
							<div class="comment-item row middle-xs">
								<div class="label">
									<div class="icon-container"><i class="icon-check"></i></div>
									<label><strong>Check out</strong></label>
								</div> <!-- end of .label -->
								<div class="comments col-xs-auto">
									<div class="comment row middle-xs">
										<div class="icon-smiley warning"><i class="icon-excited"></i></div>
										<div class="text">Stretching calf muscles</div>
										<div class="count">
											<div class="number">1</div>
											<i class="icon-message"></i>
										</div>
									</div>
								</div>
							</div> <!-- end of .comment-item -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ion-content>