<div class="training-details row between-xs direction-column-xs">
	<div>
		<div class="form-navigator row middle-xs between-xs mb-xs-20">
			<div class="form-navigator-line">
				<div class="form-navigator-progress" style="width: 45%;"></div>
			</div>
			<div class="col-xs-2 navigator-item row direction-column-xs center-xs middle-xs">
				<div class="icon-container icon-primary"><i class="icon-check"></i></div>
				<div class="text">Check In</div>
			</div>
			<div class="col-xs-2 navigator-item row direction-column-xs center-xs middle-xs">
				<div class="icon-container icon-primary"><i class="icon-warming_up"></i></div>
				<div class="text">Warming-up</div>
			</div>
			<div class="col-xs-2 navigator-item row direction-column-xs center-xs middle-xs">
				<div class="icon-container icon-primary"><i class="icon-balance"></i></div>
				<div class="text">Balance</div>
			</div>
			<div class="col-xs-2 navigator-item row direction-column-xs center-xs middle-xs">
				<div class="icon-container icon-border-primary"><i class="icon-strenght"></i></div>
				<div class="text">Strength</div>
			</div>
			<div class="col-xs-2 navigator-item row direction-column-xs center-xs middle-xs">
				<div class="icon-container icon-border-primary"><i class="icon-cooldown"></i></div>
				<div class="text">Cooldown</div>
			</div>
			<div class="col-xs-2 navigator-item row direction-column-xs center-xs middle-xs">
				<div class="icon-container icon-border-primary"><i class="icon-check"></i></div>
				<div class="text">Check Out</div>
			</div>
		</div> <!-- end of .form-navigator -->
		<div class="row">
			<div class="col-xs-6 pr-xs-10">
				<img src="assets/img/programs/squat.jpg" />
				<div class="time row middle-xs center-xs">
					<div>
						<div class="count">10</div>
						<div class="label">Minutes</div>
					</div>
					<div>
						<div class="count">8</div>
						<div class="label">Sets</div>
					</div>
					<div>
						<div class="count">5x</div>
						<div class="label">Repeat</div>
					</div>
				</div>
			</div>
			<div class="col-xs-6 pl-xs-10">
				<h1 class="mb-xs-20">Rotational movements of the head (2/7)</h1>
				<ul class="movements-list">
					<li>Place your feet at the width of your shoulder</li>
					<li>Move the head slowly to the feet</li>
					<li>Slowly move the head to the right</li>
				</ul>
			</div>
		</div>
		<div class="bg-gray">
			<div class="row middle-xs center-xs">
				<h2 class="text-xs-center">How did the exercise go?</h2>
				<div class="feelings-list row center-xs">
					<div class="feeling-item text-xs-center ml-xs-10 mr-xs-10">
						<div class="icon"><i class="icon-okay"></i></div>
						<div class="text">Easy!</div>
					</div>
					<div class="feeling-item text-xs-center ml-xs-10 mr-xs-10 selected">
						<div class="icon"><i class="icon-excited"></i></div>
						<div class="text">Okay</div>
					</div>
					<div class="feeling-item text-xs-center ml-xs-10 mr-xs-10">
						<div class="icon"><i class="icon-not_excited"></i></div>
						<div class="text">Too difficult</div>
					</div>
				</div>
			</div>
		</div> <!-- end of .bg-gray -->
	</div>
	<div class="btn-panel row middle-xs center-xs">
		<div>
			<a (click)="goCheckOut()" class="btn btn-secondary">Next</a>
		</div>
	</div>
	<div class="info-details">
		<div class="icon-container icon-warning"><i class="icon-information"></i></div>
	</div>
</div>