page-training-balance {
	.training-details {
		.movements-list {
			counter-reset: movement_count;

			li {
				counter-increment: movement_count;
				position: relative;
				padding: 0 0 0 20px;
				margin: 0 0 10px;

				&:before {
					content: counter( movement_count );
					display: flex;
					align-items: center;
					justify-content: center;
					flex-wrap: wrap;
					width: 15px;
					height: 15px;
					background: #4a4a4a;
					border-radius: 100%;
					color: #fff;
					font: 0.714em/1 $baseFont;
					position: absolute;
					top: 2px;
					left: 0;
				}
			}
		}

		.time {
			margin: 15px 0;

			> div {
				width: 80px;
				text-align: center;

				&:not( :last-child ) {
					border-right: 1px solid #000;
				}
			}
		}

		.feelings-list {
			.feeling-item {

				&.selected {
					.icon {
						color: $primary;
					}

					.text {
						color: $primary;
					}
				}

				.icon {
					color: lighten( $primary, 25% );
					margin: 0 0 5px;

					i {
						font-size: 5.143em;
					}
				}

				.text {
					color: #cacaca;
				}
			}
		}

		.bg-gray {
			padding: 20px;
		}
	}
}
