/*fonts used*/
@font-face {
	font-family: 'Lato-Black';
	src: url('../assets/fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
		 url('../assets/fonts/Lato-Black.woff') format('woff'),
		 url('../assets/fonts/Lato-Black.ttf') format('truetype'),
		 url('../assets/fonts/Lato-Black.svg#Lato-Black') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Regular';
	src: url('../assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/Lato-Regular.woff') format('woff'),
	url('../assets/fonts/Lato-Regular.ttf') format('truetype'),
	url('../assets/fonts/Lato-Regular.svg#Lato-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Bold';
	src: url('../assets/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/Lato-Bold.woff') format('woff'),
	url('../assets/fonts/Lato-Bold.ttf') format('truetype'),
	url('../assets/fonts/Lato-Bold.svg#Lato-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Italic';
	src: url('../assets/fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/Lato-Italic.woff') format('woff'),
	url('../assets/fonts/Lato-Italic.ttf') format('truetype'),
	url('../assets/fonts/Lato-Italic.svg#Lato-Italic') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font: 14px/1.45 $baseFont;
	color: $baseColor;
}

h1 {
	font: 1.714em/1.45 $baseFontBlack;
	margin: 0;
}

h2 {
	font: 1.429em/1.45 $baseFontBlack;
	margin: 0;
}

h3 {
	font: 1.143em/1.45 $baseFontBlack;
	margin: 0;

	span {
		font: 1em/1.45 $baseFont;
	}
}

a {
	color: $baseColor;
	text-decoration: underline;

	&.link-warning {
		color: $warning;
		text-decoration: none;
		font: 1em/1.45 $baseFontBlack;
	}
}

p {
	font: 1em/1.45 $baseFont;

	strong {
		font: 1em/1.45 $baseFontBlack;
	}
}

strong {
	font: 1em/1.45 $baseFontBlack;
}

ion-content {
	background: url( '../assets/img/backgrounds/main.jpg' ) no-repeat center;
	background-size: cover;
}

.btn {
	font: 1em/1.45 $baseFontBold;
	background: gray;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	border-radius: 5px;
	padding: 10px 30px;
	min-width: 120px;
	min-height: 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;

	&.btn-block {
		width: 100%;
	}

	&.btn-oblong {
		border-radius: 20px;
	}

	&.btn-primary {
		background: $primary;
		color: #fff;
	}

	&.btn-secondary {
		background: $secondary;
		color: #fff;
	}

	&.btn-secondary-inactive {
		background: #c2efd1;
		color: #f7fdf9;
	}

	&.btn-warning {
		background: $warning;
		color: #fff;
	}

	.icon {
		margin: 0 5px 0 0;
		font-size: 0.857em;
	}
}

.btn-primary {
	background: $primary;
	color: #fff;
	font: 0.857em/1.45 $baseFontBold;
	width: 100%;
	height: 30px;
	border-radius: 15px;
	text-align: center;
	min-width: 105px;
	text-decoration: none;
	padding: 6px 10px;

	.icon {
		font-size: 0.571em;
		margin: 0 5px 0 0;
	}
}

.btn-photo-folder {
	background: $primary;
	min-width: 110px;
	width: 100%;
	height: 26px;
	color: #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font: 0.857em/1.45 $baseFont;
	border-radius: 13px;
	position: relative;
	text-decoration: none;

	input[type=file] {
		position: absolute;
		top: 0;
		left: 0;
		min-width: 110px;
		width: 100%;
		height: 26px;
		z-index: 2;
		opacity: 0;
	}
}

.pictures-list {
	.picture-item {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		border-radius: 5px;
		margin: 0 10px 15px 0;

		&.small {
			width: 90px;
			height: 90px;
		}

		&.active {
			border: 3px solid $primary;
			position: relative;

			&:before {
				content: '';
				width: 100%;
				height: 100%;
				background: rgba( 111, 180, 219, .3 );
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
}

.programs-list {
	width: 100%;

	.program-item {
		position: relative;
		color: #4a4a4a;

		input[type=radio] {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
			opacity: 0;

			&:checked {
				+ .icon {
					background: $primary;
					border-color: $primary;
					color: #fff;

					&.icon-more {
						.circle {
							background: #fff;
						}
					}
				}
			}
		}

		.icon {
			width: 90px;
			border-radius: 5px;
			border: 2px solid #ebebeb;
			font: 60px/1.45 'Fontello';
			height: 90px;
			margin: 0 0 5px;
			-webkit-transition: .3s;
			-o-transition: .3s;
			transition: .3s;

			&.icon-more {
				.circle {
					width: 10px;
					height: 10px;
					margin: 0 5px;
					border-radius: 100%;
					background: #d8d8d8;
				}
			}
		}

		.text {
			font: 0.857em/1.45 $baseFontBold;
		}
	}
}

.content-details {
	min-height: 100vh;
}

.bg-white {
	background: #fff;
}

.bg-gray {
	background: #fbfbfb;
}

.bg-grayDarker {
	background: #fafbfb;
}

/* ----- sidebar styles ----- */
.sidebar {
	width: 70px;
	height: 100vh;
	background: rgba( 0, 0, 0, 0.80 );
	padding: 30px 0 0;

	.nav-links {
		color: #fff;
		text-align: center;
		text-decoration: none;
		display: block;

		&.active {
			.icon {
				background: $secondary;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;

				&:after {
					display: block;
					width: 18px;
					height: 40px;
					background: $secondary;
					content: '';
					position: absolute;
					top: 0;
					right: -17px;
				}
			}
		}

		.icon {
			width: 40px;
			height: 40px;
			background: rgba( 255, 255, 255, 0.50 );
			border-radius: 50%;
			margin: 0 auto 5px;
			position: relative;

			i {
				font-size: 1.286em;
			}
		}

		.text {
			display: block;
			font: 0.714em/1.45 $baseFont;
		}
	}

	.notification {
		.icon {
			position: relative;

			.notif-count {
				background: #0180d0;
				color: #fff;
				position: absolute;
				top: -8px;
				right: -8px;
				font: 0.714em/1.45 $baseFont;
				border-radius: 50%;
				width: 20px;
				height: 20px;
				z-index: 2;
			}
		}
	}
}

.left-content {
	width: 180px;
	height: 100vh;
	background: #f8f8f7;
	position: relative;

	.filter-section {
		padding: 15px 10px;
		background: #fff;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;

		input[type=search] {
			border-radius: 11px;
			width: 100%;
			display: block;
			border: 1px solid #ededed;
			height: 24px;
			padding: 5px 10px;
			margin: 0 0 5px;
			font: 0.714em/1.45 $baseFont;
			background: #fff;

		}

		ul {
			li {
				font: 0.714em/1.45 $baseFont;
				margin: 0 5px;

				&.active {
					color: $primary;
				}
			}
		}
	}

	.clients-list {
		padding-top: 73px;
		overflow-y: auto;
		height: calc( 100vh - 50px );

		.client-item {
			border-top: 1px dotted #dedede;
			padding: 10px 15px;
			position: relative;

			.icon-warning {
				position: absolute;
				top: 10px;
				right: 10px;
			}

			h3 {
				margin: 0 0 3px;
			}

			.details {
				p {
					color: #9b9c9b;
					font: 0.714em/1.45 $baseFont;
					margin: 0;
				}
			}

			&.active {
				background: #efefef;
			}
		}
	}

	.add-client {
		.btn {
			min-height: 30px;
			font: 0.857em/1.45 $baseFontBlack;
			padding: 5px 30px;
		}
	}

	.go-back {
		padding: 20px;
		font-size: 0.857em;

		.icon {
			margin-top: 6px;
			-webkit-transform: rotate( 180deg );
			    -ms-transform: rotate( 180deg );
			        transform: rotate( 180deg );

			i {
				margin: 0 0 0 5px;
				font-size: 0.857em;
				line-height: 1.45;
			}
		}
	}

	.contact, .notes,
	.appointment-time {
		p {
			margin: 0;
		}

		.details {
			background: #efefef;
			padding: 10px 20px;
			margin: 5px -20px 0;
			font: 0.857em/1.45 $baseFont;
			color: #4a4a4a;

			.icon {
				font-size: 0.833em;
				line-height: 1.45;
				width: 20px;

				.icon-email {
					font-size: 0.667em;
				}
			}
		}
	}

	.edit-profile {
		padding: 5px;
		background: #fff;
		font: 0.857em/1.45 $baseFontBlack;
		min-height: 28px;
		border: 1px solid #ededed;
	}

	.exercises-category {
		.category-item {
			padding: 20px 10px;
			border-bottom: 1px solid #e8e8e6;

			&:last-child {
				border: 0;
			}

			&.active {
				background: #efefef;
			}
		}
	}

	.days-list {
		height: calc( 100vh - 60px );
		overflow-y: auto;

		.day-item {
			padding: 15px 10px;
			border-top: 1px dotted #e8e8e6;
			text-decoration: none;
			display: block;

			.date {
				.day {
					font: 1.143em/1 $baseFontBlack;
				}

				.month {
					font: 0.714em/1 $baseFontBlack;
				}
			}

			.icon-container {
				margin: 0 10px 0 0;
			}
		}
	}
}

.right-content {
	
	&.bg-gray {
		background: #fbfbfb;
		border-left: 1px solid #f1f1f1;
	}

	.top-title {
		padding: 20px;
		border-bottom: 1px solid #f1f1f1;
	}

	.section-title {
		font: 1em/1.45 $baseFontBold;
		color: #ccc;
		padding: 10px 20px;
		border-bottom: 1px solid #f1f1f1;
	}
}

/* ----- modal styles ----- */
.full-screen-modal {
	.modal-wrapper {
		width: 100% !important;
		height: 100vh !important;
		top: 0 !important;
		left: 0 !important;
	}
}

.modal-wrapper {
	-webkit-box-shadow: none !important;
	        box-shadow: none !important;
}

.modal-area {
	height: 100%;
	
	.content-modal {
		background: #fff;
		border-radius: 10px;
		padding: 50px 30px;
		max-width: 800px;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		position: relative;

		&.small {
			max-width: 400px;
		}

		&.medium {
			max-width: 600px;
		}

		&.height-auto {
			height: auto;
		}

		.close-modal {
			position: absolute;
			top: 10px;
			right: 10px;
			z-index: 10;

			.text {
				margin: 0 10px 0 0;
			}
		}

		.ion-page {
			background: #fff;
			padding: 50px 30px 20px;
		}
	}
}

/* ----- form styles ----- */
.form-group {
	margin: 0 0 15px;

	label {
		font: 1em/1.45 $baseFont;

		strong {
			font: 1em/1.45 $baseFontBlack;
		}
	}

	input[type=email], input[type=password],
	input[type=text], input[type=tel],
	input[type=search] {
		padding: 10px 15px;
		border-radius: 5px;
		border: 1px solid #ededed;
		background: #fff;
		display: block;
		width: 100%;
		min-height: 42px;
		font: 1em/1.45 $baseFont;

		&:focus {
			outline: none;
		}
	}

	textarea {
		padding: 10px 15px;
		border-radius: 5px;
		border: 1px solid #ededed;
		background: #fff;
		display: block;
		width: 100%;
		min-height: 70px;
		resize: none;
		font: 1em/1.45 $baseFont;

		&:focus {
			outline: none;
		}
	}

	.dropdown {
		border-radius: 5px;
		min-height: 42px;
		position: relative;
		background: #fff;

		&:after {
			content: '\e817';
			font: 0.571em/1.45 'Fontello';
			position: absolute;
			top: 16px;
			right: 15px;
		}

		select {
			border: 1px solid #ededed;
			padding: 10px 15px;
			min-height: 42px;
			display: block;
			width: 100%;
			font: 1em/1.45 $baseFont;
			border-radius: 5px;
			-webkit-appearance: none;
			apperance: none;

			option {
				border: 0;
			}
		}
	}

	.increment-container {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		
		.increment {
			&-number {
				background: #fff;
				border: 1px solid #ededed;
				width: 45px;
				margin: 0 15px;

				.text {
					text-align: center;
					color: #ccc;
				}
			}

			&-input {
				border: 0;
				border-radius: 0;
				padding: 0;
				text-align: center;
				min-height: 0;
				font: 1.143em/1.45 $baseFontBold;
			}
		}
	}
}

.form-group-inline {
	background: #fff;
	padding: 12px 20px;
	border-bottom: 1px solid #f1f1f1;
	text-decoration: none;

	label {
		.icon {
			display: block;
			color: #ccc;
			width: 30px;
			
			i {
				font-size: 0.857em;
				line-height: 1.45;
			}

			.icon-email {
				font-size: 0.571em;
			}
		}

		.text {
			display: block;
		}
	}

	input[type=text], input[type=email],
	input[type=password] {
		color: #b3b3b3;
		display: block;
		width: 100%;
		font: 1em/1.45 $baseFont;
	}

	.item-block {
		min-height: 0;
		padding: 0;
		font: 1em/1.45 $baseFont;

		.item-inner {
			border: 0;

			.datetime-ios {
				padding: 0;
			}

			.label-ios {
				margin: 0;
			}

			.select-ios {
				padding: 0 8px 0 16px
			}
		}
	}
}

/* ----- alert custom styles ----- */
.alert-custom {
	.alert-wrapper {
		background: #fff;
		border-radius: 10px;

		.alert-head {
			.alert-title {
				font: 1.286em/1.45 $baseFontBlack;
				text-align: center;
			}
		}

		.alert-message {
			text-align: center;
			padding: 0 15px;
			color: #000;
		}

		.alert-button-group {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-webkit-align-items: center;
			    -ms-flex-align: center;
			        align-items: center;
			-webkit-box-pack: center;
			-webkit-justify-content: center;
			    -ms-flex-pack: center;
			        justify-content: center;
			padding: 30px 15px 20px;

			button {
				max-width: 120px;
				margin: 0;
				padding: 0;
				text-align: center;
				font: 0.857em/1.45 $baseFont;
				text-transform: none;
				min-height: 30px;
				border: 0;

				.button-inner {
					-webkit-box-pack: center;
					-webkit-justify-content: center;
					    -ms-flex-pack: center;
					        justify-content: center;
				}

				&.btn-cancel {
					.button-inner {
						text-decoration: underline;
						color: #000;
					}
				}
			}
		}
	}
}

/* ----- icon styles ----- */
.icon-container {
	background: #4a4a4a;
	color: #fff;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	position: relative;
	font-size: 0.857em;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	        justify-content: center;

	&.icon-primary {
		background: $primary;
		color: #fff;
	}

	&.icon-secondary {
		background: $secondary;
		color: #fff;
	}

	&.icon-border-primary {
		border: 2px solid $primary;
		color: $primary;
		background: #fff;
	}

	&.icon-border-transparent-primary {
		border: 2px solid $primary;
		color: $primary;
		background: transparent;
	}

	&.icon-warning {
		background: $warning;
		color: #fff;
		width: 30px;
		height: 30px;
		font-size: 0.857em;
	}

	&.icon-disable {
		background: #dcdcdc;
		color: #fff;
	}

	.icon-check {
		margin: 1px 0 0 -2px;
		font-size: 11px;
	}

	.icon-decrease {
		font: 2.000em/1.45 $baseFont;
		margin-top: -4px;
	}

	.icon-strenght {
		font-size: 0.833em;
		margin: -1px 0 0 -3px;
	}

	.icon-walk {
		margin: -3px 0 0 0;
	}

	.icon-cooldown {
		font-size: 0.857em;
		margin: 1px 0 0 -4px;
	}

	.icon-balance {
		margin: 0 0 0 -7px;
	}

	.icon-warming_up {
		font-size: 0.857em;
		margin: 1px 0 0 -4px;
	}

	.notif {
		background: $primary;
		color: #fff;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		font: 0.714em/1.45 $baseFont;
		position: absolute;
		top: -7px;
		right: -7px;
		z-index: 2;
	}
}

.icon-warning {
	background: $warning;
	color: #fff;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	font: 0.714em/1 $baseFont;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	        justify-content: center;
}

/* ----- profile picture styles ----- */
.profile-picture {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-size: cover;
	background-position: center;

	&.small {
		width: 40px;
		height: 40px;
	}

	&.large {
		width: 100px;
		height: 100px;
	}

	&.square {
		border-radius: 0;
	}
}

/* ----- text color styles ----- */
.text-white {
	color: #fff;
}

.text-warning {
	color: $warning;
}

::-webkit-input-placeholder {
  color: #ededed;
}
::-moz-placeholder {
  color: #ededed;
}
:-ms-input-placeholder {
  color: #ededed;
}
:-moz-placeholder {
  color: #ededed;
}

.senior-signin-content {
	background: #fff;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	-webkit-box-shadow: 0 0 10px -4px #000;
	        box-shadow: 0 0 10px -4px #000;
	border-radius: 5px;
}