page-training-next {
	.training-details {
		.specific-trainings {
			.specific-item {
				text-align: center;
				position: relative;

				input[type=radio] {
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;

					&:checked {
						+ .icon {
							background: $primary;
							color: #fff;
							border-color: darken( $primary, 10% );
						}
					}
				}

				.icon {
					border: 2px solid #edefef;
					border-radius: 3px;
					color: #5c5c5c;
					margin: 0 0 10px;
					display: block;
					width: 105px;
					height: 105px;
					display: flex;
					align-items: center;
					justify-content: center;
					transition: .3s;

					i {
						font-size: 2.857em;
					}
				}

				.label {
					font: 1em/1.45 $baseFontBold;
					display: block;
				}
			}
		}
	}
}
