<div class="training-details row between-xs direction-column-xs">
	<div>
		<h2>Next Training?</h2>
		<p>Plan your next training now</p>
		<div class="row mb-xs-20">
			<div class="col-xs-4 pr-xs-10">
				<div class="form-group">
					<div class="dropdown">
						<select>
							<option value="">Tuesday March 14th</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-xs-4 pl-xs-10">
				<div class="form-group">
					<div class="dropdown">
						<select>
							<option value="">Choose time</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<h2 class="mb-xs-10">Make it specific</h2>
		<div class="specific-trainings row between-xs mb-xs-30">
			<label class="specific-item">
				<input type="radio" name="specific_training" />
				<span class="icon">
					<i class="icon-bed"></i>
				</span>
				<span class="label">After getting<br/>out of bed</span>
			</label>
			<label class="specific-item">
				<input type="radio" name="specific_training" />
				<span class="icon">
					<i class="icon-brushing_teeth"></i>
				</span>
				<span class="label">After brushing<br/>your teeth</span>
			</label>
			<label class="specific-item">
				<input type="radio" name="specific_training" />
				<span class="icon">
					<i class="icon-coffee"></i>
				</span>
				<span class="label">After a<br/>coffee break</span>
			</label>
			<label class="specific-item">
				<input type="radio" name="specific_training" />
				<span class="icon">
					<i class="icon-tv"></i>
				</span>
				<span class="label">While<br/>watching TV</span>
			</label>
			<label class="specific-item">
				<input type="radio" name="specific_training" />
				<span class="icon">
					<i class="icon-cooking"></i>
				</span>
				<span class="label">During the<br/>cooking</span>
			</label>
			<label class="specific-item">
				<input type="radio" name="specific_training" />
				<span class="icon">
					<i class="icon-bed"></i>
				</span>
				<span class="label">Before going<br/>to bed</span>
			</label>
		</div>
		<h3 class="mb-xs-10">Of choose your own moment</h3>
		<div class="form-group">
			<textarea placeholder="Choose your own moment: for example, after brushing your teeth"></textarea>
		</div>
	</div>
	<div class="btn-panel row middle-xs center-xs">
		<div>
			<a (click)="goCheckOut()" class="btn btn-secondary">Next</a>
		</div>
	</div>
	<div class="info-details">
		<div class="icon-container icon-warning"><i class="icon-information"></i></div>
	</div>
</div>