page-signin-completed {
	.form-navigator {
		position: relative;

		.navigator-item {
			color: $primary;
			position: relative;
			z-index: 2;

			.icon-container {
				margin: 0 0 5px;
			}
		}

		.form-navigator-line {
			background: #eff3f3;
			height: 3px;
			width: 65%;
			position: absolute;
			top: 15px;
			left: 0;
			right: 0;
			margin: 0 auto;
			z-index: 2;

			.form-navigator-progress {
				background: $primary;
				height: 3px;
			}
		}
	}

	.boxes-gray {
		> div {
			background-color: #fafbfb;
		}

		.boxes-gray-head {
			padding: 15px 20px;
			border-bottom: 1px solid #f0f1f1;
		}

		.boxes-gray-body {
			padding: 15px 20px;

			.box-img {
				width: 60px;
				height: 60px;
				margin-right: 10px;
				border-radius: 100%;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}
		}

		.programs-list {
			.programs-item {
				padding: 15px 20px;
				border-bottom: 1px solid #f0f1f1;

				&:last-child {
					border: none;
				}

				.label {
					width: 125px;
				}

				.days {
					.day {
						width: 40px;
						height: 30px;
						margin: 0 5px;
						border-radius: 3px;
						border: 1px solid #dcdcdc;
						display: -webkit-box;
						display: -webkit-flex;
						display: -ms-flexbox;
						display: flex;
						-webkit-box-align: center;
						-webkit-align-items: center;
						    -ms-flex-align: center;
						        align-items: center;
						-webkit-box-pack: center;
						-webkit-justify-content: center;
						    -ms-flex-pack: center;
						        justify-content: center;
						text-transform: uppercase;
						font: 0.714em/1.45 $baseFont;
					}
				}
			}
		}
	}
}
