<ion-content no-bounce>
	<div class="signInPersonalInfo-page">
		<div class="content-details row middle-xs center-xs">
			<div class="senior-signin-content pt-xs-30 pb-xs-30 pl-xs-50 pr-xs-50">
				<div class="row center-xs middle-xs form-navigator mb-xs-30">
                  <div class="form-navigator-line">
                    <div class="form-navigator-progress" style="width: 100%;"></div>
                  </div>
                  <div class="col-xs-4 navigator-item row direction-column-xs center-xs middle-xs">
                    <div class="icon-container icon-primary"><i class="icon-check"></i></div>
                    <div class="text">Personal Info</div>
                  </div>
                  <div class="col-xs-4 navigator-item row direction-column-xs center-xs middle-xs">
                    <div class="icon-container icon-primary"><i class="icon-check"></i></div>
                    <div class="text">Planning</div>
                  </div>
                  <div class="col-xs-4 navigator-item row direction-column-xs center-xs middle-xs">
                    <div class="icon-container icon-primary"><i class="icon-check"></i></div>
                    <div class="text">Check</div>
                  </div>
                </div>
                <h1 class="text-xs-center">Completed!</h1>
                <p class="text-xs-center mb-xs-50">Thank you for completing this important first step. A solid plan is a good start for a good continuation. We will now continue with the train. Good luck!</p>
                <div class="row between-xs boxes-gray">
                    <div class="col-xs-auto mr-xs-10">
                        <div class="row between-xs boxes-gray-head">
                            <h3>Goal</h3>
                            <a (click)="goPersonalInfo()">Edit</a>
                        </div> <!-- end of .boxes-gray-head -->
                        <div class="row center-xs middle-xs boxes-gray-body">
                            <div class="box-img" style="background-image: url( 'assets/img/profile-pictures/sample01.jpg' );"></div>
                            <div class="col-xs-auto">
                            <p>'To be able to take walks with my grandchilred again'.</p>
                            </div>
                        </div> <!-- end of .boxes-gray-body -->
                    </div> <!-- end of .col-xs-6 -->
                    <div class="col-xs-auto ml-xs-10">
                        <div class="row between-xs boxes-gray-head">
                            <h3>Planning</h3>
                            <a (click)="goSigninPlanning()">Edit</a>
                        </div>
                        <div class="programs-list">
                            <div class="row middle-xs programs-item">
                                <div class="label row middle-xs">
                                    <div class="mr-xs-10 icon-container icon-primary"><i class="icon-strenght"></i></div>
                                    <div>Training(3x)</div>
                                </div>
                                <div class="days col-xs-auto row middle-xs">
                                    <div class="day">TU</div>
                                    <div class="day">WE</div>
                                    <div class="day">TH</div>
                                </div>
                            </div>
                            <div class="row middle-xs programs-item">
                                <div class="label row middle-xs">
                                    <div class="mr-xs-10 icon-container icon-primary"><i class="icon-walk"></i></div>
                                    <div>Walks(3x)</div>
                                </div>
                                <div class="days col-xs-auto row middle-xs">
                                    <div class="day">MO</div>
                                    <div class="day">TH</div>
                                </div>
                            </div>
                        </div> <!-- end of .programs-list -->
                    </div> <!-- end of .col-xs-5 -->
                </div> <!-- end of .boxes-gray -->
                <div class="btn-panel row middle-xs center-xs mt-xs-50">
                    <div class="ml-xs-10 mr-xs-10">
                        <a (click)="goSigninPlanning()">Go back</a>
                    </div>
                    <div class="ml-xs-10 mr-xs-10">
                        <a (click)="goHome()" class="btn btn-secondary">Start</a>
                    </div>
                </div>
			</div>
		</div>
	</div>
</ion-content>