<div class="modal-area row center-xs middle-xs">
	<div class="content-modal small height-auto">
		<div class="close-modal row middle-xs" (click)="modalClose()">
			<div class="text">Close</div>
			<div class="icon"><i class="icon-close"></i></div>
		</div>
		<h1 class="text-xs-center">Forgot your Password?</h1>
		<p class="text-xs-center mb-xs-30">Enter your email address here, you can reset your password with the link receive</p>
		<div class="form-group">
			<input type="email" placeholder="Email Address" />
		</div>
		<div class="btn-panel row middle-xs center-xs mt-xs-50">
			<div>
				<button class="btn btn-secondary">Get new password</button>
			</div>
		</div>
	</div>
</div>