<div class="row center-xs middle-xs form-navigator mb-xs-30">
	<div class="form-navigator-line">
		<div class="form-navigator-progress" style="width: 50%;"></div>
	</div>
	<div class="col-xs-4 navigator-item row direction-column-xs center-xs middle-xs">
		<div class="icon-container icon-primary"><i class="icon-check"></i></div>
		<div class="text">Personal Info</div>
	</div>
	<div class="col-xs-4 navigator-item row direction-column-xs center-xs middle-xs">
		<div class="icon-container icon-primary"><i class="icon-check"></i></div>
		<div class="text">Program</div>
	</div>
	<div class="col-xs-4 navigator-item row direction-column-xs center-xs middle-xs">
		<div class="icon-container icon-border-primary"><i class="icon-check"></i></div>
		<div class="text">Personal Info</div>
	</div>
</div>
<h1 class="mb-xs-10 text-xs-center">Choose Program</h1>
<div class="p-xs-30">
	<div class="row center-xs pl-xs-50 pr-xs-50">
		<div class="programs-list row between-xs">
			<div class="program-item">
				<input type="radio" name="program" />
				<div class="icon row middle-xs center-xs"><i class="icon-falling"></i></div>
				<div class="text text-xs-center">Otago Program</div>
			</div>
			<div class="program-item">
				<input type="radio" name="program" />
				<div class="icon row middle-xs center-xs"><i class="icon-walk"></i></div>
				<div class="text text-xs-center">Walk Program</div>
			</div>
			<div class="program-item">
				<input type="radio" name="program" />
				<div class="icon icon-more row middle-xs center-xs">
					<div class="circle"></div>
					<div class="circle"></div>
					<div class="circle"></div>
				</div>
				<div class="text text-xs-center">More Programs</div>
			</div>
		</div>
	</div>
	<div class="btn-panel row middle-xs center-xs mt-xs-50">
		<div>
			<!-- <a href="#!" class="btn btn-secondary-inactive">Next</a> -->
			<a (click)="changeProgram()" class="btn btn-secondary">Next</a>
		</div>
	</div>
</div>