page-training-end {
	.training-details {
		.icon-container {
			&.good-job {
				width: 75px;
				height: 75px;

				+ h3 {
					width: calc( 100% - 100px );
				}

				.icon-check {
					font-size: 32px;
					margin: 1px 0 0 -8px;
				}
			}
		}

		.training-count {
			.training-item {
				background: #fbfbfb;
				width: 100%;
				max-width: 140px;
				padding: 20px 10px;
				margin: 0 10px;

				.count {
					font: 1.143em/1.45 $baseFontBold;
				}
			}
		}

		.feelings-list {
			.feeling-item {

				&.selected {
					.icon {
						color: $primary;
					}

					.text {
						color: $primary;
					}
				}

				.icon {
					color: lighten( $primary, 25% );
					margin: 0 0 5px;

					i {
						font-size: 5.143em;
					}
				}

				.text {
					color: #cacaca;
				}
			}
		}
	}
}
