<div class="training-details row between-xs direction-column-xs">
	<div>
		<div class="form-navigator row middle-xs between-xs mb-xs-20">
			<div class="form-navigator-line">
				<div class="form-navigator-progress" style="width: 100%;"></div>
			</div>
			<div class="col-xs-2 navigator-item row direction-column-xs center-xs middle-xs">
				<div class="icon-container icon-primary"><i class="icon-check"></i></div>
				<div class="text">Check In</div>
			</div>
			<div class="col-xs-2 navigator-item row direction-column-xs center-xs middle-xs">
				<div class="icon-container icon-primary"><i class="icon-warming_up"></i></div>
				<div class="text">Warming-up</div>
			</div>
			<div class="col-xs-2 navigator-item row direction-column-xs center-xs middle-xs">
				<div class="icon-container icon-primary"><i class="icon-balance"></i></div>
				<div class="text">Balance</div>
			</div>
			<div class="col-xs-2 navigator-item row direction-column-xs center-xs middle-xs">
				<div class="icon-container icon-primary"><i class="icon-strenght"></i></div>
				<div class="text">Strength</div>
			</div>
			<div class="col-xs-2 navigator-item row direction-column-xs center-xs middle-xs">
				<div class="icon-container icon-primary"><i class="icon-cooldown"></i></div>
				<div class="text">Cooldown</div>
			</div>
			<div class="col-xs-2 navigator-item row direction-column-xs center-xs middle-xs">
				<div class="icon-container icon-primary"><i class="icon-check"></i></div>
				<div class="text">Check Out</div>
			</div>
		</div> <!-- end of .form-navigator -->
		<div class="row mb-xs-50">
			<div class="col-xs-6 pr-xs-10">
				<div class="row middle-xs between-xs">
					<div class="icon-container icon-secondary good-job"><i class="icon-check"></i></div>
					<h3>Good Job! The training has been completed successfully.</h3>
				</div>
			</div>
			<div class="col-xs-6 pl-xs-10">
				<div class="training-count row center-xs middle-xs">
					<div class="training-item text-xs-center">
						<div class="count">10</div>
						<div class="label">Minutes</div>
					</div>
					<div class="training-item text-xs-center">
						<div class="count">30</div>
						<div class="label">Exercises</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bg-gray pl-xs-30 pr-xs-30 pt-xs-20 pb-xs-20">
			<div class="row">
				<div class="col-xs-6 pr-xs-10">
					<h2 class="mb-xs-20 text-xs-center">How did the exercise go?</h2>
					<div class="feelings-list row between-xs">
						<div class="feeling-item text-xs-center ml-xs-10">
							<div class="icon"><i class="icon-excited"></i></div>
							<div class="text">Very Good!</div>
						</div>
						<div class="feeling-item text-xs-center ml-xs-10 selected">
							<div class="icon"><i class="icon-okay"></i></div>
							<div class="text">Okay</div>
						</div>
						<div class="feeling-item text-xs-center ml-xs-10">
							<div class="icon"><i class="icon-not_excited"></i></div>
							<div class="text">Tired</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6 pl-xs-10">
					<h2 class="mb-xs-20">Tell your therapist how it went:</h2>
					<div class="form-group">
						<textarea placeholder="Type here..."></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="btn-panel row middle-xs center-xs">
		<div>
			<a (click)="goCheckOut()" class="btn btn-secondary">Next</a>
		</div>
	</div>
	<div class="info-details">
		<div class="icon-container icon-warning"><i class="icon-information"></i></div>
	</div>
</div> <!-- end of .training-details -->