page-add-exercise {

	.add-exercise {
		background: #f9fafb;
		border-radius: 10px;

		.exercise-category {
			width: 100px;

			.category-item {
				border-bottom: 1px solid #dbdbdb;
				border-right: 1px solid #dbdbdb;
				padding: 20px 10px;
				display: block;
				font: 1em/1.45 $baseFontBold;
				background: #efefef;

				&:first-child {
					border-top-left-radius: 10px;
				}

				&:last-child {
					border-bottom: 0;
					border-bottom-left-radius: 10px;
				}

				&.active {
					background: #f9fafb;
				}
			}
		}

		.exercises-list {
			height: 243px;
			overflow-y: auto;

			.exercise-item {
				position: relative;
				padding: 10px 0 10px 10px;
				border-bottom: 1px solid #eff0f0;
				color: #d0cfcf;

				&.active {
					background: #ecf4f8;
				}

				input[type=checkbox] {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 2;
					opacity: 0;

					&:checked {
						~ .checkbox-button {
							span {
								background: $primary;
								border-color: $primary;

								&:before {
									content: '\e80e';
								}
							}
						}
					}
				}

				.img-container {
					width: 80px;
					height: 55px;
					background-size: cover;
					background-position: center;
				}

				h3 {
					color: #000;
				}

				.repeat {
					font: 0.857em/1.45 $baseFont;
				}

				.time {
					font: 0.857em/1.45 $baseFont;
				}

				.checkbox-button {
					border-left: 1px solid #e3eaee;
					width: 70px;
					height: 60px;

					span {
						width: 30px;
						height: 30px;
						border-radius: 50%;
						display: block;
						background: #fff;
						border: 2px solid #e3eaee;
						transition: .3s;
						position: relative;

						&:before {
							content: none;
							font: 0.857em/1.45 'Fontello';
							position: absolute;
							top: 4px;
							left: 5px;
							color: #fff;
						}
					}
				}
			}
		}
	}
}
