<div class="modal-area row center-xs middle-xs">
	<div class="content-modal">
		<div class="close-modal row middle-xs" (click)="modalClose()">
			<div class="text">Close</div>
			<div class="icon"><i class="icon-close"></i></div>
		</div> <!-- end of .close-modal -->
		<div class="row middle-xs between-xs">
			<h1>Add Exercise</h1>
			<div class="col-xs-3">
				<div class="form-group" style="margin: 0;">
					<div class="dropdown">
						<select>
							<option value="niveau_a">Niveau A</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="add-exercise row mt-xs-20">
			<div class="exercise-category">
				<div class="category-item active">Warm Up</div>
				<div class="category-item">Balance</div>
				<div class="category-item">Strength</div>
				<div class="category-item">Cool down</div>
			</div> <!-- end of .exercise-category -->
			<div class="exercises-list col-xs-auto">
				<label 
					[ngClass]="{ 'active': selectedExercise[i] }"
					*ngFor="let item of items, let i = index"
					class="exercise-item row between-xs">
					<input type="checkbox" (change)="selectedExercise[i]=!selectedExercise[i]" />
					<div class="col-xs-auto row middle-xs">
						<div class="img-container mr-xs-20" style="background-image: url( 'assets/img/programs/sample01.png' );"></div>
						<div class="details">
							<h3>Knee bending</h3>
							<div class="row middle-xs">
								<div class="repeat mr-xs-30">3x repeat</div>
								<div class="time">10 minutes</div>
							</div>
						</div>
					</div>
					<div class="checkbox-button row middle-xs center-xs">
						<span></span>
					</div>
				</label>
			</div> <!-- end of .exercises-list -->
		</div> <!-- end of .add-exercise -->
		<div class="btn-panel mt-xs-50 row middle-xs center-xs">
			<div>
				<a href="#!" class="btn btn-secondary">Save</a>
			</div>
		</div>
	</div>
</div>