page-signin-personal-info-two {
	.form-navigator {
		position: relative;

		.navigator-item {
			color: $primary;
			position: relative;
			z-index: 2;

			.icon-container {
				margin: 0 0 5px;
			}
		}

		.form-navigator-line {
			background: #eff3f3;
			height: 3px;
			width: 65%;
			position: absolute;
			top: 15px;
			left: 0;
			right: 0;
			margin: 0 auto;
			z-index: 2;

			.form-navigator-progress {
				background: $primary;
				height: 3px;
			}
		}
	}

	.bg-gray {
		margin: 0 -50px;
	}
}
