<ion-content no-bounce>
	<div class="signInPersonalInfo-page">
		<div class="content-details row middle-xs center-xs">
			<div class="senior-signin-content pt-xs-30 pb-xs-30 pl-xs-50 pr-xs-50">
				<div class="row center-xs middle-xs form-navigator mb-xs-30">
                  <div class="form-navigator-line">
                    <div class="form-navigator-progress" style="width: 0%;"></div>
                  </div>
                  <div class="col-xs-4 navigator-item row direction-column-xs center-xs middle-xs">
                    <div class="icon-container icon-primary"><i class="icon-check"></i></div>
                    <div class="text">Personal Info</div>
                  </div>
                  <div class="col-xs-4 navigator-item row direction-column-xs center-xs middle-xs">
                    <div class="icon-container icon-border-primary"><i class="icon-check"></i></div>
                    <div class="text">Planning</div>
                  </div>
                  <div class="col-xs-4 navigator-item row direction-column-xs center-xs middle-xs">
                    <div class="icon-container icon-border-primary"><i class="icon-check"></i></div>
                    <div class="text">Check</div>
                  </div>
                </div>
                <h1 class="text-xs-center">Your Personal Information</h1>
                <p class="text-xs-center mb-xs-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quod molestias fugit aliquid provident autem cupiditate maiores, nam doloribus, iure atque ipsum! Molestiae, quae quos beatae ullam ex reiciendis blanditiis.</p>
                <div class="bg-gray pt-xs-20 pb-xs-20 pl-xs-50 pr-xs-50 mt-xs-20 mb-xs-30">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4">
                                <label for="personal_goal"><strong>Personal Goal</strong></label>
                            </div>
                            <div class="col-xs-auto">
                                <p>"To be able to take walks with<br/>my grandchildren again."</p>
                            </div>
                        </div>
                    </div> <!-- end of .form-group -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4">
                                <label for="choose_picture"><strong>Choose Picture</strong></label>
                            </div>
                            <div class="col-xs-auto">
                                <div class="pictures-list row middle-xs">
                                    <div class="picture-item small active" style="background-image: url( 'assets/img/backgrounds/main.jpg' );"></div>
                                    <div class="picture-item small" style="background-image: url( 'assets/img/backgrounds/main.jpg' );"></div>
                                    <div class="picture-item small" style="background-image: url( 'assets/img/backgrounds/main.jpg' );"></div>
                                </div>
                                <div class="btn-panel row middle-xs">
                                    <div>
                                        <div class="btn-photo-folder">
                                            <input type="file" />
                                            <label for="photo_folder">Open photo folder</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end of .bg-gray -->
                <div class="btn-panel row middle-xs center-xs mt-xs-50">
                    <div class="mr-xs-10">
                        <a (click)="goSigninPersonal()">Go back</a>
                    </div>
                    <div class="ml-xs-10">
                        <a (click)="goSigninPlanning()" class="btn btn-secondary">Continue</a>
                    </div>
                </div>
			</div>
		</div>
	</div>
</ion-content>