page-login-fysio {
	.login-page {

		.content-details {
			.login-form {
				width: 100%;
				max-width: 410px;
				margin: 0 auto;
				background: #fff;
				box-shadow: 0 0 10px -4px #000;
				border-radius: 5px;

				.tab-menu {
					.tab-item {
						padding: 10px 5px;
						font: 1.286em/1.45 $baseFont;
						background: $primary;
						color: #b7d9ed;

						&:first-child {
							border-top-left-radius: 5px;
						}

						&:last-child {
							border-top-right-radius: 5px;
						}

						&.active {
							background: #fff;
							color: #000;
						}
					}
				}
			}
		}
	}
}
