<ion-content no-bounce>
	<div class="login-page">
		<div class="content-details row middle-xs center-xs">
			<div class="login-form">
				<div class="tab-menu row between-xs">
					<div class="tab-item col-xs-6 text-xs-center" (click)="seniorLogin()">Senior</div>
					<div class="tab-item col-xs-6 text-xs-center active">Fysio</div>
				</div>
				<div class="form-container p-xs-30">
					<h1 class="text-xs-center mb-xs-30">Log In</h1>
					<div class="form-group">
						<input type="email" placeholder="Email Address" />
					</div>
					<div class="form-group">
						<input type="password" placeholder="Type in Password" />
					</div>
					<div class="btn-panel row center-xs mt-xs-50">
						<div>
							<button class="btn btn-block btn-oblong btn-secondary" (click)="login()">Login</button>
						</div>
					</div>
					<p class="text-xs-center mt-xs-10"><a (click)="showForgotPassword()">Forgot Password?</a></p>
				</div>
			</div>
		</div>
	</div>
</ion-content>
