<div class="row center-xs middle-xs form-navigator mb-xs-30">
	<div class="form-navigator-line">
		<div class="form-navigator-progress" style="width: 50%;"></div>
	</div>
	<div class="col-xs-4 navigator-item row direction-column-xs center-xs middle-xs">
		<div class="icon-container icon-primary"><i class="icon-check"></i></div>
		<div class="text">Personal Info</div>
	</div>
	<div class="col-xs-4 navigator-item row direction-column-xs center-xs middle-xs">
		<div class="icon-container icon-border-primary"><i class="icon-check"></i></div>
		<div class="text">Program</div>
	</div>
	<div class="col-xs-4 navigator-item row direction-column-xs center-xs middle-xs">
		<div class="icon-container icon-border-primary"><i class="icon-check"></i></div>
		<div class="text">Personal Info</div>
	</div>
</div>
<h1 class="mb-xs-10 text-xs-center">Personal Information</h1>
<div class="bg-gray p-xs-30">
	<div class="form-group">
		<div class="row middle-xs">
			<div class="col-xs-4">
				<label for="name"><strong>Name</strong></label>
			</div>
			<div class="col-xs-auto">
				<input type="text" value="Jan" />
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row middle-xs">
			<div class="col-xs-4">
				<label for="name"><strong>E-mail</strong></label>
			</div>
			<div class="col-xs-auto">
				<input type="email" value="Jan@hotmail.com" />
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row middle-xs">
			<div class="col-xs-4">
				<label for="name"><strong>Phone number</strong></label>
			</div>
			<div class="col-xs-auto">
				<input type="tel" value="+3110 377 826 82" />
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row middle-xs">
			<div class="col-xs-4">
				<label for="date_of_birth"><strong>Date of Birth</strong></label>
			</div>
			<div class="col-xs-auto">
				<div class="row">
					<div class="col-xs-3">
						<div class="dropdown">
							<select>
								<option value="01">01</option>
								<option value="02">02</option>
								<option value="03">03</option>
								<option value="04">04</option>
								<option value="05">05</option>
							</select>
						</div>
					</div>
					<div class="col-xs-auto pl-xs-10">
						<div class="dropdown">
							<select>
								<option value="january">January</option>
								<option value="february">February</option>
							</select>
						</div>
					</div>
					<div class="col-xs-auto pl-xs-10">
						<div class="dropdown">
							<select>
								<option value="2000">2000</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="btn-panel row middle-xs center-xs mt-xs-30">
	<div>
		<a (click)="chooseGoal()" class="btn btn-secondary">Next</a>
	</div>
</div>
