<div class="row center-xs middle-xs form-navigator mb-xs-30">
	<div class="form-navigator-line">
		<div class="form-navigator-progress" style="width: 100%;"></div>
	</div>
	<div class="col-xs-4 navigator-item row direction-column-xs center-xs middle-xs">
		<div class="icon-container icon-primary"><i class="icon-check"></i></div>
		<div class="text">Personal Info</div>
	</div>
	<div class="col-xs-4 navigator-item row direction-column-xs center-xs middle-xs">
		<div class="icon-container icon-primary"><i class="icon-check"></i></div>
		<div class="text">Program</div>
	</div>
	<div class="col-xs-4 navigator-item row direction-column-xs center-xs middle-xs">
		<div class="icon-container icon-primary"><i class="icon-check"></i></div>
		<div class="text">Personal Info</div>
	</div>
</div>
<h1 class="mb-xs-10 text-xs-center">Last Check</h1>
<p class="text-xs-center mt-xs-30 mb-xs-40">Thank you for completing this important first step. A solid plan is a good start for a good continuation. We will now continue with the train. Good luck!</p>
<div class="row between-xs boxes-gray">
  <div class="col-xs-6">
    <div class="row between-xs boxes-gray-head">
      <h3>Goal</h3>
      <a href="#!">Edit</a>
    </div>
    <div class="row center-xs middle-xs boxes-gray-body">
      <div class="box-img" style="background-image: url( 'assets/img/profile-pictures/sample01.jpg' );"></div>
      <div class="col-xs-auto">
        <p>'To be able to take walks with my grandchilred again'.</p>
      </div>
    </div>
  </div>
  <div class="col-xs-5">
    <div class="row between-xs boxes-gray-head">
      <h3>Programs</h3>
      <a href="#!">Edit</a>
    </div>
    <div class="programs-list">
      <div class="row middle-xs programs-item">
        <div class="mr-xs-10 icon-container icon-primary"><i class="icon-strenght"></i></div>
        <span class="col-xs-4">Training</span>
        <span class="col-xs-5">3x a week</span>
      </div>
      <div class="row middle-xs programs-item">
        <div class="mr-xs-10 icon-container icon-primary"><i class="icon-walk"></i></div>
        <span class="col-xs-4">Walks</span>
        <span class="col-xs-5">2x a week</span>
      </div>
    </div>
  </div>
</div>
<div class="btn-panel row middle-xs center-xs mt-xs-50">
  <div class="ml-xs-10 mr-xs-10">
    <a href="#!">cancel</a>
  </div>
  <div class="ml-xs-10 mr-xs-10">
    <a (click)="emailClient()" class="btn btn-secondary">Stuur email</a>
  </div>
</div>