page-modal-control-program {
  .boxes-gray {
    > div {
      background-color: #fafbfb;
    }

    .boxes-gray-head {
      padding: 15px 20px;
      border-bottom: 2px solid #f0f1f1;
    }

    .boxes-gray-body {
      padding: 15px 20px;

      .box-img {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        border-radius: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .programs-list {
      .programs-item {
        padding: 15px 20px;
        border-bottom: 2px solid #f0f1f1;

        &:last-child {
          border: none;
        }
      }
    }
  }
}
