<ion-content no-bounce>
	<div class="content-details">
		<div class="row">
			<side-menu></side-menu>
			<div class="left-content row direction-column-xs between-xs pt-xs-10 pb-xs-30">
				<div class="exercises-category">
					<div class="category-item row middle-xs between-xs">
						<h3>Warm up</h3>
						<div class="icon-container icon-border-transparent-primary"><i class="icon-warming_up"></i></div>
					</div> <!-- end of .category-item -->
					<div class="category-item row middle-xs between-xs active">
						<h3>Balance</h3>
						<div class="icon-container icon-border-transparent-primary"><i class="icon-balance"></i></div>
					</div> <!-- end of .category-item -->
					<div class="category-item row middle-xs between-xs">
						<h3>Strength</h3>
						<div class="icon-container icon-border-transparent-primary"><i class="icon-strenght"></i></div>
					</div> <!-- end of .category-item -->
					<div class="category-item row middle-xs between-xs">
						<h3>Cooldown</h3>
						<div class="icon-container icon-border-transparent-primary"><i class="icon-cooldown"></i></div>
					</div>
				</div> <!-- end of .exercises-category -->
				<div class="pl-xs-20 pr-xs-20">
					<a (click)="addExercise()" class="btn-primary row middle-xs center-xs">Add Exercise</a>
				</div>
			</div> <!-- end of .left-content -->
			<div class="right-content bg-white col-xs-auto">
				<div class="top-title row middle-xs between-xs">
					<h3>Training</h3>
					<div>
						<a href="#!" class="btn btn-secondary">Save</a>
					</div>
				</div> <!-- end of .top-title -->
				<div class="p-xs-50">
					<div class="row between-xs mb-xs-50">
						<div class="col-xs-6"></div>
						<div class="col-xs-6">
							<div class="form-group">
								<div class="row middle-xs">
									<div class="col-xs-6">
										<div class="dropdown">
											<select>
												<option value="niveau_a">Niveau A</option>
											</select>
										</div>
									</div>
									<div class="col-xs-6 pl-xs-10">
										<div class="dropdown">
											<select>
												<option value="3x_a_week">3x a week</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="trainings-list">
						<div (click)="changeExercise()" class="training-item row middle-xs">
							<div class="img-container" style="background-image: url( 'assets/img/programs/sample01.png' );"></div>
							<div class="col-xs-auto pl-xs-20">
								<div class="row middle-xs">
									<div class="col-xs-auto">
										<h3>Knee bending</h3>
										<div class="row middle-xs">
											<div class="repeat">3x repeat</div>
											<div class="time">10 minutes</div>
										</div>
									</div>
									<div class="delete p-xs-10"><i class="icon-bin"></i></div>
									<div class="next row middle-xs center-xs"><i class="icon-arrow2"></i></div>
								</div>
							</div>
						</div> <!-- end of .training-item -->
						<div class="training-item row middle-xs">
							<div class="img-container" style="background-image: url( 'assets/img/programs/sample01.png' );"></div>
							<div class="col-xs-auto pl-xs-20">
								<div class="row middle-xs">
									<div class="col-xs-auto">
										<h3>Knee bending</h3>
										<div class="row middle-xs">
											<div class="repeat">3x repeat</div>
											<div class="time">10 minutes</div>
										</div>
									</div>
									<div class="delete p-xs-10"><i class="icon-bin"></i></div>
									<div class="next row middle-xs center-xs"><i class="icon-arrow2"></i></div>
								</div>
							</div>
						</div> <!-- end of .training-item -->
						<div class="training-item row middle-xs">
							<div class="img-container" style="background-image: url( 'assets/img/programs/sample01.png' );"></div>
							<div class="col-xs-auto pl-xs-20">
								<div class="row middle-xs">
									<div class="col-xs-auto">
										<h3>Knee bending</h3>
										<div class="row middle-xs">
											<div class="repeat">3x repeat</div>
											<div class="time">10 minutes</div>
										</div>
									</div>
									<div class="delete p-xs-10"><i class="icon-bin"></i></div>
									<div class="next row middle-xs center-xs"><i class="icon-arrow2"></i></div>
								</div>
							</div>
						</div> <!-- end of .training-item -->
						<div class="training-item row middle-xs">
							<div class="img-container" style="background-image: url( 'assets/img/programs/sample01.png' );"></div>
							<div class="col-xs-auto pl-xs-20">
								<div class="row middle-xs">
									<div class="col-xs-auto">
										<h3>Knee bending</h3>
										<div class="row middle-xs">
											<div class="repeat">3x repeat</div>
											<div class="time">10 minutes</div>
										</div>
									</div>
									<div class="delete p-xs-10"><i class="icon-bin"></i></div>
									<div class="next row middle-xs center-xs"><i class="icon-arrow2"></i></div>
								</div>
							</div>
						</div> <!-- end of .training-item -->
						<div class="training-item row middle-xs">
							<div class="img-container" style="background-image: url( 'assets/img/programs/sample01.png' );"></div>
							<div class="col-xs-auto pl-xs-20">
								<div class="row middle-xs">
									<div class="col-xs-auto">
										<h3>Knee bending</h3>
										<div class="row middle-xs">
											<div class="repeat">3x repeat</div>
											<div class="time">10 minutes</div>
										</div>
									</div>
									<div class="delete p-xs-10"><i class="icon-bin"></i></div>
									<div class="next row middle-xs center-xs"><i class="icon-arrow2"></i></div>
								</div>
							</div>
						</div> <!-- end of .training-item -->
						<div class="training-item row middle-xs">
							<div class="img-container" style="background-image: url( 'assets/img/programs/sample01.png' );"></div>
							<div class="col-xs-auto pl-xs-20">
								<div class="row middle-xs">
									<div class="col-xs-auto">
										<h3>Knee bending</h3>
										<div class="row middle-xs">
											<div class="repeat">3x repeat</div>
											<div class="time">10 minutes</div>
										</div>
									</div>
									<div class="delete p-xs-10"><i class="icon-bin"></i></div>
									<div class="next row middle-xs center-xs"><i class="icon-arrow2"></i></div>
								</div>
							</div>
						</div> <!-- end of .training-item -->
					</div>
				</div>
			</div> <!-- end of .right-content -->
		</div>
	</div>
</ion-content>