page-change-program {
	.trainings-list {
		background: #fafbfb;
		border-radius: 10px;
		max-height: 400px;
		overflow-y: auto;

		.training-item {
			padding: 10px 0 10px 10px;
			border-bottom: 1px solid #eff0f0;
			color: #d0cfcf;

			&:last-child {
				border: 0;
			}

			.img-container {
				width: 80px;
				height: 55px;
				background-size: cover;
				background-position: center;
			}

			h3 {
				color: #000;
			}

			.repeat {
				font: 0.857em/1.45 $baseFont;
			}

			.time {
				font: 0.857em/1.45 $baseFont;
			}

			.delete {
				font: 28px/1.45 'Fontello';
			}

			.next {
				border-left: 1px solid #f2f3f3;
				width: 60px;
				height: 60px;
			}
		}
	}
}
