<div class="sidebar row direction-column-xs between-xs">
    <div class="menu-navigation">
      <a [ngClass]="{ 'active': currentPage == 'HomePage' }" class="nav-links mb-xs-30" (click)="goHome()">
        <span class="icon row middle-xs center-xs"><i class="icon-menu_home"></i></span>
        <span class="text">Home</span>
      </a>
      <a [ngClass]="{ 'active': currentPage == 'SchedulePage' }" class="nav-links mb-xs-30" (click)="goSchedule()">
        <span class="icon row middle-xs center-xs"><i class="icon-menu_schedule"></i></span>
        <span class="text">Schedule</span>
      </a>
      <a class="nav-links mb-xs-30">
        <span class="icon row middle-xs center-xs"><i class="icon-coffee"></i></span>
        <span class="text">Coffee<br> Corner</span>
      </a>
      <a class="nav-links mb-xs-30">
        <span class="icon row middle-xs center-xs"><i class="icon-menu_chat"></i></span>
        <span class="text">Therapist</span>
      </a>
    </div>
    <div class="senior-profile" (click)="profilePage()">
      <div class="nav-links mb-xs-10">
        <div class="row middle-xs center-xs">
          <div class="profile-picture" style="background-image: url( 'assets/img/profile-pictures/sample01.jpg' );"></div>
        </div>
      </div>
    </div>
  </div> <!-- end of .sidebar -->