<ion-content no-bounce>
	<div class="content-details">
		<div class="row">
				<side-menu></side-menu>
			<div class="left-content">
				<div class="go-back row middle-xs" (click)="profilePage()">
					<div class="icon"><i class="icon-arrow2"></i></div>
					<div class="text">Go Back</div>
				</div>
				<div class="row middle-xs center-xs direction-column-xs">
					<div class="profile-picture" style="background-image: url( 'assets/img/profile-pictures/sample01.jpg' );"></div>
					<a href="#!" class="mt-xs-10">Change Photo</a>
				</div>
			</div> <!-- end of .left-content -->
			<div class="right-content bg-gray col-xs-auto">
				<div class="top-title row middle-xs between-xs">
					<h3>Edit Profile</h3>
				</div> <!-- end of .top-title -->
				<div class="section-title">Personal details</div>
				<div class="form-group-inline row middle-xs">
					<div class="col-xs-6">
						<label for="name" class="row middle-xs">
							<span class="icon"><i class="icon-name"></i></span>
							<span class="text">Name</span>
						</label>
					</div>
					<div class="col-xs-6">
						<input type="text" value="Anneke Van Vliet" />
					</div>
				</div> <!-- end of .form-group-inline -->
				<div class="form-group-inline row middle-xs">
					<div class="col-xs-6">
						<label for="email" class="row middle-xs">
							<span class="icon"><i class="icon-email"></i></span>
							<span class="text">Email</span>
						</label>
					</div>
					<div class="col-xs-6">
						<input type="email" value="anneke@fysio.nl" />
					</div>
				</div> <!-- end of .form-group-inline -->
				<div class="form-group-inline row middle-xs">
					<div class="col-xs-6">
						<label for="password" class="row middle-xs">
							<span class="icon"><i class="icon-password"></i></span>
							<span class="text">Password</span>
						</label>
					</div>
					<div class="col-xs-6">
						<input type="password" value="admin1234!" />
					</div>
				</div> <!-- end of .form-group-inline -->
				<div class="form-group-inline row middle-xs">
					<div class="col-xs-6">
						<label for="phone_number" class="row middle-xs">
							<span class="icon"><i class="icon-phone"></i></span>
							<span class="text">Phone Number</span>
						</label>
					</div>
					<div class="col-xs-6">
						<input type="tel" value="06 254 15 146" />
					</div>
				</div> <!-- end of .form-group-inline -->
				<div class="section-title">About</div>
				<div class="form-group-inline row middle-xs">
					<div class="col-xs-12">
						<input type="text" value='"This program can help you achieve great things."' />
					</div>
				</div> <!-- end of .form-group-inline -->
				<div class="section-title">Settings</div>
				<div class="form-group-inline row middle-xs">
					<div class="col-xs-6">
						<label for="chat_with_me" class="row middle-xs">
							<span class="text">Chat with me</span>
						</label>
					</div>
					<div class="col-xs-6 row end-xs">
						<ion-toggle checked="true" color="secondary"></ion-toggle>
					</div>
				</div> <!-- end of .form-group-inline -->
				<div class="form-group-inline row middle-xs">
					<div class="col-xs-6">
						<label for="call_with_me" class="row middle-xs">
							<span class="text">Call with me</span>
						</label>
					</div>
					<div class="col-xs-6 row end-xs">
						<ion-toggle checked="true" color="secondary"></ion-toggle>
					</div>
				</div>
			</div>
		</div>
	</div>
</ion-content>
