<div class="row center-xs middle-xs form-navigator mb-xs-30">
	<div class="form-navigator-line">
		<div class="form-navigator-progress" style="width: 50%;"></div>
	</div>
	<div class="col-xs-4 navigator-item row direction-column-xs center-xs middle-xs">
		<div class="icon-container icon-primary"><i class="icon-check"></i></div>
		<div class="text">Personal Info</div>
	</div>
	<div class="col-xs-4 navigator-item row direction-column-xs center-xs middle-xs">
		<div class="icon-container icon-primary"><i class="icon-check"></i></div>
		<div class="text">Program</div>
	</div>
	<div class="col-xs-4 navigator-item row direction-column-xs center-xs middle-xs">
		<div class="icon-container icon-border-primary"><i class="icon-check"></i></div>
		<div class="text">Personal Info</div>
	</div>
</div>
<div class="row middle-xs between-xs mb-xs-30">
	<div class="col-xs-5">
		<h2>Otago Program</h2>
	</div>
	<div class="col-xs-7">
		<div class="row">
			<div class="col-xs-6 pr-xs-10">
				<div class="form-group" style="margin: 0;">
					<div class="dropdown">
						<select>
							<option value="niveau_a">Niveau A</option>
							<option value="niveau_b">Niveau B</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-xs-6 pl-xs-10">
				<div class="form-group" style="margin: 0;">
					<div class="dropdown">
						<select>
							<option value="3x_a_week">3x a week</option>
							<option value="5x_a_week">5x a week</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="otagoProgram-list row between-xs">
	<div class="leftProgram-list">
		<ul>
			<li class="row middle-xs center-xs active">Warm up</li>
			<li class="row middle-xs center-xs">Balance</li>
			<li class="row middle-xs center-xs">Strength</li>
			<li class="row middle-xs center-xs">Cool down</li>
		</ul>
	</div>
	<div class="rightProgram-list col-xs-auto">
		<div class="rightProgramList-item row middle-xs">
			<div class="img-container" style="background-image: url( 'assets/img/programs/sample01.png' );"></div>
			<div class="col-xs-auto pl-xs-20">
				<div class="row middle-xs">
					<div class="col-xs-auto">
						<h3>Knee bending</h3>
						<div class="row middle-xs">
							<div class="repeat">3x repeat</div>
							<div class="time">10 minutes</div>
						</div>
					</div>
					<div class="delete p-xs-10"><i class="icon-bin"></i></div>
					<div class="next row middle-xs center-xs"><i class="icon-arrow2"></i></div>
				</div>
			</div>
		</div>
		<div class="rightProgramList-item row middle-xs">
			<div class="img-container" style="background-image: url( 'assets/img/programs/sample01.png' );"></div>
			<div class="col-xs-auto pl-xs-20">
				<div class="row middle-xs">
					<div class="col-xs-auto">
						<h3>Knee bending</h3>
						<div class="row middle-xs">
							<div class="repeat">3x repeat</div>
							<div class="time">10 minutes</div>
						</div>
					</div>
					<div class="delete p-xs-10"><i class="icon-bin"></i></div>
					<div class="next row middle-xs center-xs"><i class="icon-arrow2"></i></div>
				</div>
			</div>
		</div>
		<div class="rightProgramList-item row middle-xs">
			<div class="img-container" style="background-image: url( 'assets/img/programs/sample01.png' );"></div>
			<div class="col-xs-auto pl-xs-20">
				<div class="row middle-xs">
					<div class="col-xs-auto">
						<h3>Knee bending</h3>
						<div class="row middle-xs">
							<div class="repeat">3x repeat</div>
							<div class="time">10 minutes</div>
						</div>
					</div>
					<div class="delete p-xs-10"><i class="icon-bin"></i></div>
					<div class="next row middle-xs center-xs"><i class="icon-arrow2"></i></div>
				</div>
			</div>
		</div>
		<div class="rightProgramList-item row middle-xs">
			<div class="img-container" style="background-image: url( 'assets/img/programs/sample01.png' );"></div>
			<div class="col-xs-auto pl-xs-20">
				<div class="row middle-xs">
					<div class="col-xs-auto">
						<h3>Knee bending</h3>
						<div class="row middle-xs">
							<div class="repeat">3x repeat</div>
							<div class="time">10 minutes</div>
						</div>
					</div>
					<div class="delete p-xs-10"><i class="icon-bin"></i></div>
					<div class="next row middle-xs center-xs"><i class="icon-arrow2"></i></div>
				</div>
			</div>
		</div>
		<div class="rightProgramList-item row middle-xs">
			<div class="img-container" style="background-image: url( 'assets/img/programs/sample01.png' );"></div>
			<div class="col-xs-auto pl-xs-20">
				<div class="row middle-xs">
					<div class="col-xs-auto">
						<h3>Knee bending</h3>
						<div class="row middle-xs">
							<div class="repeat">3x repeat</div>
							<div class="time">10 minutes</div>
						</div>
					</div>
					<div class="delete p-xs-10"><i class="icon-bin"></i></div>
					<div class="next row middle-xs center-xs"><i class="icon-arrow2"></i></div>
				</div>
			</div>
		</div>
		<div class="rightProgramList-item row middle-xs">
			<div class="img-container" style="background-image: url( 'assets/img/programs/sample01.png' );"></div>
			<div class="col-xs-auto pl-xs-20">
				<div class="row middle-xs">
					<div class="col-xs-auto">
						<h3>Knee bending</h3>
						<div class="row middle-xs">
							<div class="repeat">3x repeat</div>
							<div class="time">10 minutes</div>
						</div>
					</div>
					<div class="delete p-xs-10"><i class="icon-bin"></i></div>
					<div class="next row middle-xs center-xs"><i class="icon-arrow2"></i></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="btn-panel row middle-xs between-xs mt-xs-50">
	<div>
		<a class="btn-primary row middle-xs center-xs">+ Add Exercise</a>
	</div>
	<div>
		<a class="btn btn-secondary" (click)="changeWalkProgram()">Save</a>
	</div>
	<div>&nbsp;</div>
</div>