page-modal-change-program {
	.otagoProgram-list {
		background: #fafbfb;
		border-radius: 10px;

		.leftProgram-list {
			width: 105px;

			ul {
				li {
					background: #efefef;
					height: 60px;
					width: 100%;
					border: 1px solid #d6d7d7;
					border-bottom: 0;
					border-left: 0;

					&:first-child {
						border-top-left-radius: 10px;
						border-top: 0;
					}

					&:last-child {
						border-bottom-left-radius: 10px;
					}

					&.active {
						background: #fafbfb;
						border: 0;
					}
				}
			}
		}

		.rightProgram-list {
			height: 240px;
			overflow-y: auto;

			.rightProgramList-item {
				padding: 10px 0 10px 10px;
				border-bottom: 1px solid #eff0f0;
				color: #d0cfcf;

				&:last-child {
					border: 0;
				}

				.img-container {
					width: 80px;
					height: 55px;
					background-size: cover;
					background-position: center;
				}

				h3 {
					color: #000;
				}

				.repeat {
					font: 0.857em/1.45 $baseFont;
				}

				.time {
					font: 0.857em/1.45 $baseFont;
				}

				.delete {
					font: 28px/1.45 'Fontello';
				}

				.next {
					border-left: 1px solid #f2f3f3;
					width: 60px;
					height: 60px;
				}
			}
		}
	}
}
