<ion-content no-bounce>
	<div class="content-details">
		<div class="row">
			<side-menu></side-menu>
			<div class="left-content">
				<div class="filter-section">
					<input type="search" placeholder="Search" />
					<ul class="row middle-xs center-xs">
						<li>Name</li>
						<li class="active">Last Seen</li>
						<li>Appointment</li>
					</ul>
				</div> <!-- end of .filter-section -->
				<div class="clients-list">
					<div class="client-item active">
						<div class="icon-warning">!</div>
						<h3>Jan Klaver</h3>
						<div class="details">
							<p>Last seen: <span>11-03-2017</span></p>
							<p>appointment: <span>5 Jun</span></p>
						</div>
					</div>
					<div class="client-item">
						<div class="icon-warning">!</div>
						<h3>Maria Verhoef</h3>
						<div class="details">
							<p>Last seen: <span>10-01-2017</span></p>
							<p>appointment: <span>24 May</span></p>
						</div>
					</div>
					<div class="client-item">
						<h3>Henk Jan</h3>
						<div class="details">
							<p>Last seen: <span>Yesterday</span></p>
							<p>appointment: <span>24 Aug</span></p>
						</div>
					</div>
					<div class="client-item">
						<h3>Henk Jan</h3>
						<div class="details">
							<p>Last seen: <span>Yesterday</span></p>
							<p>appointment: <span>24 Aug</span></p>
						</div>
					</div>
					<div class="client-item">
						<h3>Henk Jan</h3>
						<div class="details">
							<p>Last seen: <span>Yesterday</span></p>
							<p>appointment: <span>24 Aug</span></p>
						</div>
					</div>
					<div class="client-item">
						<h3>Henk Jan</h3>
						<div class="details">
							<p>Last seen: <span>Yesterday</span></p>
							<p>appointment: <span>24 Aug</span></p>
						</div>
					</div>
					<div class="client-item">
						<h3>Henk Jan</h3>
						<div class="details">
							<p>Last seen: <span>Yesterday</span></p>
							<p>appointment: <span>24 Aug</span></p>
						</div>
					</div>
					<div class="client-item">
						<h3>Henk Jan</h3>
						<div class="details">
							<p>Last seen: <span>Yesterday</span></p>
							<p>appointment: <span>24 Aug</span></p>
						</div>
					</div>
					<div class="client-item">
						<h3>Henk Jan</h3>
						<div class="details">
							<p>Last seen: <span>Yesterday</span></p>
							<p>appointment: <span>24 Aug</span></p>
						</div>
					</div>
				</div>
				<div class="add-client row middle-xs center-xs pt-xs-10 pb-xs-10">
					<div>
						<button class="btn-primary row middle-xs center-xs" (click)="addClient()">Add Client</button>
					</div>
				</div>
			</div> <!-- end of .clients-list-sidebar -->
			<div class="right-content col-xs-auto">
				<div class="row middle-xs end-xs p-xs-30">
					<div class="icon-container icon-secondary"><i class="icon-call"></i></div>
					<div class="icon-container icon-secondary ml-xs-10"><i class="icon-chat"></i></div>
				</div>
				<div class="row middle-xs center-xs">
					<div class="profile-picture" style="background-image: url( 'assets/img/profile-pictures/sample01.jpg' );"></div>
				</div>
				<h2 class="text-white text-xs-center mt-xs-10">Jan Klaver</h2>
				<h3 class="text-xs-center text-white p-xs-50">"To be able to take walks with my grandchildren again."</h3>
				<div class="btn-panel row middle-xs center-xs">
					<div>
						<a (click)="goClientDetail()" class="btn-primary row middle-xs center-xs">View Profile</a>
					</div>
				</div>
				<p class="row middle-xs center-xs text-white mt-xs-50">
					<span class="icon-warning mr-xs-10">!</span>
					Attention! hasn't completed any exercises the last 8 days
				</p>
			</div>
		</div>
	</div>
</ion-content>