<ion-content no-bounce>
	<div class="installPassword-page">
		<div class="content-details row middle-xs center-xs">
			<div class="installPassword-form p-xs-30">
				<h1 class="text-xs-center">It works!</h1>
				<p class="text-xs-center">Choose a password to be able to log in at all times</p>
				<div class="upload-photo row middle-xs center-xs">
					<i class="icon-plus"></i>
				</div> <!-- end of .upload-photo -->
				<p class="text-xs-center mb-xs-30"><strong>Choose profile picture</strong></p>
				<div class="form-group">
					<input type="email" placeholder="Email Address" />
				</div>
				<div class="form-group">
					<input type="password" placeholder="Type in password" />
				</div>
				<div class="form-group">
					<input type="password" placeholder="Repeat password" />
				</div>
				<div class="btn-panel row middle-xs center-xs mt-xs-50">
					<div class="mr-xs-10">
						<a (click)="activateCode()">Cancel</a>
					</div>
					<div class="ml-xs-10">
						<a (click)="signinWelcome()" class="btn btn-secondary">Continue</a>
					</div>
				</div>
			</div> <!-- end of .installPassword-form -->
		</div> <!-- end of .content-details -->
	</div> <!-- end of .installPassword-page -->
</ion-content>