page-install-password {
	.installPassword-page {
		.content-details {
			.installPassword-form {
				background: #fff;
				width: 100%;
				max-width: 410px;
				margin: 0 auto;
				box-shadow: 0 0 10px -4px #000;
				border-radius: 5px;

				.upload-photo {
					background: $secondary;
					border-radius: 50%;
					width: 60px;
					height: 60px;
					margin: 20px auto 10px;
					color: #fff;
					font-size: 24px;
				}
			}
		}
	}
}
